openapi: 3.0.2
info:
  description: 'This document describes the PagerDuty REST APIs.


    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)


    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).


    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.

    '
  contact:
    name: PagerDuty Support
    url: http://www.pagerduty.com/support
    email: support@pagerduty.com
  title: PagerDuty Abilities Analytics API
  version: 2.0.0
servers:
- url: https://api.pagerduty.com
  description: PagerDuty V2 API.
security:
- api_key: []
tags:
- name: Analytics
  description: 'Provides enriched incident data.

    '
paths:
  /analytics/metrics/incidents/all:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated incident data
      operationId: getAnalyticsMetricsIncidentsAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        title: Analytics Incident Metrics
                        type: object
                        properties:
                          mean_assignment_count:
                            type: integer
                            description: Mean count of instances where responders were assigned an incident (including through reassignment or escalation) or accepted a responder request.
                          mean_engaged_seconds:
                            type: integer
                            description: 'Mean engaged time across all responders.

                              Engaged time is measured from the time a user engages with an incident (by

                              acknowledging or accepting a responder request) until the incident is resolved.

                              This may include periods in which the incidents were snoozed.'
                          mean_engaged_user_count:
                            type: integer
                            description: 'Mean number of users who engaged with an incident. *Engaged* is defined as

                              acknowledging an incident or accepting a responder request in it.'
                          mean_seconds_to_engage:
                            type: integer
                            description: 'A measure of *people response time*. This metric measures the time from

                              the first user engagement (acknowledge or responder accept) to the last.

                              This metric is only used for incidents with **multiple responders**;

                              for incidents with one or no engaged users, this value is null.'
                          mean_seconds_to_first_ack:
                            type: integer
                            description: Mean time between the start of an incident, and the first responder to acknowledge.
                          mean_seconds_to_mobilize:
                            type: integer
                            description: 'Mean time between the start of an incident, and the last additional responder

                              to acknowledge. For incidents with one or no engaged users, this value is null.'
                          mean_seconds_to_resolve:
                            type: integer
                            description: Mean time from when an incident was triggered until it was resolved.
                          mean_user_defined_engaged_seconds:
                            type: integer
                            description: "Mean engaged time across all responders. Engaged time is measured from the time \na user engages with an incident (by acknowledging or accepting a responder request) \nuntil the incident is resolved. This may include periods in which the incidents were snoozed.\nThis metric uses the incident response effort values that \n[users have defined](https://support.pagerduty.com/docs/edit-incidents#edit-incident-duration),\nif they exist."
                          p50_seconds_to_first_ack:
                            type: integer
                            description: Median time between the start of an incident, and the first responder to acknowledge.
                          p50_seconds_to_resolve:
                            type: integer
                            description: Median time from when an incident was triggered until it was resolved.
                          p75_seconds_to_first_ack:
                            type: integer
                            description: 75th percentile for the time between the start of an incident, and the first responder to acknowledge.
                          p75_seconds_to_resolve:
                            type: integer
                            description: 75th percentile for the time when an incident was triggered until it was resolved.
                          p90_seconds_to_first_ack:
                            type: integer
                            description: 90th percentile for the time between the start of an incident, and the first responder to acknowledge.
                          p90_seconds_to_resolve:
                            type: integer
                            description: 90th percentile for the time when an incident was triggered until it was resolved.
                          p95_seconds_to_first_ack:
                            type: integer
                            description: 95th percentile for the time between the start of an incident, and the first responder to acknowledge.
                          p95_seconds_to_resolve:
                            type: integer
                            description: 95th percentile for the time when an incident was triggered until it was resolved.
                          range_start:
                            type: string
                            description: Start of the date range for which the metrics were calculated. Only included when an aggregate unit is specified in the request.
                          service_id:
                            type: string
                            description: ID of the service. Only included when aggregating by service. Not included when aggregating by all.
                          service_name:
                            type: string
                            description: Name of the service. Only included when aggregating by service. Not included when aggregating by all.
                          team_id:
                            type: string
                            description: ID of the team to which the incident was assigned. Not included when aggregating by all.
                          team_name:
                            type: string
                            description: Name of the team to which the incident was assigned. Not included when aggregating by all.
                          total_business_hour_interruptions:
                            type: integer
                            description: Total number of unique interruptions during business hours; 8am-6pm Mon-Fri, based on the user’s time zone.
                          total_engaged_seconds:
                            type: integer
                            description: 'Total engaged time across all responders. Engaged time is measured from

                              the time a user engages with an incident (by acknowledging or accepting a responder request)

                              until the incident is resolved. This may include periods in which the incidents were snoozed.'
                          total_escalation_count:
                            type: integer
                            description: 'Total count of instances where an incident is escalated between responders

                              assigned to an escalation policy.'
                          total_incident_count:
                            type: integer
                            description: The total number of incidents that were created.
                          total_incidents_acknowledged:
                            type: integer
                            description: "The total count of assigned incidents acknowledged. \nOnly explicit incident acknowledgment counts; reassign, resolve, and escalation actions do not imply acknowledgement."
                          total_incidents_auto_resolved:
                            description: "The total count of incidents that were resolved automatically. \nThis count includes incidents resolved via an integration and those that were [auto-resolved in PagerDuty](https://support.pagerduty.com/docs/configurable-service-settings#auto-resolution)."
                          total_incidents_manual_escalated:
                            type: integer
                            description: The total count of incidents that were manually escalated.
                          total_incidents_reassigned:
                            type: integer
                            description: The total count of incidents that were reassigned.
                          total_incidents_timeout_escalated:
                            type: integer
                            description: The total count of incidents that were escalated due to timeouts.
                          total_interruptions:
                            type: integer
                            description: Total number of unique interruptions.
                          total_notifications:
                            type: integer
                            description: The total count of incident notifications sent via email, SMS, phone call and push.
                          total_off_hour_interruptions:
                            type: integer
                            description: Total number of unique interruptions during off hours; 6pm-10pm Mon-Fri and all day Sat-Sun, based on the user’s time zone.
                          total_sleep_hour_interruptions:
                            type: integer
                            description: 'Total number of unique interruptions during sleep hours.

                              Sleep hours: 10pm-8am every day, based on the user’s time zone.'
                          total_snoozed_seconds:
                            type: integer
                            description: Total number of seconds incidents were snoozed.
                          total_user_defined_engaged_seconds:
                            type: integer
                            description: "Total engaged time across all responders. Engaged time is measured from\nthe time a user engages with an incident (by acknowledging or accepting a responder request)\nuntil the incident is resolved. This may include periods in which the incidents were snoozed.\nThis metric uses the edited incident response effort values that \n[users have defined](https://support.pagerduty.com/docs/edit-incidents#edit-incident-duration),\nif they exist."
                          up_time_pct:
                            type: number
                            description: 'The percentage of time in the defined date range that the service was not interrupted

                              by a [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents).

                              Only included when aggregating by team, escalation policy, service, or all services.'
                - $ref: '#/components/schemas/AnalyticsModel'
              examples:
                Example Response:
                  value:
                    aggregate_unit: day
                    data:
                    - mean_assignment_count: 1
                      mean_engaged_seconds: 366
                      mean_engaged_user_count: 1
                      mean_seconds_to_engage: 81
                      mean_seconds_to_first_ack: 63
                      mean_seconds_to_mobilize: 41
                      mean_seconds_to_resolve: 380
                      mean_user_defined_engaged_seconds: 366
                      range_start: '2024-01-01T00:00:00'
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 3591
                      total_escalation_count: 5
                      total_incident_count: 124
                      total_incidents_acknowledged: 0
                      total_incidents_auto_resolved: 0
                      total_incidents_manual_escalated: 0
                      total_incidents_reassigned: 0
                      total_incidents_timeout_escalated: 0
                      total_interruptions: 2
                      total_notifications: 2
                      total_off_hour_interruptions: 20
                      total_sleep_hour_interruptions: 21
                      total_snoozed_seconds: 78
                      total_user_defined_engaged_seconds: 3591
                    filters:
                      create_range_start: '2024-01-01T00:00:00Z'
                      create_range_end: '2024-02-01T00:00:00Z'
                      urgency: high
                      major: true
                      team_ids:
                      - PGVXG6U
                      - PNVU4U4
                      service_ids:
                      - PQVUB8D
                      - PU2D9X3
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsModel'
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2024-01-01T00:00:00-05:00'
                    created_at_end: '2024-01-31T00:00:00-05:00'
                    urgency: high
                    major: true
                    team_ids:
                    - PGVXG6U
                    - PNVU4U4
                    service_ids:
                    - PQVUB8D
                    - PU2D9X3
                  aggregate_unit: day
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated enriched metrics for incidents.


        The provided metrics are aggregated by day, week, month using the aggregate_unit parameter, or for the entire period if no aggregate_unit is provided.


        <!-- theme: info -->

        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.

        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/incidents/escalation_policies:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated escalation policy data
      operationId: getAnalyticsMetricsIncidentsEscalationPolicy
      responses:
        '200':
          description: Only returns data for escalation policies that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsIncidentMetricsEscalationPolicy'
                - $ref: '#/components/schemas/AnalyticsModel'
              examples:
                Example Response:
                  value:
                    data:
                    - distinct_responder_count: 1
                      escalation_policy_id: PDESCP1
                      escalation_policy_name: Escalation Policy 1
                      mean_assignment_count: 1
                      mean_engaged_seconds: 81
                      mean_engaged_user_count: 63
                      mean_seconds_to_engage: 41
                      mean_seconds_to_first_ack: 380
                      mean_seconds_to_mobilize: 81
                      mean_seconds_to_resolve: 3591
                      mean_user_defined_engaged_seconds: 81
                      team_id: PDTEAM1
                      team_name: Team 1
                      total_business_hour_interruptions: 5
                      total_engaged_seconds: 124
                      total_escalation_count: 20
                      total_incident_count: 21
                      total_incidents_acknowledged: 78
                      total_incidents_auto_resolved: 3
                      total_incidents_manual_escalated: 3
                      total_incidents_reassigned: 4
                      total_incidents_timeout_escalated: 1
                      total_interruptions: 1
                      total_notifications: 23
                      total_off_hour_interruptions: 3
                      total_sleep_hour_interruptions: 1
                      total_snoozed_seconds: 341
                      total_user_defined_engaged_seconds: 124
                      up_time_pct: 9.124123
                    - distinct_responder_count: 1
                      escalation_policy_id: PDESCP2
                      escalation_policy_name: Escalation Policy 2
                      mean_assignment_count: 1
                      mean_engaged_seconds: 81
                      mean_engaged_user_count: 63
                      mean_seconds_to_engage: 41
                      mean_seconds_to_first_ack: 380
                      mean_seconds_to_mobilize: 81
                      mean_seconds_to_resolve: 3591
                      mean_user_defined_engaged_seconds: 81
                      team_id: PDTEAM1
                      team_name: Team 1
                      total_business_hour_interruptions: 5
                      total_engaged_seconds: 124
                      total_escalation_count: 20
                      total_incident_count: 21
                      total_incidents_acknowledged: 78
                      total_incidents_auto_resolved: 3
                      total_incidents_manual_escalated: 3
                      total_incidents_reassigned: 4
                      total_incidents_timeout_escalated: 1
                      total_interruptions: 1
                      total_notifications: 23
                      total_off_hour_interruptions: 3
                      total_sleep_hour_interruptions: 1
                      total_snoozed_seconds: 341
                      total_user_defined_engaged_seconds: 124
                      up_time_pct: 9.124123
                    filters:
                      created_at_start: '2023-06-10T00:00:00Z'
                      created_at_end: '2023-06-12T00:00:00Z'
                      urgency: high
                      major: true
                      escalation_policy_ids:
                      - PDESCP1
                      - PDESCP2
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsModel'
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2023-06-10T00:00:00-07:00'
                    created_at_end: '2023-06-11T23:59:59-07:00'
                    urgency: high
                    major: true
                    escalation_policy_ids:
                    - PDESCP1
                    - PDESCP2
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated metrics for incidents aggregated into units of time by escalation policy.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#escalation-policy-list).


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/incidents/escalation_policies/all:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated metrics for all escalation policies
      operationId: getAnalyticsMetricsIncidentsEscalationPolicyAll
      responses:
        '200':
          description: Only returns data for escalation policies that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsIncidentMetricsEscalationPolicy'
                - $ref: '#/components/schemas/AnalyticsModel'
              examples:
                Example Response:
                  value:
                    data:
                    - distinct_responder_count: 1
                      mean_assignment_count: 1
                      mean_engaged_seconds: 81
                      mean_engaged_user_count: 63
                      mean_seconds_to_engage: 41
                      mean_seconds_to_first_ack: 380
                      mean_seconds_to_mobilize: 81
                      mean_seconds_to_resolve: 3591
                      mean_user_defined_engaged_seconds: 81
                      total_business_hour_interruptions: 5
                      total_engaged_seconds: 124
                      total_escalation_count: 20
                      total_incident_count: 21
                      total_incidents_acknowledged: 78
                      total_incidents_auto_resolved: 3
                      total_incidents_manual_escalated: 3
                      total_incidents_reassigned: 4
                      total_incidents_timeout_escalated: 1
                      total_interruptions: 1
                      total_notifications: 23
                      total_off_hour_interruptions: 3
                      total_sleep_hour_interruptions: 1
                      total_snoozed_seconds: 341
                      total_user_defined_engaged_seconds: 124
                      up_time_pct: 9.124123
                    filters:
                      created_at_start: '2023-06-17T07:00:00Z'
                      created_at_end: '2023-07-02T06:59:59Z'
                      escalation_policy_ids:
                      - PDESCP1
                      - PDESCP2
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsModel'
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2023-06-17T00:00:00-07:00'
                    created_at_end: '2023-07-01T23:59:59-07:00'
                    escalation_policy_ids:
                    - PDESCP1
                    - PDESCP2
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated metrics across all escalation policies.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#escalation-policy-list).


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/incidents/services:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated service data
      operationId: getAnalyticsMetricsIncidentsService
      responses:
        '200':
          description: Only returns data for services that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsIncidentMetrics'
                - $ref: '#/components/schemas/AnalyticsModel'
              examples:
                Example Response:
                  value:
                    aggregate_unit: day
                    data:
                    - mean_assignment_count: 1
                      mean_engaged_seconds: 366
                      mean_engaged_user_count: 1
                      mean_seconds_to_engage: 81
                      mean_seconds_to_first_ack: 63
                      mean_seconds_to_mobilize: 41
                      mean_seconds_to_resolve: 380
                      mean_user_defined_engaged_seconds: 366
                      range_start: '2023-06-11T00:00:00'
                      service_id: PPSCXAN
                      service_name: Critical Prod Service 1
                      team_id: P3XUQ75
                      team_name: Engineering
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 3591
                      total_escalation_count: 5
                      total_incident_count: 124
                      total_incidents_acknowledged: 1
                      total_incidents_auto_resolved: 12
                      total_incidents_manual_escalated: 9
                      total_incidents_reassigned: 1
                      total_incidents_timeout_escalated: 4
                      total_interruptions: 1
                      total_notifications: 342
                      total_off_hour_interruptions: 20
                      total_sleep_hour_interruptions: 21
                      total_snoozed_seconds: 78
                      total_user_defined_engaged_seconds: 3591
                      up_time_pct: 99.92677595628416
                    - mean_assignment_count: 12
                      mean_engaged_seconds: 432
                      mean_engaged_user_count: 1
                      mean_seconds_to_engage: 77
                      mean_seconds_to_first_ack: 32
                      mean_seconds_to_mobilize: 32
                      mean_seconds_to_resolve: 87
                      mean_user_defined_engaged_seconds: 432
                      range_start: '2023-06-10T00:00:00'
                      service_id: PPSCXAN
                      service_name: Critical Prod Service 1
                      team_id: P3XUQ75
                      team_name: Engineering
                      total_business_hour_interruptions: 12
                      total_engaged_seconds: 3645
                      total_escalation_count: 5
                      total_incident_count: 124
                      total_incidents_acknowledged: 1
                      total_incidents_auto_resolved: 12
                      total_incidents_manual_escalated: 9
                      total_incidents_reassigned: 1
                      total_incidents_timeout_escalated: 4
                      total_interruptions: 1
                      total_notifications: 32
                      total_off_hour_interruptions: 42
                      total_sleep_hour_interruptions: 3
                      total_snoozed_seconds: 123
                      total_user_defined_engaged_seconds: 3645
                      up_time_pct: 99.234416
                    filters:
                      created_at_start: '2023-06-10T00:00:00Z'
                      created_at_end: '2023-06-12T00:00:00Z'
                      team_ids:
                      - P3XUQ75
                      service_ids:
                      - PPSCXAN
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsModel'
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2023-06-10T00:00:00-07:00'
                    created_at_end: '2023-06-11T23:59:59-07:00'
                    urgency: high
                    major: true
                    team_ids:
                    - P3XUQ75
                    service_ids:
                    - PPSCXAN
                  aggregate_unit: day
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated metrics for incidents aggregated into units of time by service.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#services-list).

        Data can be aggregated by day, week or month in addition to by service, or provided just as a collection of aggregates for each service in the dataset for the entire period.  If a unit is provided, each row in the returned dataset will include a ''range_start'' timestamp.


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/incidents/services/all:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated metrics for all services
      operationId: getAnalyticsMetricsIncidentsServiceAll
      responses:
        '200':
          description: Only returns data for services that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsIncidentMetrics'
                - $ref: '#/components/schemas/AnalyticsModel'
              examples:
                Example Response:
                  value:
                    data:
                    - mean_assignment_count: 1
                      mean_engaged_seconds: 366
                      mean_engaged_user_count: 1
                      mean_seconds_to_engage: 81
                      mean_seconds_to_first_ack: 63
                      mean_seconds_to_mobilize: 41
                      mean_seconds_to_resolve: 380
                      mean_user_defined_engaged_seconds: 366
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 3591
                      total_escalation_count: 5
                      total_incident_count: 124
                      total_incidents_acknowledged: 1
                      total_incidents_auto_resolved: 12
                      total_incidents_manual_escalated: 9
                      total_incidents_reassigned: 1
                      total_incidents_timeout_escalated: 4
                      total_interruptions: 1
                      total_notifications: 342
                      total_off_hour_interruptions: 20
                      total_sleep_hour_interruptions: 21
                      total_snoozed_seconds: 78
                      total_user_defined_engaged_seconds: 3591
                      up_time_pct: 99.92677595628416
                    filters:
                      created_at_start: '2023-06-17T07:00:00Z'
                      created_at_end: '2023-07-02T06:59:59Z'
                      service_ids:
                      - PQVUB8D
                      - PU2D9X3
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsModel'
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2023-06-17T00:00:00-07:00'
                    created_at_end: '2023-07-01T23:59:59-07:00'
                    service_ids:
                    - PQVUB8D
                    - PU2D9X3
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated metrics across all services.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#services-list).


        <!-- theme: info -->

        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.

        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/incidents/teams:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated team data
      operationId: getAnalyticsMetricsIncidentsTeam
      responses:
        '200':
          description: Only returns data for teams that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsIncidentMetrics'
                - $ref: '#/components/schemas/AnalyticsModel'
              examples:
                Example Response:
                  value:
                    aggregate_unit: day
                    data:
                    - mean_assignment_count: 1
                      mean_engaged_seconds: 366
                      mean_engaged_user_count: 1
                      mean_seconds_to_engage: 81
                      mean_seconds_to_first_ack: 63
                      mean_seconds_to_mobilize: 41
                      mean_seconds_to_resolve: 380
                      mean_user_defined_engaged_seconds: 366
                      range_start: '2023-06-11T00:00:00'
                      team_id: P3XUQ75
                      team_name: Engineering
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 3591
                      total_escalation_count: 5
                      total_incident_count: 124
                      total_incidents_acknowledged: 1
                      total_incidents_auto_resolved: 12
                      total_incidents_manual_escalated: 9
                      total_incidents_reassigned: 1
                      total_incidents_timeout_escalated: 4
                      total_interruptions: 1
                      total_notifications: 342
                      total_off_hour_interruptions: 20
                      total_sleep_hour_interruptions: 21
                      total_snoozed_seconds: 78
                      total_user_defined_engaged_seconds: 3591
                      up_time_pct: 99.92677595628416
                    - mean_assignment_count: 12
                      mean_engaged_seconds: 432
                      mean_engaged_user_count: 1
                      mean_seconds_to_engage: 77
                      mean_seconds_to_first_ack: 32
                      mean_seconds_to_mobilize: 32
                      mean_seconds_to_resolve: 87
                      mean_user_defined_engaged_seconds: 432
                      range_start: '2023-06-10T00:00:00'
                      team_id: P3XUQ75
                      team_name: Engineering
                      total_business_hour_interruptions: 12
                      total_engaged_seconds: 3645
                      total_escalation_count: 5
                      total_incident_count: 124
                      total_incidents_acknowledged: 1
                      total_incidents_auto_resolved: 12
                      total_incidents_manual_escalated: 9
                      total_incidents_reassigned: 1
                      total_incidents_timeout_escalated: 4
                      total_interruptions: 1
                      total_notifications: 32
                      total_off_hour_interruptions: 42
                      total_sleep_hour_interruptions: 3
                      total_snoozed_seconds: 123
                      total_user_defined_engaged_seconds: 3645
                      up_time_pct: 99.234416
                    filters:
                      created_at_start: '2023-06-10T00:00:00Z'
                      created_at_end: '2023-06-12T00:00:00Z'
                      urgency: high
                      major: true
                      team_ids:
                      - P3XUQ75
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsModel'
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2023-06-10T00:00:00-07:00'
                    created_at_end: '2023-06-11T23:59:59-07:00'
                    urgency: high
                    major: true
                    team_ids:
                    - P3XUQ75
                  aggregate_unit: day
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated metrics for incidents aggregated into units of time by team.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#teams-list).

        Data can be aggregated by day, week or month in addition to by team, or provided just as a collection of aggregates for each team in the dataset for the entire period.  If a unit is provided, each row in the returned dataset will include a ''range_start'' timestamp.


        <!-- theme: info -->

        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.

        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/incidents/teams/all:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated metrics for all teams
      operationId: getAnalyticsMetricsIncidentsTeamAll
      responses:
        '200':
          description: Only returns data for teams that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsIncidentMetrics'
                - $ref: '#/components/schemas/AnalyticsModel'
              examples:
                Example Response:
                  value:
                    data:
                    - mean_assignment_count: 1
                      mean_engaged_seconds: 366
                      mean_engaged_user_count: 1
                      mean_seconds_to_engage: 81
                      mean_seconds_to_first_ack: 63
                      mean_seconds_to_mobilize: 41
                      mean_seconds_to_resolve: 380
                      mean_user_defined_engaged_seconds: 366
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 3591
                      total_escalation_count: 5
                      total_incident_count: 124
                      total_incidents_acknowledged: 1
                      total_incidents_auto_resolved: 12
                      total_incidents_manual_escalated: 9
                      total_incidents_reassigned: 1
                      total_incidents_timeout_escalated: 4
                      total_interruptions: 1
                      total_notifications: 342
                      total_off_hour_interruptions: 20
                      total_sleep_hour_interruptions: 21
                      total_snoozed_seconds: 78
                      total_user_defined_engaged_seconds: 3591
                    filters:
                      created_at_start: '2023-06-10T00:00:00Z'
                      created_at_end: '2023-06-12T00:00:00Z'
                      urgency: high
                      major: true
                      team_ids:
                      - P3XUQ75
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsModel'
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2023-06-10T00:00:00-07:00'
                    created_at_end: '2023-06-11T23:59:59-07:00'
                    urgency: high
                    major: true
                    team_ids:
                    - P3XUQ75
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated metrics across all teams.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#teams-list).


        <!-- theme: info -->

        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.

        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/responders/all:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get aggregated metrics for all responders
      operationId: getAnalyticsMetricsRespondersAll
      responses:
        '200':
          description: Only returns data for responders that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsResponderMetrics'
                - $ref: '#/components/schemas/AnalyticsResponderFilter'
              examples:
                Example Response:
                  value:
                    data:
                    - mean_engaged_seconds: 366
                      mean_time_to_acknowledge_seconds: 1
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 63
                      total_incident_count: 41
                      total_incidents_acknowledged: 380
                      total_incidents_manual_escalated_from: 81
                      total_incidents_manual_escalated_to: 3591
                      total_incidents_reassigned_from: 5
                      total_incidents_reassigned_to: 124
                      total_incidents_timeout_escalated_from: 20
                      total_incidents_timeout_escalated_to: 21
                      total_interruptions: 4
                      total_notifications: 78
                      total_off_hour_interruptions: 23
                      total_seconds_on_call: 604799
                      total_seconds_on_call_level_1: 126000
                      total_seconds_on_call_level_2_plus: 604799
                      total_sleep_hour_interruptions: 0
                    filters:
                      date_range_start: '2023-06-10T00:00:00Z'
                      date_range_end: '2023-06-12T00:00:00Z'
                      responder_ids:
                      - PDUSER1
                      - PDUSER2
                      urgency: high
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsResponderFilter'
            examples:
              Example Request:
                value:
                  filters:
                    date_range_start: '2023-06-10T00:00:00-07:00'
                    date_range_end: '2023-06-11T23:59:59-07:00'
                    urgency: high
                    responder_ids:
                    - PDUSER1
                    - PDUSER2
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides aggregated incident metrics for all selected responders.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#responders-list).


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/metrics/responders/teams:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get responder data aggregated by team
      operationId: getAnalyticsMetricsRespondersTeam
      responses:
        '200':
          description: Only returns data for responders and teams that match the filters and have data.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AnalyticsResponderMetrics'
                - $ref: '#/components/schemas/AnalyticsResponderFilter'
              examples:
                Example Response:
                  value:
                    data:
                    - mean_engaged_seconds: 366
                      mean_time_to_acknowledge_seconds: 1
                      responder_id: PDUSER1
                      responder_name: User 1
                      team_id: PPSCXAN
                      team_name: 'Best Team A #1'
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 63
                      total_incident_count: 41
                      total_incidents_acknowledged: 380
                      total_incidents_manual_escalated_from: 81
                      total_incidents_manual_escalated_to: 3591
                      total_incidents_reassigned_from: 5
                      total_incidents_reassigned_to: 124
                      total_incidents_timeout_escalated_from: 20
                      total_incidents_timeout_escalated_to: 21
                      total_interruptions: 4
                      total_notifications: 78
                      total_off_hour_interruptions: 23
                      total_seconds_on_call: 604799
                      total_seconds_on_call_level_1: 126000
                      total_seconds_on_call_level_2_plus: 604799
                      total_sleep_hour_interruptions: 0
                    - mean_engaged_seconds: 366
                      mean_time_to_acknowledge_seconds: 1
                      responder_id: PDUSER2
                      responder_name: User 2
                      team_id: PPSCXAN
                      team_name: 'Best Team A #1'
                      total_business_hour_interruptions: 81
                      total_engaged_seconds: 63
                      total_incident_count: 41
                      total_incidents_acknowledged: 380
                      total_incidents_manual_escalated_from: 81
                      total_incidents_manual_escalated_to: 3591
                      total_incidents_reassigned_from: 5
                      total_incidents_reassigned_to: 124
                      total_incidents_timeout_escalated_from: 20
                      total_incidents_timeout_escalated_to: 21
                      total_interruptions: 6
                      total_notifications: 78
                      total_off_hour_interruptions: 23
                      total_seconds_on_call: 120000
                      total_seconds_on_call_level_1: 120000
                      total_seconds_on_call_level_2_plus: 0
                      total_sleep_hour_interruptions: 0
                    filters:
                      date_range_start: '2023-06-10T00:00:00Z'
                      date_range_end: '2023-06-12T00:00:00Z'
                      responder_ids:
                      - PDUSER1
                      - PDUSER2
                      urgency: high
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsResponderFilter'
            examples:
              Example Request:
                value:
                  filters:
                    date_range_start: '2023-06-10T00:00:00-07:00'
                    date_range_end: '2023-06-11T23:59:59-07:00'
                    urgency: high
                    responder_ids:
                    - PDUSER1
                    - PDUSER2
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides incident metrics aggregated by responder.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#responders-list).


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/raw/incidents:
    parameters: []
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get raw data - multiple incidents
      operationId: getAnalyticsIncidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  first:
                    type: string
                    description: Cursor to identify the first object in the response.
                  last:
                    type: string
                    description: Cursor to identify the last object in the response.
                  limit:
                    type: integer
                    description: Number of results to include in the batch.
                  more:
                    type: boolean
                    description: Indicates if there are more resources available than were returned.
                  order:
                    type: string
                    description: The order in which the results were sorted;  asc for ascending, desc for descending.
                    enum:
                    - asc
                    - desc
                  order_by:
                    type: string
                    description: The column that was used for ordering the results.
                    enum:
                    - created_at
                    - seconds_to_resolve
                    - updated_at
                  filters:
                    type: object
                    description: A collection of filters that were applied to the results.
                    properties:
                      created_at_start:
                        type: string
                        description: The lower boundary for the created_at range filter applied to the results.
                      created_at_end:
                        type: string
                        description: The upper boundary for the created_at range filter applied to the results.
                      urgency:
                        type: string
                        description: The urgency filter applied to the results.
                        enum:
                        - high
                        - low
                      major:
                        type: boolean
                        description: The [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents) filter applied to the results.
                      team_ids:
                        type: array
                        description: The team_ids filter applied to the results.
                        items:
                          type: string
                      service_ids:
                        type: array
                        description: The service_ids filter applied to the results.
                        items:
                          type: string
                      priority_ids:
                        type: array
                        description: The priority_ids filter applied to the results.
                        maxItems: 5
                        items:
                          type: string
                      priority_names:
                        type: array
                        description: The priority_names filter applied to the results.
                        maxItems: 5
                        items:
                          type: string
                  time_zone:
                    type: string
                    description: The time zone that the results are in.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyticsRawIncident'
                required:
                - first
                - last
                - limit
                - more
                - order
                - order_by
                - time_zone
                - data
              examples:
                Example Response:
                  value:
                    data:
                    - acknowledged_user_ids:
                      - PRJ4208
                      acknowledged_user_names:
                      - John Smith
                      acknowledgement_count: 1
                      active_user_count: 3
                      assigned_user_ids:
                      - PRJ4208
                      - PA02301
                      assigned_user_names:
                      - John Smith
                      - Jane Doe
                      assignment_count: 2
                      auto_resolved: false
                      business_hour_interruptions: 5
                      created_at: '2023-05-31T10:05:00'
                      updated_at: '2023-06-04T00:00:00'
                      description: The server is on fire!
                      engaged_seconds: 3510
                      engaged_user_count: 10
                      escalation_count: 1
                      escalation_policy_id: PDESCP1
                      escalation_policy_name: Escalation Policy 1
                      id: PYC0H08
                      incident_number: 928
                      joined_user_ids:
                      - PRJ4208
                      - PA02301
                      - P40D0J1
                      joined_user_names:
                      - John Smith
                      - Jane Doe
                      - Wanda Evans
                      major: false
                      manual_escalation_count: 0
                      off_hour_interruptions: 4
                      priority_id: null
                      priority_name: null
                      priority_order: null
                      reassignment_count: 0
                      resolved_at: '2023-05-31T10:15:00'
                      resolved_by_user_id: PRJ4208
                      resolved_by_user_name: John Smith
                      seconds_to_engage: 70
                      seconds_to_first_ack: 5
                      seconds_to_mobilize: 19
                      seconds_to_resolve: 3305
                      service_id: PPSCXAN
                      service_name: Engineering
                      sleep_hour_interruptions: 3
                      snoozed_seconds: 604
                      status: resolved
                      team_id: null
                      team_name: null
                      timeout_escalation_count: 0
                      total_interruptions": null
                      total_notifications: 2
                      urgency: low
                      user_defined_effort_seconds: null
                    - acknowledged_user_ids:
                      - PMT4102
                      acknowledged_user_names:
                      - Sally Styles
                      acknowledgement_count: 1
                      active_user_count: 1
                      assigned_user_ids:
                      - PMT4102
                      assigned_user_names:
                      - Sally Styles
                      assignment_count: 1
                      business_hour_interruptions: 2
                      created_at: '2023-05-31T10:00:00'
                      updated_at: '2023-06-04T00:00:00'
                      description: Reply on social media
                      engaged_seconds: 521
                      engaged_user_count: 6
                      escalation_count: 1
                      escalation_policy_id: PDESCP1
                      escalation_policy_name: Escalation Policy 1
                      id: PCOOHCY
                      incident_number: 929
                      joined_user_ids:
                      - PMT4102
                      joined_user_names:
                      - Sally Styles
                      major: false
                      manual_escalation_count: 0
                      off_hour_interruptions: 3
                      priority_id: POTCOTX
                      priority_name: SEV-2
                      priority_order: null
                      reassignment_count: 0
                      resolved_at: '2023-05-30T10:00:05'
                      resolved_by_user_id: PMT4102
                      resolved_by_user_name: Sally Styles
                      seconds_to_engage: 24
                      seconds_to_first_ack: 48
                      seconds_to_mobilize: 122
                      seconds_to_resolve: 2029
                      service_id: PPSCXAN
                      service_name: Social media tracking
                      sleep_hour_interruptions: 1
                      snoozed_seconds: 698
                      status: resolved
                      team_id: null
                      team_name: Marketing
                      timeout_escalation_count: 0
                      total_interruptions": null
                      total_notifications: 2
                      urgency: low
                      user_defined_effort_seconds: null
                    ending_before: null
                    filters: {}
                    first: PYC0H08
                    last: PCOOHCY
                    limit: 10
                    more: true
                    order: desc
                    order_by: created_at
                    starting_after: null
                    time_zone: Etc/UTC
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  description: Filters the result, only show incidents that match the conditions passed in the filter.
                  properties:
                    created_at_start:
                      type: string
                      description: Filters the result, showing only the incidents where the creation timestamp is greater than or equal to the filter value.
                      example: '2023-05-01T00:00:00-04:00'
                    created_at_end:
                      type: string
                      description: Filters the result, showing only the incidents where the creation timestamp is less than the filter value.
                      example: '2023-06-01T00:00:00-04:00'
                    updated_after:
                      type: string
                      description: Filters the result, showing only incidents where the updated_at value is greater than the filter value.
                    urgency:
                      type: string
                      description: Filters the result, showing only the incidents where urgency matches the filter value.
                      example: high
                    major:
                      type: boolean
                      description: An incident is classified as a [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents) if it has one of the two highest priorities, or if multiple responders are added and acknowledge the incident.
                      example: true
                    team_ids:
                      type: array
                      description: An array of team IDs. Only incidents that are assigned to a member of these teams will be returned. Account must have the teams ability to use this parameter.
                      items:
                        type: string
                      example:
                      - P373JQQ
                      - PAECHJV
                      - P7SYGW6
                    service_ids:
                      type: array
                      description: An array of service IDs. Only results related to these services will be returned.
                      items:
                        type: string
                      example:
                      - PC8O0L3
                      - PX01HJD
                      - P5FK83M
                    priority_ids:
                      type: array
                      description: The priority_ids filter applied to the results.
                      items:
                        type: string
                      example:
                      - PITMC5Y
                      - PEHBBT8
                      - PB8QADI
                    priority_names:
                      type: array
                      description: The priority_names filter applied to the results.
                      items:
                        type: string
                      example:
                      - P1
                      - P2
                      - P3
                starting_after:
                  type: string
                  description: A cursor to indicate the reference point that the results should follow
                ending_before:
                  type: string
                  description: A cursor to indicate the reference point that the results should precede
                order:
                  type: string
                  description: The order the results;  asc for ascending, desc for descending. Defaults to 'desc'.
                  enum:
                  - asc
                  - desc
                order_by:
                  type: string
                  description: The column to use for ordering the results. Defaults to 'created_at'.
                  enum:
                  - created_at
                  - seconds_to_resolve
                limit:
                  type: integer
                  description: 'Number of results to include in each batch.

                    Limits between 1 to 1000 are accepted.'
                  example: 20
                  minimum: 0
                  exclusiveMinimum: true
                  maximum: 1000
                  exclusiveMaximum: false
                time_zone:
                  type: string
                  description: The time zone to use for the results.
                  example: Etc/UTC
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2024-01-01T00:00:00-05:00'
                    created_at_end: '2024-01-31T00:00:00-05:00'
                    updated_after: '2024-05-01T00:00:00-05:00'
                    urgency: high
                    major: true
                    team_ids:
                    - PGVXG6U
                    - PNVU4U4
                    service_ids:
                    - PQVUB8D
                    - PU2D9X3
                    priority_names:
                    - P1
                    - P2
                  limit: 20
                  order: desc
                  order_by: created_at
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      description: 'Provides enriched incident data and metrics for multiple incidents.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#incidents-list).


        <!-- theme: info -->

        > A `team_ids` or `service_ids` filter is required for [user-level API keys](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or keys generated through an OAuth flow. Account-level API keys do not have this requirement.

        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      tags:
      - Analytics
  /analytics/raw/incidents/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get raw data - single incident
      tags:
      - Analytics
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsRawIncident'
              examples:
                Example Response:
                  value:
                    time_zone: Etc/UTC
                    data:
                      acknowledged_user_ids:
                      - PRJ4208
                      acknowledged_user_names:
                      - Santos Dicera
                      acknowledgement_count: 1
                      active_user_count: 2
                      assigned_user_ids:
                      - PRJ4208
                      - PA02301
                      assigned_user_names:
                      - Santos Dicera
                      - Jane Doe
                      assignment_count: 2
                      auto_resolved: false
                      business_hour_interruptions: 0
                      created_at: '2024-01-01T21:00:00Z'
                      updated_at: '2024-06-01T00:00:00Z'
                      description: The server is on fire!
                      engaged_seconds: 75
                      engaged_user_count: 2
                      escalation_count: 0
                      escalation_policy_id: PCI3U5T
                      escalation_policy_name: Sputnik
                      id: PJASD33
                      incident_number: 924
                      joined_user_ids:
                      - PRJ4208
                      - PA02301
                      joined_user_names:
                      - Santos Dicera
                      - Jane Doe
                      major: true
                      manual_escalation_count: 0
                      off_hour_interruptions: 2
                      priority_id: PZOZQXA
                      priority_name: SEV-1
                      priority_order: 67108864
                      reassignment_count: 0
                      resolved_at: '2024-01-02T21:01:00Z'
                      resolved_by_user_id: PRJ4208
                      resolved_by_user_name: Santos Dicera
                      seconds_to_engage: 30
                      seconds_to_first_ack: 15
                      seconds_to_mobilize: 15
                      seconds_to_resolve: 60
                      service_id: PAQTPI2
                      service_name: Engineering
                      sleep_hour_interruptions: 0
                      snoozed_seconds: 0
                      status: resolved
                      team_id: PNVU4UR
                      team_name: Engineering team 7
                      timeout_escalation_count: 0
                      total_interruptions: null
                      total_notifications: 2
                      urgency: high
                      user_defined_effort_seconds: null
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: getAnalyticsIncidentsById
      description: 'Provides enriched incident data and metrics for a single incident.


        Example metrics include Seconds to Resolve, Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#incidents-list).


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
  /analytics/raw/incidents/{id}/responses:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get raw responses from a single incident
      tags:
      - Analytics
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_id:
                    type: string
                    description: The Incident ID passed into the request.
                  limit:
                    type: integer
                    description: Number of results to include in the batch.
                  order:
                    type: string
                    description: The order in which the results were sorted; asc for ascending, desc for descending.
                    enum:
                    - asc
                    - desc
                  order_by:
                    type: string
                    description: The column that was used for ordering the results.
                    enum:
                    - requested_at
                  time_zone:
                    type: string
                    description: The time zone that the results are in.
                  responses:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyticsRawIncidentResponses'
              examples:
                Example Response:
                  value:
                    incident_id: PJASD33
                    limit: 100
                    order: asc
                    order_by: requested_at
                    time_zone: Etc/UTC
                    responses:
                      requested_at: '2024-01-05T10:15:00'
                      responded_at: '2024-01-05T10:18:00'
                      responder_id: PXPGF42
                      responder_name: Earline Greenholt
                      responder_type: added_responder
                      response_status: accepted
                      time_to_respond_seconds: 180
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: integer
                  description: 'Number of results to include in each batch.

                    Limits between 1 to 1000 are accepted.'
                  example: 20
                  minimum: 0
                  exclusiveMinimum: true
                  maximum: 1000
                  exclusiveMaximum: false
                order:
                  type: string
                  description: The order in which to display the results; asc for ascending, desc for descending. Defaults to `desc`.
                  enum:
                  - asc
                  - desc
                order_by:
                  type: string
                  description: The column to use for ordering the results.
                  enum:
                  - requested_at
                time_zone:
                  type: string
                  description: The time zone to use for the results.
                  example: Etc/UTC
            examples:
              Example Request:
                value:
                  limit: 20
                  order: desc
                  order_by: requested_at
                  time_zone: America/Los_Angeles
        description: Parameters to apply to the dataset.
      operationId: getAnalyticsIncidentResponsesById
      description: 'Provides enriched responder data for a single incident.


        Example metrics include Time to Respond, Responder Type, and Response Status. See metric definitions below.


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incident responses appear in the Analytics API.

        Scoped OAuth requires: `analytics.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
  /analytics/raw/responders/{responder_id}/incidents:
    parameters:
    - $ref: '#/components/parameters/responder_id'
    post:
      x-pd-requires-scope: analytics.read
      summary: PagerDuty Get raw incidents for a single responder_id
      operationId: getAnalyticsResponderIncidents
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  first:
                    type: string
                    description: Cursor to identify the first object in the response.
                  last:
                    type: string
                    description: Cursor to identify the last object in the response.
                  responder_id:
                    type: string
                    description: The Responder ID passed into the request.
                  limit:
                    type: integer
                    description: Number of results to include in the batch.
                  order:
                    type: string
                    description: The order in which the results were sorted; asc for ascending, desc for descending.
                    enum:
                    - asc
                    - desc
                  order_by:
                    type: string
                    description: The column that was used for ordering the results.
                    enum:
                    - incident_created_at
                  time_zone:
                    type: string
                    description: The time zone that the results are in.
                  filters:
                    type: object
                    description: A collection of filters that were applied to the results.
                    properties:
                      created_at_start:
                        type: string
                        description: The lower boundary for the created_at range filter applied to the results.
                      created_at_end:
                        type: string
                        description: The upper boundary for the created_at range filter applied to the results.
                      urgency:
                        type: string
                        description: The urgency filter applied to the results.
                        enum:
                        - high
                        - low
                      major:
                        type: boolean
                        description: The [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents) filter applied to the results.
                      team_ids:
                        type: array
                        description: The team_ids filter applied to the results.
                        items:
                          type: string
                      service_ids:
                        type: array
                        description: The service_ids filter applied to the results.
                        items:
                          type: string
                      priority_ids:
                        type: array
                        description: The priority_ids filter applied to the results.
                        maxItems: 5
                        items:
                          type: string
                      priority_names:
                        type: array
                        description: The priority_names filter applied to the results.
                        maxItems: 5
                        items:
                          type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyticsRawResponderIncidents'
              examples:
                Example Response:
                  value:
                    responder_id: PDUSER1
                    limit: 100
                    order: asc
                    order_by: incident_created_at
                    time_zone: Etc/UTC
                    data:
                    - incident_created_at: '2023-06-10T22:08:35'
                      incident_description: 30
                      incident_id: QPDINCIDENT1
                      incident_number: 123456
                      incident_priority_id: PZOZQXA
                      incident_priority_name: P1
                      incident_priority_order: 67108864
                      incident_urgency: 75
                      mean_time_to_acknowledge_seconds: 2
                      responder_id: PDUSER1
                      responder_name: User 1
                      service_id: PDSERV1
                      service_name: Service 1
                      service_team_id: PDTEAM1
                      service_team_name: Team 1
                      total_acknowledgements: 12
                      total_business_hour_interruptions: 3
                      total_engaged_seconds: 244
                      total_interruptions: 2
                      total_manual_escalations_from: 5
                      total_manual_escalations_to: 1
                      total_off_hour_interruptions: 0
                      total_reassignments_from: 0
                      total_reassignments_to: 0
                      total_sleep_hour_interruptions: 0
                      total_timeout_escalations_from: 0
                      total_timeout_escalations_to: 0
                    - incident_created_at: '2023-06-11T22:08:35'
                      incident_description: 30
                      incident_id: QPDINCIDENT2
                      incident_number: 123456
                      incident_priority_id: PZOZQXA
                      incident_priority_name: P1
                      incident_priority_order: 67108864
                      incident_urgency: 75
                      mean_time_to_acknowledge_seconds: 2
                      responder_id: PDUSER1
                      responder_name: User 1
                      service_id: PDSERV2
                      service_name: Service 2
                      service_team_id: PDTEAM1
                      service_team_name: Team 1
                      total_acknowledgements: 12
                      total_business_hour_interruptions: 3
                      total_engaged_seconds: 945
                      total_interruptions: 2
                      total_manual_escalations_from: 5
                      total_manual_escalations_to: 1
                      total_off_hour_interruptions: 0
                      total_reassignments_from: 0
                      total_reassignments_to: 0
                      total_sleep_hour_interruptions: 0
                      total_timeout_escalations_from: 0
                      total_timeout_escalations_to: 0
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  description: Filters the result, only show incidents that match the conditions passed in the filter.
                  properties:
                    created_at_start:
                      type: string
                      description: Filters the result, showing only the incidents where the creation timestamp is greater than the filter value.
                      example: '2023-05-01T00:00:00-04:00'
                    created_at_end:
                      type: string
                      description: Filters the result, showing only the incidents where the creation timestamp is less than the filter value.
                      example: '2023-06-01T00:00:00-04:00'
                    urgency:
                      type: string
                      description: Filters the result, showing only the incidents where urgency matches the filter value.
                      example: high
                    major:
                      type: boolean
                      description: An incident is classified as a [major incident](https://support.pagerduty.com/docs/operational-reviews#major-incidents) if it has one of the two highest priorities, or if multiple responders are added and acknowledge the incident.
                      example: true
                    team_ids:
                      type: array
                      description: An array of team IDs. Only incidents that are assigned to a member of these teams will be returned. Account must have the teams ability to use this parameter.
                      items:
                        type: string
                      example:
                      - P373JQQ
                      - PAECHJV
                      - P7SYGW6
                    service_ids:
                      type: array
                      description: An array of service IDs. Only results related to these services will be returned.
                      items:
                        type: string
                      example:
                      - PC8O0L3
                      - PX01HJD
                      - P5FK83M
                    priority_ids:
                      type: array
                      description: The priority_ids filter applied to the results.
                      items:
                        type: string
                      example:
                      - PITMC5Y
                      - PEHBBT8
                      - PB8QADI
                    priority_names:
                      type: array
                      description: The priority_names filter applied to the results.
                      items:
                        type: string
                      example:
                      - P1
                      - P2
                      - P3
                starting_after:
                  type: string
                  description: A cursor to indicate the reference point that the results should follow
                ending_before:
                  type: string
                  description: A cursor to indicate the reference point that the results should precede
                order:
                  type: string
                  description: The order in which to display the results; asc for ascending, desc for descending. Defaults to `desc`.
                  enum:
                  - asc
                  - desc
                order_by:
                  type: string
                  description: The column to use for ordering the results. Defaults to `incident_created_at`.
                  enum:
                  - incident_created_at
                limit:
                  type: integer
                  description: 'Number of results to include in each batch.

                    Limits between 1 to 1000 are accepted.'
                  example: 20
                  minimum: 0
                  exclusiveMinimum: true
                  maximum: 1000
                  exclusiveMaximum: false
                time_zone:
                  type: string
                  description: The time zone to use for the results.
                  example: Etc/UTC
            examples:
              Example Request:
                value:
                  filters:
                    created_at_start: '2023-06-10T00:00:00-07:00'
                    created_at_end: '2023-06-11T23:59:59-07:00'
                  responder_id: PDUSER1
                  limit: 100
                  order: asc
                  order_by: incident_created_at
                  time_zone: Etc/UTC
        description: Parameters and filters to apply to the dataset.
      tags:
      - Analytics
      description: 'Provides enriched incident data and metrics for a specific responder.


        Example metrics include Mean Seconds to Resolve, Mean Seconds to Engage, Snoozed Seconds, and Sleep Hour Interruptions. Metric definitions can be found in our [Knowledge Base](https://support.pagerduty.com/docs/insights#incidents-list).


        <!-- theme: info -->

        > **Note:** Analytics data is updated once per day. It takes up to 24 hours before new incidents appear in the Analytics API.


        Scoped OAuth requires: `analytics.read`

        '
components:
  responses:
    Conflict:
      description: The request conflicts with the current state of the server.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: integer
                    readOnly: true
                  message:
                    type: string
                    readOnly: true
                    description: Error message string
                  errors:
                    type: array
                    readOnly: true
                    items:
                      type: string
                      readOnly: true
                      description: Human-readable error details
                example:
                  message: Not Found
                  code: 2100
    ArgumentError:
      description: Caller provided invalid arguments. Please review the response for error details. Retrying with the same arguments will *not* work.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    TooManyRequests:
      description: Too many requests have been made, the rate limit has been reached.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
  parameters:
    header_Accept:
      name: Accept
      description: The `Accept` header is used as a versioning header.
      in: header
      required: true
      schema:
        type: string
        default: application/vnd.pagerduty+json;version=2
    id:
      name: id
      description: The ID of the resource.
      in: path
      required: true
      schema:
        type: string
    header_Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
        enum:
        - application/json
    responder_id:
      name: responder_id
      description: The ID of the responder.
      in: path
      required: true
      schema:
        type: string
  schemas:
    AnalyticsResponderFilter:
      type: object
      properties:
        filters:
          type: object
          description: Accepts a set of filters to apply to the Incidents before aggregating.  Any incidents that do not match the included filters will be omitted from the results
          properties:
            date_range_start:
              type: string
              description: Accepts an ISO8601 DateTime string. Any incidents with a created_at less than this value will be omitted from the results. The maximum supported time range in conjunction with date_range_end is one year.
              example: '2023-10-01T00:00:00+05:00'
            date_range_end:
              type: string
              description: Accepts an ISO8601 DateTime string. Any incidents with a created_at greater than or equal to this value will be omitted from the results. The maximum supported time range in conjunction with date_range_start is one year.
              example: '2023-10-01T00:00:00Z'
            urgency:
              type: string
              description: Any incidents whose urgency does not match the provided string will be omitted from the results.
              example: high
              enum:
              - high
              - low
            team_ids:
              type: array
              description: An array of team IDs. Only incidents related to these teams will be included in the results. If omitted, all teams the requestor has access to will be included in the results.
              items:
                type: string
              example:
              - P373JQQ
              - PAECHJV
              - P7SYGW6
            responder_ids:
              type: array
              description: An array of responder IDs. Only incidents related to these responders will be included in the results. If omitted, all responders the requestor has access to will be included in the results.
              items:
                type: string
              example:
              - PDJXDF3
              - PG4EHNS
            priority_ids:
              type: array
              description: An array of priority IDs. Only incidents with these priorities will be included in the results. If omitted, all priorities will be included in the results.
              items:
                type: string
              example:
              - PC8O0L3
              - PX01HJD
              - P5FK83M
            priority_names:
              type: array
              description: An array of user-defined priority names. Only incidents with these priorities will be included in the results. If omitted, all priorities will be included in the results.
              items:
                type: string
              example:
              - P1
              - P2
              - P3
        time_zone:
          type: string
          description: The time zone to use for the results and grouping.
          example: Etc/UTC
        order:
          type: string
          description: The order in which the results were sorted; asc for ascending, desc for descending.
          enum:
          - asc
          - desc
        order_by:
          type: string
          description: The column that was used for ordering the results.
          example: user_id
    AnalyticsIncidentMetricsEscalationPolicy:
      title: Analytics Incident Metrics Escalation Policy
      type: object
      properties:
        distinct_responder_count:
          type: integer
          description: Distinct count of responders who engaged in incidents on the escalation policy
        escalation_policy_id:
          type: string
          description: ID of the escalation policy the incident was last assigned to. Not included when aggregating by all.
        escalation_policy_name:
          type: string
          description: Name of the escalation policy the incident was last assigned to. Not included when aggregating by all.
        mean_assignment_count:
          type: integer
          description: Mean count of instances where responders were assigned an incident (including through reassignment or escalation) or accepted a responder request.
        mean_engaged_seconds:
          type: integer
          description: 'Mean engaged time across all responders.

            Engaged time is measured from the time a user engages with an incident (by

            acknowledging or accepting a responder request) until the incident is resolved.

            This may include periods in which the incidents were snoozed.'
        mean_engaged_user_count:
          type: integer
          description: 'Mean number of users who engaged with an incident. *Engaged* is defined as

            acknowledging an incident or accepting a responder request in it.'
        mean_seconds_to_engage:
          type: integer
          description: 'A measure of *people response time*. This metric measures the time from

            the first user engagement (acknowledge or responder accept) to the last.

            This metric is only used for incidents with **multiple responders**;

            for incidents with one or no engaged users, this value is null.'
        mean_seconds_to_first_ack:
          type: integer
          description: Mean time between the start of an incident, and the first responder to acknowledge.
        mean_seconds_to_mobilize:
          type: integer
          description: 'Mean time between the start of an incident, and the last additional responder

            to acknowledge. For incidents with one or no engaged users, this value is null.'
        mean_seconds_to_resolve:
          type: integer
          description: Mean time from when an incident was triggered until it was resolved.
        mean_user_defined_engaged_seconds:
          type: integer
[...]
