openapi: 3.0.2
info:
  description: 'This document describes the PagerDuty REST APIs.


    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)


    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).


    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.

    '
  contact:
    name: PagerDuty Support
    url: http://www.pagerduty.com/support
    email: support@pagerduty.com
  title: PagerDuty Abilities Event Orchestrations API
  version: 2.0.0
servers:
- url: https://api.pagerduty.com
  description: PagerDuty V2 API.
security:
- api_key: []
tags:
- name: Event Orchestrations
  description: 'Event Orchestrations allow you to route events to an endpoint and create collections of Event Orchestrations, which define sets of actions to take based on event content.

    '
paths:
  /event_orchestrations:
    description: Manage Global Event Orchestrations.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      operationId: listEventOrchestrations
      description: 'List all Global Event Orchestrations on an Account.


        Global Event Orchestrations allow you define a set of Global Rules and Router Rules, so that when you ingest events using the Orchestration''s Routing Key your events will have actions applied via the Global Rules & then routed to the correct Service by the Router Rules, based on the event''s content.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      summary: PagerDuty List Event Orchestrations
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/offset_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/sort_by_event_orchestration'
      responses:
        '200':
          description: A paginated array of Event Orchestration objects.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    orchestrations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the Orchestration.
                            readOnly: true
                          self:
                            type: string
                            format: url
                            description: The API show URL at which the object is accessible
                            readOnly: true
                          name:
                            type: string
                            description: Name of the Orchestration.
                          description:
                            type: string
                            description: A description of this Orchestration's purpose.
                          team:
                            type: object
                            description: Reference to the team that owns the Orchestration. If none is specified, only admins have access.
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                                description: A string that determines the schema of the object
                                readOnly: true
                              self:
                                type: string
                                format: url
                                description: The API show URL at which the object is accessible
                                readOnly: true
                          routes:
                            type: integer
                            description: Number of different Service Orchestration being routed to
                            readOnly: true
                          created_at:
                            type: string
                            format: date-time
                            description: The date the Orchestration was created at.
                            readOnly: true
                          created_by:
                            type: object
                            description: Reference to the user that has created the Orchestration.
                            properties:
                              id:
                                type: string
                                readOnly: true
                              type:
                                type: string
                                description: A string that determines the schema of the object
                                readOnly: true
                              self:
                                type: string
                                format: url
                                description: The API show URL at which the object is accessible
                                readOnly: true
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: The date the Orchestration was last updated.
                            readOnly: true
                          updated_by:
                            type: object
                            description: Reference to the user that has updated the Orchestration last.
                            properties:
                              id:
                                type: string
                                readOnly: true
                              type:
                                type: string
                                description: A string that determines the schema of the object
                                readOnly: true
                              self:
                                type: string
                                format: url
                                description: The API show URL at which the object is accessible
                                readOnly: true
                            readOnly: true
                          version:
                            type: string
                            description: Version of the Orchestration.
                            readOnly: true
              examples:
                response:
                  summary: Response Example
                  value:
                    orchestrations:
                    - id: b02e973d-9620-4e0a-9edc-00fedf7d4694
                      self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694
                      name: Shopping Cart Orchestration
                      description: Send shopping cart alerts to the right services
                      team:
                        id: PQYP5MN
                        type: team_reference
                        self: https://api.pagerduty.com/teams/PQYP5MN
                      routes: 0
                      created_at: '2021-11-18T16:42:01Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-11-18T16:42:01Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: 9co0z4b152oICsoV91_PW2.ww8ip_xap
                    limit: 25
                    offset: 0
                    more: false
                    total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      description: 'Create a Global Event Orchestration.


        Global Event Orchestrations allow you define a set of Global Rules and Router Rules, so that when you ingest events using the Orchestration''s Routing Key your events will have actions applied via the Global Rules & then routed to the correct Service by the Router Rules, based on the event''s content.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Create an Orchestration
      operationId: postOrchestration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orchestration:
                  $ref: '#/components/schemas/Orchestration'
              required:
              - orchestration
            examples:
              create_orchestration:
                summary: 'Example: Create Orchestration'
                value:
                  orchestration:
                    name: New Orchestration
                    description: This is a newly created orchestration
                    team:
                      id: PXD0WR8
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      responses:
        '201':
          description: The Orchestration that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orchestration:
                    $ref: '#/components/schemas/Orchestration'
              examples:
                response:
                  summary: Response Example
                  value:
                    orchestration:
                      id: 3aae9a17-8585-4d8c-93d3-99742801cd95
                      self: https://api.pagerduty.com/event_orchestrations/3aae9a17-8585-4d8c-93d3-99742801cd95
                      name: New Orchestration
                      description: This is a newly created orchestration
                      team:
                        id: PXD0WR8
                        self: https://api.pagerduty.com/teams/PXD0WR8
                        type: team_reference
                      integrations:
                      - id: 461cd942-d7cc-43ef-ac7d-86ba2d58fc45
                        label: New Orchestration Default Integration
                        parameters:
                          routing_key: R022XIJR9M266DX570EVE6EXP1AFBN6D
                          type: global
                      routes: 0
                      created_at: '2021-12-02T14:21:42Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-12-02T14:21:42Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: oBgzJsGDOz99G.FKZ0c1C6hw35twk_Ib
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}:
    description: Manage a Global Event Orchestration.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      operationId: getOrchestration
      description: 'Get a Global Event Orchestration.


        Global Event Orchestrations allow you define a set of Global Rules and Router Rules, so that when you ingest events using the Orchestration''s Routing Key your events will have actions applied via the Global Rules & then routed to the correct Service by the Router Rules, based on the event''s content.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      summary: PagerDuty Get an Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '200':
          description: The Orchestration object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orchestration:
                    $ref: '#/components/schemas/Orchestration'
              examples:
                response:
                  summary: Response Example
                  value:
                    orchestration:
                      id: b02e973d-9620-4e0a-9edc-00fedf7d4694
                      self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694
                      name: Shopping Cart Orchestration
                      description: Send shopping cart alerts to the right services
                      team:
                        id: PQYP5MN
                        type: team_reference
                        self: https://api.pagerduty.com/teams/PQYP5MN
                      integrations:
                      - id: 9c5ff030-12da-4204-a067-25ee61a8df6c
                        label: Shopping Cart Orchestration Default Integration
                        parameters:
                          routing_key: R028DIE06SNKNO6V5ACSLRV7Y0TUVG7T
                          type: global
                      routes: 0
                      created_at: '2021-11-18T16:42:01Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-11-18T16:42:01Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: 9co0z4b152oICsoV91_PW2.ww8ip_xap
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: updateOrchestration
      description: 'Update a Global Event Orchestration.


        Global Event Orchestrations allow you define a set of Global Rules and Router Rules, so that when you ingest events using the Orchestration''s Routing Key your events will have actions applied via the Global Rules & then routed to the correct Service by the Router Rules, based on the event''s content.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Update an Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orchestration:
                  $ref: '#/components/schemas/Orchestration'
              required:
              - orchestration
            examples:
              change_name:
                summary: 'Example: Change name'
                value:
                  orchestration:
                    name: Go-Kart Orchestration
              change_team:
                summary: 'Example: Change team'
                value:
                  orchestration:
                    team:
                      id: PWL7QXS
              change_description:
                summary: 'Example: Change description'
                value:
                  orchestration:
                    description: Orchestration that does some stuff
        description: ''
      responses:
        '200':
          description: The Orchestration that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  orchestration:
                    $ref: '#/components/schemas/Orchestration'
              examples:
                response:
                  summary: Response Example
                  value:
                    orchestration:
                      id: b02e973d-9620-4e0a-9edc-00fedf7d4694
                      self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694
                      name: Go-Kart Orchestration
                      description: Orchestration that does some stuff
                      team:
                        id: PWL7QXS
                        type: team_reference
                        self: https://api.pagerduty.com/teams/PWL7QXS
                      integrations:
                      - id: 9c5ff030-12da-4204-a067-25ee61a8df6c
                        label: Go-Kart Orchestration Default Integration
                        parameters:
                          routing_key: R028DIE06SNKNO6V5ACSLRV7Y0TUVG7T
                          type: global
                      routes: 0
                      created_at: '2021-11-18T16:42:01Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-11-19T11:42:32Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: BrWLKQBLm8QO2ZYQ0GosHLxdbgWZ0ZR3
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: deleteOrchestration
      description: 'Delete a Global Event Orchestration.


        Once deleted, you will no longer be able to ingest events into PagerDuty using this Orchestration''s Routing Key.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Delete an Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '204':
          description: The Orchestration was deleted successfully.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}/integrations:
    description: Manage Integrations for a Global Event Orchestration.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      description: 'List the Integrations associated with this Event Orchestrations.


        You can use a Routing Key from these Integrations to send events to PagerDuty!


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      summary: PagerDuty List Integrations for an Event Orchestration
      operationId: listOrchestrationIntegrations
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '200':
          description: The Integrations for this Event Orchestration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrchestrationIntegration'
                  total:
                    $ref: '#/components/schemas/Pagination/properties/total'
              examples:
                response:
                  summary: Response Example
                  value:
                    integrations:
                    - id: 9c5ff030-12da-4204-a067-25ee61a8df6c
                      label: Go-Kart Orchestration Default Integration
                      parameters:
                        routing_key: R022XIJR9M266DX570EVE6EXP1AFBN6D
                        type: global
                    - id: 11832872-88b6-4661-8972-db5712b69496
                      label: Integration for Monitoring Tool X
                      parameters:
                        routing_key: R028DIE06SNKNO6V5ACSLRV7Y0TUVG7T
                        type: global
                    total: 2
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/NotAllowed'
    post:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      description: 'Create an Integration associated with this Event Orchestration.


        You can then use the Routing Key from this new Integration to send events to PagerDuty!


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Create an Integration for an Event Orchestration
      operationId: postOrchestrationIntegration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration:
                  type: object
                  properties:
                    label:
                      type: string
                      description: Name of the Integration.
                  required:
                  - label
              required:
              - integration
            examples:
              create_orchestration:
                summary: 'Example: Create an Integration'
                value:
                  integration:
                    label: Integration for Monitoring Tool X
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '201':
          description: The Integration that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    $ref: '#/components/schemas/OrchestrationIntegration'
              examples:
                response:
                  summary: Response Example
                  value:
                    integration:
                      id: 11832872-88b6-4661-8972-db5712b69496
                      label: Integration for Monitoring Tool X
                      parameters:
                        routing_key: R028DIE06SNKNO6V5ACSLRV7Y0TUVG7T
                        type: global
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}/integrations/{integration_id}:
    description: Manage an Integration for a Global Event Orchestration.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      description: 'Get an Integration associated with this Event Orchestrations.


        You can use the Routing Key from this Integration to send events to PagerDuty!


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      summary: PagerDuty Get an Integration for an Event Orchestration
      operationId: getOrchestrationIntegration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      - $ref: '#/components/parameters/event_orchestration_integration_id'
      responses:
        '200':
          description: An Integration for this Event Orchestration.
          content:
            application/json:
              schema:
                properties:
                  integration:
                    $ref: '#/components/schemas/OrchestrationIntegration'
              examples:
                response:
                  summary: Response Example
                  value:
                    integration:
                      id: 9c5ff030-12da-4204-a067-25ee61a8df6c
                      label: Go-Kart Orchestration Default Integration
                      parameters:
                        routing_key: R022XIJR9M266DX570EVE6EXP1AFBN6D
                        type: global
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/NotAllowed'
    put:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      description: 'Update an Integration associated with this Event Orchestrations.


        You can use the Routing Key from this Integration to send events to PagerDuty!


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Update an Integration for an Event Orchestration
      operationId: updateOrchestrationIntegration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                integration:
                  type: object
                  properties:
                    label:
                      type: string
                      description: Name of the Integration.
                  required:
                  - label
              required:
              - integration
            examples:
              create_orchestration:
                summary: 'Example: Update an Integration'
                value:
                  integration:
                    label: New Name for my Integration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      - $ref: '#/components/parameters/event_orchestration_integration_id'
      responses:
        '200':
          description: The Integration that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  integration:
                    $ref: '#/components/schemas/OrchestrationIntegration'
              examples:
                response:
                  summary: Response Example
                  value:
                    integration:
                      id: 11832872-88b6-4661-8972-db5712b69496
                      label: New Name for my Integration
                      parameters:
                        routing_key: R028DIE06SNKNO6V5ACSLRV7Y0TUVG7T
                        type: global
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      description: 'Delete an Integration and its associated Routing Key.


        Once deleted, PagerDuty will drop all future events sent to PagerDuty using the Routing Key.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Delete an Integration for an Event Orchestration
      operationId: deleteOrchestrationIntegration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      - $ref: '#/components/parameters/event_orchestration_integration_id'
      responses:
        '204':
          description: The Integration was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}/integrations/migration:
    description: Migrate an Integration to this Global Event Orchestration.
    post:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      description: 'Move an Integration and its Routing Key from the Event Orchestration specified in the request payload, to the Event Orchestration specified in the request URL.


        Any future events sent to this Integration''s Routing Key will be processed by this Event Orchestration''s Rules.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Migrate an Integration from one Event Orchestration to another
      operationId: migrateOrchestrationIntegration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_id:
                  type: string
                  description: The ID of the Event Orchestration you'll be moving the Integration away from
                source_type:
                  type: string
                  description: The type of of the `source_id` object
                  enum:
                  - orchestration
                integration_id:
                  type: string
                  description: The ID of the Integration you'll be moving
              required:
              - source_id
              - source_type
              - integration_id
            examples:
              migrate_integration:
                summary: 'Example: Migrate an Integration'
                value:
                  source_type: orchestration
                  source_id: b02e973d-9620-4e0a-9edc-00fedf7d4694
                  integration_id: 11832872-88b6-4661-8972-db5712b69496
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '200':
          description: The Integration that was migrated
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrchestrationIntegration'
                  total:
                    $ref: '#/components/schemas/Pagination/properties/total'
              examples:
                response:
                  summary: Response Example
                  value:
                    integrations:
                    - id: 9c5ff030-12da-4204-a067-25ee61a8df6c
                      label: Go-Kart Orchestration Default Integration
                      parameters:
                        routing_key: R022XIJR9M266DX570EVE6EXP1AFBN6D
                        type: global
                    - id: 11832872-88b6-4661-8972-db5712b69496
                      label: Integration for Monitoring Tool X
                      parameters:
                        routing_key: R028DIE06SNKNO6V5ACSLRV7Y0TUVG7T
                        type: global
                    total: 2
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}/global:
    description: View and update Global Orchestration Rules.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      operationId: getOrchPathGlobal
      summary: PagerDuty Get the Global Orchestration for an Event Orchestration
      description: 'Get the Global Orchestration for an Event Orchestration.


        Global Orchestration Rules allows you to create a set of Event Rules. These rules evaluate against all Events sent to an Event Orchestration. When a matching rule is found, it can modify and enhance the event and can route the event to another set of Global Rules within this Orchestration for further processing.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '200':
          description: The Global Orchestration Rules object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestrationGlobal'
              examples:
                response:
                  $ref: '#/components/examples/OrchestrationPathGlobalTypeResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: updateOrchPathGlobal
      summary: PagerDuty Update the Global Orchestration for an Event Orchestration
      description: 'Update the Global Orchestration for an Event Orchestration.


        Global Orchestration Rules allows you to create a set of Event Rules. These rules evaluate against all Events sent to an Event Orchestration. When a matching rule is found, it can modify and enhance the event and can route the event to another set of Global Rules within this Orchestration for further processing.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      requestBody:
        description: Update Global Orchestration rules. Omitted rules and rule details are deleted.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestrationGlobal'
            examples:
              request:
                summary: Example Request
                value:
                  orchestration_path:
                    sets:
                    - id: start
                      rules:
                      - label: Always apply some consistent event transformations to all events
                        id: c91f72f3
                        conditions: []
                        actions:
                          variables:
                          - name: hostname
                            path: event.component
                            value: 'hostname: (.*)'
                            type: regex
                          extractions:
                          - template: '{{variables.hostname}}'
                            target: event.custom_details.hostname
                          - source: event.source
                            regex: www (.*) service
                            target: event.source
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#my-team-channel'
                          - id: PN1C4A2
                            value: '{{event.timestamp}}'
                        route_to: step-two
                    - id: step-two
                      rules:
                      - label: All critical alerts should be treated as P1 incidents
                        id: 7c54529d
                        conditions:
                        - expression: event.severity matches 'critical'
                        actions:
                          priority: P0IN2KQ
                          suppress: false
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#p1-incident-response'
                      - label: Drop all events from the very-noisy monitoring tool
                        id: 1f6d9a33
                        conditions:
                        - expression: event.source matches part 'very-noisy'
                        actions:
                          drop_event: true
                      - label: Never bother the on-call for info-level events outside of work hours
                        id: cd770384
                        conditions:
                        - expression: event.severity matches 'info' and not (now in Mon,Tue,Wed,Thu,Fri 09:00:00 to 17:00:00 America/Los_Angeles)
                        actions:
                          suppress: true
                    catch_all:
                      actions:
                        suppress: true
                      incident_custom_field_updates:
                      - id: PEXCK89
                        value: '#general-incident-notifications'
      responses:
        '200':
          description: The Global Orchestration Rules object.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrchestrationGlobal'
                - type: object
                  properties:
                    warnings:
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/OrchestrationWarningIneligible'
                        - $ref: '#/components/schemas/OrchestrationWarningInvalidData'
              examples:
                response:
                  summary: Example Response
                  value:
                    orchestration_path:
                      type: global
                      parent:
                        id: b02e973d-9620-4e0a-9edc-00fedf7d4694
                        self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694
                        type: event_orchestration_reference
                      self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694/global
                      sets:
                      - id: start
                        rules:
                        - label: Always apply some consistent event transformations to all events
                          id: c91f72f3
                          conditions: []
                          actions:
                            variables:
                            - name: hostname
                              path: event.component
                              value: 'hostname: (.*)'
                              type: regex
                            extractions:
                            - template: '{{variables.hostname}}'
                              target: event.custom_details.hostname
                            - source: event.source
                              regex: www (.*) service
                              target: event.source
                            incident_custom_field_updates:
                            - id: PEXCK89
                              value: '#my-team-channel'
                            - id: PN1C4A2
                              value: '{{event.timestamp}}'
                            route_to: step-two
                      - id: step-two
                        rules:
                        - label: All critical alerts should be treated as P1 incidents
                          id: 7c54529d
                          conditions:
                          - expression: event.severity matches 'critical'
                          actions:
                            priority: P0IN2KQ
                            suppress: false
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#p1-incident-response'
                        - label: Drop all events from the very-noisy monitoring tool
                          id: 1f6d9a33
                          conditions:
                          - expression: event.source matches part 'very-noisy'
                          actions:
                            drop_event: true
                        - label: Never bother the on-call for info-level events outside of work hours
                          id: cd770384
                          conditions:
                          - expression: event.severity matches 'info' and not (now in Mon,Tue,Wed,Thu,Fri 09:00:00 to 17:00:00 America/Los_Angeles)
                          actions:
                            suppress: true
                      catch_all:
                        actions:
                          suppress: true
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#general-incident-notifications'
                      created_at: '2021-11-18T16:42:01Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-11-18T16:42:01Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: rn1Mja13T1HBdmPChqFilSQXUW2fWXM_
                    warnings:
                    - feature: nested_rules
                      feature_type: nested_rules
                      message: This orchestration contains Nested Rules, which is not available on your account plan. The orchestration will be updated, however, only rules in the 'start' set will be evaluated
                      rule_id: null
                      warning_type: forbidden_feature
                    - feature: variables
                      feature_type: actions
                      message: This rule uses Dynamic Field Enrichment & Extraction, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: c91f72f3
                      warning_type: forbidden_feature
                    - feature: extractions
                      feature_type: actions
                      message: This rule uses Dynamic Field Enrichment & Extraction, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: c91f72f3
                      warning_type: forbidden_feature
                    - feature: recurring_condition
                      feature_type: conditions
                      message: This rule uses Recurring Condition, which is a condition not available on your account plan. The rule will be updated, but it will not be evaluated by events
                      rule_id: cd770384
                      warning_type: forbidden_feature
                    - feature: incident_custom_field_updates
                      feature_type: actions
                      message: This rule uses Incident Custom Field update, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: c91f72f3
                      warning_type: forbidden_feature
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}/router:
    description: View and update an Orchestration Router.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      operationId: getOrchPathRouter
      summary: PagerDuty Get the Router for an Event Orchestration
      description: 'Get a Global Orchestration''s Routing Rules.


        An Orchestration Router allows you to create a set of Event Rules. The Router evaluates Events you send to this Global Orchestration against each of its rules, one at a time, and routes the event to a specific Service based on the first rule that matches. If an event doesn''t match any rules, it''ll be sent to service specified in as the `catch_all` or the "Unrouted" Orchestration if no service is specified.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationPathRouterTypeResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: updateOrchPathRouter
      summary: PagerDuty Update the Router for an Event Orchestration
      description: 'Update a Global Orchestration''s Routing Rules.


        An Orchestration Router allows you to create a set of Event Rules. The Router evaluates Events you send to this Global Orchestration against each of its rules, one at a time, and routes the event to a specific Service based on the first rule that matches. If an event doesn''t match any rules, it''ll be sent to service specified in as the `catch_all` or the "Unrouted" Orchestration if no service is specified.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      requestBody:
        description: Updates to Orchestration Router details. Omitted rules and rule details are deleted.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestrationRouter'
            examples:
              request:
                summary: Example Request
                value:
                  orchestration_path:
                    sets:
                    - id: start
                      rules:
                      - label: Events relating to our relational database
                        id: 1c26698b
                        conditions:
                        - expression: event.summary matches part 'database'
                        - expression: event.source matches regex 'db[0-9]+-server'
                        actions:
                          route_to: PB31XBA
                      - label: Events relating to our www app server
                        id: d9801904
                        conditions:
                        - expression: event.summary matches part 'www'
                        actions:
                          route_to: PC2D9ML
                      - label: Events relating to our delivery pipeline
                        id: ed624931
                        conditions:
                        - expression: trigger_count over 1 minute > 3
                        actions:
                          route_to: PQSJBMA
      responses:
        '200':
          description: The Orchestration Router object.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrchestrationRouter'
                - type: object
                  properties:
                    warnings:
                      type: array
                      description: List of applicable warnings messages for each rule using a feature not available on your account plan.
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/OrchestrationWarningIneligible'
              examples:
                response:
                  summary: Example Response
                  value:
                    orchestration_path:
                      type: router
                      parent:
                        id: b02e973d-9620-4e0a-9edc-00fedf7d4694
                        self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694
                        type: event_orchestration_reference
                      self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694/router
                      sets:
                      - id: start
                        rules:
                        - label: Events relating to our relational database
                          id: 1c26698b
                          conditions:
                          - expression: event.summary matches part 'database'
                          - expression: event.source matches regex 'db[0-9]+-server'
                          actions:
                            route_to: PB31XBA
                        - label: Events relating to our www app server
                          id: d9801904
                          conditions:
                          - expression: event.summary matches part 'www'
                          actions:
                            route_to: PC2D9ML
                        - label: Events relating to our delivery pipeline
                          id: ed624931
                          conditions:
                          - expression: trigger_count over 1 minute > 3
                          actions:
                            route_to: PQSJBMA
                      catch_all:
                        actions:
                          route_to: unrouted
                      created_at: '2021-11-18T16:42:01Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-11-18T16:42:01Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: 9co0z4b152oICsoV91_PW2.ww8ip_xap
                    warnings:
                    - feature: threshold_condition
                      feature_type: conditions
                      message: This rule uses Threshold Condition, which is a condition not available on your account plan. The rule will be updated, but it will not be evaluated by events
                      rule_id: ed624931
                      warning_type: forbidden_feature
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}/unrouted:
    description: View and update an Unrouted Orchestration.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      operationId: getOrchPathUnrouted
      summary: PagerDuty Get the Unrouted Orchestration for an Event Orchestration
      description: 'Get a Global Event Orchestration''s Rules for Unrouted events.


        An Unrouted Orchestration allows you to create a set of Event Rules that will be evaluated against all events that don''t match any rules in the Global Orchestration''s Router. Events that reach the Unrouted Orchestration will never be routed to a specific Service.


        The Unrouted Orchestration evaluates Events sent to it against each of its rules, beginning with the rules in the "start" set. When a matching rule is found, it can modify and enhance the event and can route the event to another set of rules within this Unrouted Orchestration for further processing.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationPathUnroutedTypeResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: updateOrchPathUnrouted
      summary: PagerDuty Update the Unrouted Orchestration for an Event Orchestration
      description: 'Update a Global Event Orchestration''s Rules for Unrouted events.


        An Unrouted Orchestration allows you to create a set of Event Rules that will be evaluated against all events that don''t match any rules in the Global Orchestration''s Router. Events that reach the Unrouted Orchestration will never be routed to a specific Service.


        The Unrouted Orchestration evaluates Events sent to it against each of its rules, beginning with the rules in the "start" set. When a matching rule is found, it can modify and enhance the event and can route the event to another set of rules within this Unrouted Orchestration for further processing.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      requestBody:
        description: Updates to Unrouted Orchestration rules. Omitted rules and rule details are deleted.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestrationUnrouted'
            examples:
              request:
                summary: Example Request
                value:
                  orchestration_path:
                    sets:
                    - id: start
                      rules:
                      - label: Update the summary of un-matched Critical alerts so they're easier to spot
                        id: 38880ffb
                        conditions:
                        - expression: event.severity matches 'critical'
                        actions:
                          extractions:
                          - target: event.summary
                            template: '[Critical Unrouted] {{event.summary}}'
                      - label: Reduce the severity of all other unrouted events
                        id: 3896801e
                        conditions: []
                        actions:
                          severity: info
                    catch_all:
                      actions:
                        suppress: true
      responses:
        '200':
          description: The Unrouted Orchestration object.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrchestrationUnrouted'
                - type: object
                  properties:
                    warnings:
                      type: array
                      description: List of applicable warnings messages for each rule using a feature not available on your account plan.
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/OrchestrationWarningIneligible'
              examples:
                response:
                  summary: Example Response
                  value:
                    orchestration_path:
                      type: unrouted
                      parent:
                        id: b02e973d-9620-4e0a-9edc-00fedf7d4694
                        self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694
                        type: event_orchestration_reference
                      self: https://api.pagerduty.com/event_orchestrations/b02e973d-9620-4e0a-9edc-00fedf7d4694/router
                      sets:
                      - id: start
                        rules:
                        - label: Update the summary of un-matched Critical alerts so they're easier to spot
                          id: 38880ffb
                          conditions:
                          - expression: event.severity matches 'critical'
                          actions:
                            extractions:
                            - target: event.summary
                              template: '[Critical Unrouted] {{event.summary}}'
                        - label: Reduce the severity of all other unrouted events
                          id: 3896801e
                          conditions: []
                          actions:
                            severity: info
                      catch_all:
                        actions:
                          suppress: true
                      created_at: '2021-11-18T16:42:01Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-11-18T16:42:01Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: aZO.EEf9zWb9Vg0NYq.Uqad1hOC2Maod
                    warnings:
                    - feature: extractions
                      feature_type: actions
                      message: This rule uses Dynamic Field Enrichment & Extraction, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: 3896801e
                      warning_type: forbidden_feature
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/services/{service_id}:
    description: View and update a Service Orchestration.
    get:
      x-pd-requires-scope: services.read
      tags:
      - Event Orchestrations
      operationId: getOrchPathService
      summary: PagerDuty Get the Service Orchestration for a Service
      description: 'Get a Service Orchestration.


        A Service Orchestration allows you to create a set of Event Rules. The Service Orchestration evaluates Events sent to this Service against each of its rules, beginning with the rules in the "start" set. When a matching rule is found, it can modify and enhance the event and can route the event to another set of rules within this Service Orchestration for further processing.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/include_ruleset_migrated_metadata'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationPathServiceTypeResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: services.write
      tags:
      - Event Orchestrations
      operationId: updateOrchPathService
      summary: PagerDuty Update the Service Orchestration for a Service
      description: 'Update a Service Orchestration.


        A Service Orchestration allows you to create a set of Event Rules. The Service Orchestration evaluates Events sent to this Service against each of its rules, beginning with the rules in the "start" set. When a matching rule is found, it can modify and enhance the event and can route the event to another set of rules within this Service Orchestration for further processing.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      requestBody:
        description: Update Service Orchestration rules. Omitted rules and rule details are deleted.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceOrchestration'
            examples:
              request:
                summary: Example Request
                value:
                  orchestration_path:
                    sets:
                    - id: start
                      rules:
                      - label: Always apply some consistent event transformations to all events
                        id: c91f72f3
                        conditions: []
                        actions:
                          variables:
                          - name: hostname
                            path: event.component
                            value: 'hostname: (.*)'
                            type: regex
                          extractions:
                          - template: '{{variables.hostname}}'
                            target: event.custom_details.hostname
                          - source: event.source
                            regex: www (.*) service
                            target: event.source
                          pagerduty_automation_actions:
                          - action_id: 01CSB5SMOKCKVRI5GN0LJG7SMB
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#my-team-channel'
                          - id: PN1C4A2
                            value: '{{event.timestamp}}'
                        route_to: step-two
                    - id: step-two
                      rules:
                      - label: All critical alerts should be treated as P1 incidents
                        id: 7c54529d
                        conditions:
                        - expression: event.severity matches 'critical'
                        actions:
                          annotate: 'Please use our P1 runbook: https://docs.test/p1-runbook'
                          priority: P0IN2KQ
                          suppress: false
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#p1-incident-response'
                      - label: If there's something wrong on the canary let the team know about it in our deployments Slack channel
                        id: 1f6d9a33
                        conditions:
                        - expression: event.custom_details.hostname matches part 'canary'
                        actions:
                          automation_actions:
                          - name: Canary Slack Notification
                            url: https://our-slack-listerner.test/send-notification
                            auto_send: true
                            headers:
                            - key: X-Notification-Source
                              value: PagerDuty Incident Webhook
                            parameters:
                            - key: channel
                              value: '#my-team-channel'
                            - key: message
                              value: Something is wrong with the canary deployment
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#my-team-channel'
                      - label: Never bother the on-call for info-level events outside of work hours
                        id: cd770384
                        conditions:
                        - expression: event.severity matches 'info' and not (now in Mon,Tue,Wed,Thu,Fri 09:00:00 to 17:00:00 America/Los_Angeles)
                        actions:
                          suppress: true
                    catch_all:
                      actions:
                        suppress: true
                      incident_custom_field_updates:
                      - id: PEXCK89
                        value: '#general-incident-notifications'
      responses:
        '200':
          description: The Service Orchestration object.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ServiceOrchestration'
                - type: object
                  properties:
                    warnings:
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/OrchestrationWarningIneligible'
                        - $ref: '#/components/schemas/OrchestrationWarningInvalidData'
              examples:
                response:
                  summary: Example Response
                  value:
                    orchestration_path:
                      type: service
                      parent:
                        id: PC2D9ML
                        self: https://api.pagerduty.com/service/PC2D9ML
                        type: service_reference
                      self: https://api.pagerduty.com/event_orchestrations/service/PC2D9ML
                      sets:
                      - id: start
                        rules:
                        - label: Always apply some consistent event transformations to all events
                          id: c91f72f3
                          conditions: []
                          actions:
                            variables:
                            - name: hostname
                              path: event.component
                              value: 'hostname: (.*)'
                              type: regex
                            extractions:
                            - template: '{{variables.hostname}}'
                              target: event.custom_details.hostname
                            - source: event.source
                              regex: www (.*) service
                              target: event.source
                            pagerduty_automation_actions:
                            - action_id: 01CSB5SMOKCKVRI5GN0LJG7SMB
                            incident_custom_field_updates:
                            - id: PEXCK89
                              value: '#my-team-channel'
                            - id: PN1C4A2
                              value: '{{event.timestamp}}'
                            route_to: step-two
                      - id: step-two
                        rules:
                        - label: All critical alerts should be treated as P1 incidents
                          id: 7c54529d
                          conditions:
                          - expression: event.severity matches 'critical'
                          actions:
                            annotate: 'Please use our P1 runbook: https://docs.test/p1-runbook'
                            priority: P0IN2KQ
                            suppress: false
                            incident_custom_field_updates:
                            - id: PEXCK89
                              value: '#p1-incident-response'
                        - label: If there's something wrong on the canary let the team know about it in our deployments Slack channel
                          id: 1f6d9a33
                          conditions:
                          - expression: event.custom_details.hostname matches part 'canary'
                          actions:
                            automation_actions:
                            - name: Canary Slack Notification
                              url: https://our-slack-listerner.test/send-notification
                              auto_send: true
                              headers:
                              - key: X-Notification-Source
                                value: PagerDuty Incident Webhook
                              parameters:
                              - key: channel
                                value: '#my-team-channel'
                              - key: message
                                value: Something is wrong with the canary deployment
                        - label: Never bother the on-call for info-level events outside of work hours
                          id: cd770384
                          conditions:
                          - expression: event.severity matches 'info' and not (now in Mon,Tue,Wed,Thu,Fri 09:00:00 to 17:00:00 America/Los_Angeles)
                          actions:
                            suppress: true
                      catch_all:
                        actions:
                          suppress: true
                          incident_custom_field_updates:
                          - id: PEXCK89
                            value: '#general-incident-notifications'
                      created_at: '2021-11-18T16:42:01Z'
                      created_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      updated_at: '2021-11-18T16:42:01Z'
                      updated_by:
                        id: P8B9WR8
                        self: https://api.pagerduty.com/users/P8B9WR8
                        type: user_reference
                      version: rn1Mja13T1HBdmPChqFilSQXUW2fWXM_
                    warnings:
                    - feature: nested_rules
                      feature_type: nested_rules
                      message: This orchestration contains Nested Rules, which is not available on your account plan. The orchestration will be updated, however, only rules in the 'start' set will be evaluated
                      rule_id: null
                      warning_type: forbidden_feature
                    - feature: variables
                      feature_type: actions
                      message: This rule uses Dynamic Field Enrichment & Extraction, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: c91f72f3
                      warning_type: forbidden_feature
                    - feature: extractions
                      feature_type: actions
                      message: This rule uses Dynamic Field Enrichment & Extraction, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: c91f72f3
                      warning_type: forbidden_feature
                    - feature: pagerduty_automation_actions
                      feature_type: actions
                      message: This rule uses PagerDuty Automation Actions, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: c91f72f3
                      warning_type: forbidden_feature
                    - feature: automation_actions
                      feature_type: actions
                      message: This rule uses Automation Actions, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: 1f6d9a33
                      warning_type: forbidden_feature
                    - feature: recurring_condition
                      feature_type: conditions
                      message: This rule uses Recurring Condition, which is a condition not available on your account plan. The rule will be updated, but it will not be evaluated by events
                      rule_id: c91f72f3
                      warning_type: forbidden_feature
                    - feature: incident_custom_field_updates
                      feature_type: actions
                      message: This rule uses Incident Custom Field update, which is an action not available on your account plan. The rule will be updated, but the action will not be fired when the rule is evaluated
                      rule_id: 4g6d2a901
                      warning_type: forbidden_feature
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/services/{service_id}/active:
    description: View and update a Service Orchestration's active status.
    get:
      x-pd-requires-scope: services.read
      tags:
      - Event Orchestrations
      operationId: getOrchActiveStatus
      summary: PagerDuty Get the Service Orchestration active status for a Service
      description: 'Get a Service Orchestration''s active status.


        A Service Orchestration allows you to set an active status based on whether an event will be evaluated against a service orchestration path (true) or service ruleset (false).


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationPathServiceActiveResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: services.write
      tags:
      - Event Orchestrations
      operationId: updateOrchActiveStatus
      summary: PagerDuty Update the Service Orchestration active status for a Service
      description: 'Update a Service Orchestration''s active status.


        A Service Orchestration allows you to set an active status based on whether an event will be evaluated against a service orchestration path (true) or service ruleset (false).


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      requestBody:
        description: Update Service Orchestration's active status.
        content:
          application/json:
            schema:
              $ref: '#/components/responses/OrchestrationPathServiceActiveResponse/content/application~1json/schema'
            examples:
              request:
                summary: Example Request
                value:
                  active: false
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationPathServiceActiveResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
        '409':
          $ref: '#/components/responses/Conflict'
  /event_orchestrations/{id}/cache_variables:
    description: Manage Cache Variables for a Global Event Orchestration.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      operationId: listCacheVarOnGlobalOrch
      description: 'List Cache Variables for a Global Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      summary: PagerDuty List Cache Variables for a Global Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariableListResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: createCacheVarOnGlobalOrch
      description: 'Create a Cache Variable for a Global Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Create a Cache Variable for a Global Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      requestBody:
        $ref: '#/components/requestBodies/OrchestrationCacheVariablePostRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariablePostResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
  /event_orchestrations/{id}/cache_variables/{cache_variable_id}:
    description: Manage a Cache Variable for a Global Event Orchestration.
    get:
      x-pd-requires-scope: event_orchestrations.read
      tags:
      - Event Orchestrations
      operationId: getCacheVarOnGlobalOrch
      description: 'Get a Cache Variable for a Global Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.read`

        '
      summary: PagerDuty Get a Cache Variable for a Global Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      - $ref: '#/components/parameters/event_orchestration_cache_variable_id'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariableGetResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: updateCacheVarOnGlobalOrch
      description: 'Update a Cache Variable for a Global Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Update a Cache Variable for a Global Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      - $ref: '#/components/parameters/event_orchestration_cache_variable_id'
      requestBody:
        $ref: '#/components/requestBodies/OrchestrationCacheVariablePutRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariablePutResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
    delete:
      x-pd-requires-scope: event_orchestrations.write
      tags:
      - Event Orchestrations
      operationId: deleteCacheVarOnGlobalOrch
      description: 'Delete a Cache Variable for a Global Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `event_orchestrations.write`

        '
      summary: PagerDuty Delete a Cache Variable for a Global Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/event_orchestration_id'
      - $ref: '#/components/parameters/event_orchestration_cache_variable_id'
      responses:
        '204':
          description: The Cache Variable was deleted successfully.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /event_orchestrations/services/{service_id}/cache_variables:
    description: Manage Cache Variables for a Service Event Orchestration.
    get:
      x-pd-requires-scope: services.read
      tags:
      - Event Orchestrations
      operationId: listCacheVarOnServiceOrch
      description: 'List Cache Variables for a Service Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.read`

        '
      summary: PagerDuty List Cache Variables for a Service Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariableListResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      x-pd-requires-scope: services.write
      tags:
      - Event Orchestrations
      operationId: createCacheVarOnServiceOrch
      description: 'Create a Cache Variable for a Service Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.write`

        '
      summary: PagerDuty Create a Cache Variable for a Service Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      requestBody:
        $ref: '#/components/requestBodies/OrchestrationCacheVariablePostRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariablePostResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
  /event_orchestrations/services/{service_id}/cache_variables/{cache_variable_id}:
    description: Manage a Cache Variable for a Service Event Orchestration.
    get:
      x-pd-requires-scope: services.read
      tags:
      - Event Orchestrations
      operationId: getCacheVarOnServiceOrch
      description: 'Get a Cache Variable for a Service Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.read`

        '
      summary: PagerDuty Get a Cache Variable for a Service Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/event_orchestration_cache_variable_id'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariableGetResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-pd-requires-scope: services.write
      tags:
      - Event Orchestrations
      operationId: updateCacheVarOnServiceOrch
      description: 'Update a Cache Variable for a Service Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.write`

        '
      summary: PagerDuty Update a Cache Variable for a Service Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/event_orchestration_cache_variable_id'
      requestBody:
        $ref: '#/components/requestBodies/OrchestrationCacheVariablePutRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrchestrationCacheVariablePutResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
    delete:
      x-pd-requires-scope: services.write
      tags:
      - Event Orchestrations
      operationId: deleteCacheVarOnServiceOrch
      description: 'Delete a Cache Variable for a Service Event Orchestration.


        Cache Variables allow you to store event data on an Event Orchestration, which can then be used in Event Orchestration rules as part of conditions or actions.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#event-orchestrations)


        Scoped OAuth requires: `services.write`

        '
      summary: PagerDuty Delete a Cache Variable for a Service Event Orchestration
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/service_id'
      - $ref: '#/components/parameters/event_orchestration_cache_variable_id'
      responses:
        '204':
          description: The Cache Variable was deleted successfully.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    OrchestrationCacheVariablePutResponse:
      description: The updated Cache Variable for this Event Orchestration.
      content:
        application/json:
          schema:
            type: object
            properties:
              cache_variable:
                $ref: '#/components/schemas/OrchestrationCacheVariable'
          examples:
            update_conditions:
              summary: 'Response Example: Recent value cache variable'
              value:
                cache_variable:
                - id: 66bb56c3-2a17-44f3-9193-06b166d759ad
                  name: example_1
                  conditions:
                  - expression: event.summary matches 'exception'
                  - expression: event.summary matches 'error'
                  configuration:
                    type: recent_value
                    source: event.summary
                    regex: .*
                  created_at: '2021-11-18T16:42:01Z'
                  created_by:
                    id: P8B9WR8
                    self: https://api.pagerduty.com/users/P8B9WR8
                    type: user_reference
                  updated_at: '2021-11-18T16:42:01Z'
                  updated_by:
                    id: P8B9WR8
                    self: https://api.pagerduty.com/users/P8B9WR8
                    type: user_reference
            update_configuration:
              summary: 'Response Example: Trigger event count cache variable'
              value:
                cache_variable:
                - id: 66bb56c3-2a17-44f3-9193-06b166d759ad
                  name: example_1
                  conditions:
                  - expression: not event.custom_details.errors exists
                  configuration:
                    type: trigger_event_count
                    ttl_seconds: 2
                  created_at: '2021-11-18T16:42:01Z'
                  created_by:
                    id: P8B9WR8
                    self: https://api.pagerduty.com/users/P8B9WR8
                    type: user_reference
                  updated_at: '2021-11-18T16:42:01Z'
                  updated_by:
                    id: P8B9WR8
                    self: https://api.pagerduty.com/users/P8B9WR8
                    type: user_reference
            update_disabled:
              summary: 'Response Example: Disabled cache variable'
              value:
                cache_variable:
                - id: 66bb56c3-2a17-44f3-9193-06b166d759ad
                  name: example_1
                  conditions:
                  - expression: not event.custom_details.errors exists
                  configuration:
                    type: recent_value
                    source: event.summary
                    regex: .*
                  disabled: true
                  created_at: '2021-11-18T16:42:01Z'
                  created_by:
                    id: P8B9WR8
                    self: https://api.pagerduty.com/users/P8B9WR8
                    type: user_reference
                  updated_at: '2021-11-18T16:42:01Z'
                  updated_by:
                    id: P8B9WR8
                    self: https://api.pagerduty.com/users/P8B9WR8
[...]
