openapi: 3.0.2
info:
  description: 'This document describes the PagerDuty REST APIs.


    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)


    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).


    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.

    '
  contact:
    name: PagerDuty Support
    url: http://www.pagerduty.com/support
    email: support@pagerduty.com
  title: PagerDuty Abilities Incidents API
  version: 2.0.0
servers:
- url: https://api.pagerduty.com
  description: PagerDuty V2 API.
security:
- api_key: []
tags:
- name: Incidents
  description: 'An incident represents a problem or an issue that needs to be addressed and resolved. Incidents trigger on a service, which prompts notifications to go out to on-call responders per the service''s escalation policy.

    '
paths:
  /incidents:
    description: List and update incidents.
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: listIncidents
      description: 'List existing incidents.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty List incidents
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/incident_list_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/offset_total'
      - $ref: '#/components/parameters/date_range'
      - $ref: '#/components/parameters/incident_key'
      - $ref: '#/components/parameters/incident_services'
      - $ref: '#/components/parameters/team_ids'
      - $ref: '#/components/parameters/incident_assigned_to_user'
      - $ref: '#/components/parameters/incident_urgencies'
      - $ref: '#/components/parameters/time_zone'
      - $ref: '#/components/parameters/statuses_incidents'
      - $ref: '#/components/parameters/sort_by_incidents'
      - $ref: '#/components/parameters/include_incidents'
      - $ref: '#/components/parameters/since_incidents'
      - $ref: '#/components/parameters/until_incidents'
      responses:
        '200':
          description: A paginated array of incidents.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    incidents:
                      type: array
                      items:
                        $ref: '#/components/schemas/Incident'
                  required:
                  - incidents
              examples:
                response:
                  summary: Response Example
                  value:
                    incidents:
                    - id: PT4KHLK
                      type: incident
                      summary: '[#1234] The server is on fire.'
                      self: https://api.pagerduty.com/incidents/PT4KHLK
                      html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
                      incident_number: 1234
                      title: The server is on fire.
                      created_at: '2015-10-06T21:30:42Z'
                      updated_at: '2015-10-06T21:40:23Z'
                      status: resolved
                      incident_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      assignments: []
                      assigned_via: escalation_policy
                      last_status_change_at: '2015-10-06T21:38:23Z'
                      resolved_at: '2015-10-06T21:38:23Z'
                      first_trigger_log_entry:
                        id: Q02JTSNZWHSEKV
                        type: trigger_log_entry_reference
                        summary: Triggered through the API
                        self: https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV
                      alert_counts:
                        all: 2
                        triggered: 0
                        resolved: 2
                      is_mergeable: true
                      escalation_policy:
                        id: PT20YPA
                        type: escalation_policy_reference
                        summary: Another Escalation Policy
                        self: https://api.pagerduty.com/escalation_policies/PT20YPA
                        html_url: https://subdomain.pagerduty.com/escalation_policies/PT20YPA
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                      pending_actions: []
                      acknowledgements: []
                      alert_grouping:
                        grouping_type: advanced
                        started_at: '2015-10-06T21:30:42Z'
                        ended_at: null
                        alert_grouping_active: true
                      last_status_change_by:
                        id: PXPGF42
                        type: user_reference
                        summary: Earline Greenholt
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      priority:
                        id: P53ZZH5
                        type: priority_reference
                        summary: P2
                        self: https://api.pagerduty.com/priorities/P53ZZH5
                      resolve_reason: null
                      conference_bridge:
                        conference_number: +1-415-555-1212,,,,1234#
                        conference_url: https://example.com/acb-123
                      incidents_responders: []
                      responder_requests: []
                      urgency: high
                    limit: 1
                    offset: 0
                    more: true
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: incidents.write
      x-pd-operation-limit: true
      tags:
      - Incidents
      operationId: updateIncidents
      description: 'Acknowledge, resolve, escalate or reassign one or more incidents.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        A maximum of 250 incidents may be updated at a time. If more than this number of incidents are given, the API will respond with status 413 (Request Entity Too Large).


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`


        This API operation has operation specific rate limits. See the [Rate Limits](https://developer.pagerduty.com/docs/72d3b724589e3-rest-api-rate-limits) page for more information.

        '
      summary: PagerDuty Manage incidents
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/offset_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/offset_total'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                incidents:
                  type: array
                  description: An array of incidents, including the parameters to update.
                  items:
                    properties:
                      id:
                        type: string
                        description: The id of the incident to update.
                      type:
                        type: string
                        description: The incident type.
                        enum:
                        - incident
                        - incident_reference
                      status:
                        type: string
                        description: The new status of the incident.
                        enum:
                        - resolved
                        - acknowledged
                      resolution:
                        type: string
                        description: The resolution for this incident if status is set to resolved.
                      title:
                        type: string
                        description: A succinct description of the nature, symptoms, cause, or effect of the incident.
                      priority:
                        $ref: '#/components/schemas/PriorityReference'
                      escalation_level:
                        type: integer
                        description: Escalate the incident to this level in the escalation policy.
                      assignments:
                        type: array
                        description: Assign the incident to these assignees.
                        items:
                          properties:
                            assignee:
                              $ref: '#/components/schemas/UserReference'
                      escalation_policy:
                        $ref: '#/components/schemas/EscalationPolicyReference'
                      conference_bridge:
                        $ref: '#/components/schemas/ConferenceBridge'
                    required:
                    - id
                    - type
              required:
              - incidents
            examples:
              incidents:
                summary: Request Example
                value:
                  incidents:
                  - id: PT4KHLK
                    type: incident_reference
                    status: acknowledged
                  - id: PQMF62U
                    type: incident_reference
                    priority:
                      id: P53ZZH5
                      type: priority_reference
                  - id: PPVZH9X
                    type: incident_reference
                    status: resolved
                  - id: P8JOGX7
                    type: incident_reference
                    assignments:
                    - assignee:
                        id: PXPGF42
                        type: user_reference
      responses:
        '200':
          description: All of the updates succeeded.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    incidents:
                      type: array
                      items:
                        $ref: '#/components/schemas/Incident'
                  required:
                  - incidents
              examples:
                response:
                  summary: Response Example
                  value:
                    incidents:
                    - id: PT4KHLK
                      type: incident
                      summary: '[#1234] The server is on fire.'
                      self: https://api.pagerduty.com/incidents/PT4KHLK
                      html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
                      incident_number: 1234
                      created_at: '2015-10-06T21:30:42Z'
                      updated_at: '2015-10-06T21:40:23Z'
                      status: resolved
                      title: The server is on fire.
                      alert_counts:
                        all: 2
                        triggered: 0
                        resolved: 2
                      pending_actions:
                      - type: unacknowledge
                        at: '2015-11-10T01:02:52Z'
                      - type: resolve
                        at: '2015-11-10T04:31:52Z'
                      incident_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      assigned_via: escalation_policy
                      assignments:
                      - at: '2015-11-10T00:31:52Z'
                        assignee:
                          id: PXPGF42
                          type: user_reference
                          summary: Earline Greenholt
                          self: https://api.pagerduty.com/users/PXPGF42
                          html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      acknowledgements:
                      - at: '2015-11-10T00:32:52Z'
                        acknowledger:
                          id: PXPGF42
                          type: user_reference
                          summary: Earline Greenholt
                          self: https://api.pagerduty.com/users/PXPGF42
                          html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      resolved_at: '2015-10-06T21:38:23Z'
                      last_status_change_at: '2015-10-06T21:38:23Z'
                      last_status_change_by:
                        id: PXPGF42
                        type: user_reference
                        summary: Earline Greenholt
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      first_trigger_log_entry:
                        id: Q02JTSNZWHSEKV
                        type: trigger_log_entry_reference
                        summary: Triggered through the API
                        self: https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV
                      escalation_policy:
                        id: PT20YPA
                        type: escalation_policy_reference
                        summary: Another Escalation Policy
                        self: https://api.pagerduty.com/escalation_policies/PT20YPA
                        html_url: https://subdomain.pagerduty.com/escalation_policies/PT20YPA
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                      urgency: high
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: incidents.write
      x-pd-operation-limit: true
      tags:
      - Incidents
      operationId: createIncident
      description: 'Create an incident synchronously without a corresponding event from a monitoring service.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`


        This API operation has operation specific rate limits. See the [Rate Limits](https://developer.pagerduty.com/docs/72d3b724589e3-rest-api-rate-limits) page for more information.

        '
      summary: PagerDuty Create an Incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                incident:
                  type: object
                  description: Details of the incident to be created.
                  properties:
                    type:
                      type: string
                      enum:
                      - incident
                    title:
                      type: string
                      description: A succinct description of the nature, symptoms, cause, or effect of the incident.
                    service:
                      $ref: '#/components/schemas/ServiceReference'
                    priority:
                      $ref: '#/components/schemas/PriorityReference'
                    urgency:
                      type: string
                      description: The urgency of the incident
                      enum:
                      - high
                      - low
                    body:
                      $ref: '#/components/schemas/IncidentBody'
                    incident_key:
                      type: string
                      description: A string which identifies the incident. Sending subsequent requests referencing the same service and with the same incident_key will result in those requests being rejected if an open incident matches that incident_key.
                    assignments:
                      type: array
                      description: Assign the incident to these assignees. Cannot be specified if an escalation policy is given.
                      items:
                        properties:
                          assignee:
                            $ref: '#/components/schemas/UserReference'
                    escalation_policy:
                      $ref: '#/components/schemas/EscalationPolicyReference'
                    conference_bridge:
                      $ref: '#/components/schemas/ConferenceBridge'
                  required:
                  - type
                  - title
                  - service
              required:
              - incident
            examples:
              request:
                summary: Request Example
                value:
                  incident:
                    type: incident
                    title: The server is on fire.
                    service:
                      id: PWIXJZS
                      type: service_reference
                    priority:
                      id: P53ZZH5
                      type: priority_reference
                    urgency: high
                    incident_key: baf7cf21b1da41b4b0221008339ff357
                    body:
                      type: incident_body
                      details: A disk is getting full on this machine. You should investigate what is causing the disk to fill, and ensure that there is an automated process in place for ensuring data is rotated (eg. logs should have logrotate around them). If data is expected to stay on this disk forever, you should start planning to scale up to a larger disk.
                    escalation_policy:
                      id: PT20YPA
                      type: escalation_policy_reference
      responses:
        '201':
          description: The incident object created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident:
                    $ref: '#/components/schemas/Incident'
                required:
                - incident
              examples:
                response:
                  summary: Response Example
                  value:
                    incident:
                      id: PT4KHLK
                      type: incident
                      title: The server is on fire.
                      summary: '[#1234] The server is on fire.'
                      self: https://api.pagerduty.com/incidents/PT4KHLK
                      html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
                      incident_number: 1234
                      created_at: '2015-10-06T21:30:42Z'
                      updated_at: '2015-10-06T21:40:23Z'
                      status: triggered
                      incident_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PWIXJZS
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PWIXJZS
                        html_url: https://subdomain.pagerduty.com/service-directory/PWIXJZS
                      priority:
                        id: P53ZZH5
                        type: priority_reference
                        summary: P2
                        self: https://api.pagerduty.com/priorities/P53ZZH5
                      assigned_via: escalation_policy
                      assignments:
                      - at: '2015-11-10T00:31:52Z'
                        assignee:
                          id: PXPGF42
                          type: user_reference
                          summary: Earline Greenholt
                          self: https://api.pagerduty.com/users/PXPGF42
                          html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      resolved_at: null
                      last_status_change_at: '2015-10-06T21:38:23Z'
                      last_status_change_by:
                        id: PXPGF42
                        type: user_reference
                        summary: Earline Greenholt
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      first_trigger_log_entry:
                        id: Q02JTSNZWHSEKV
                        type: trigger_log_entry_reference
                        summary: Triggered through the API
                        self: https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV
                      escalation_policy:
                        id: PT20YPA
                        type: escalation_policy_reference
                        summary: Another Escalation Policy
                        self: https://api.pagerduty.com/escalation_policies/PT20YPA
                        html_url: https://subdomain.pagerduty.com/escalation_policies/PT20YPA
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                      urgency: high
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}:
    description: Get an incident.
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: getIncident
      description: 'Show detailed information about an incident. Accepts either an incident id, or an incident number.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty Get an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/include_incident'
      responses:
        '200':
          description: The incident requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident:
                    $ref: '#/components/schemas/Incident'
                required:
                - incident
              examples:
                response:
                  summary: Response Example
                  value:
                    incident:
                      id: PT4KHLK
                      type: incident
                      summary: '[#1234] The server is on fire.'
                      self: https://api.pagerduty.com/incidents/PT4KHLK
                      html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
                      incident_number: 1234
                      title: The server is on fire.
                      created_at: '2015-10-06T21:30:42Z'
                      updated_at: '2015-10-06T21:40:23Z'
                      status: acknowledged
                      incident_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      assignments:
                      - at: '2015-11-10T00:31:52Z'
                        assignee:
                          id: PXPGF42
                          type: user_reference
                          summary: Earline Greenholt
                          self: https://api.pagerduty.com/users/PXPGF42
                          html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      assigned_via: escalation_policy
                      last_status_change_at: '2015-10-06T21:38:23Z'
                      resolved_at: null
                      first_trigger_log_entry:
                        id: Q02JTSNZWHSEKV
                        type: trigger_log_entry_reference
                        summary: Triggered through the API
                        self: https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV
                      alert_counts:
                        all: 2
                        triggered: 1
                        resolved: 1
                      is_mergeable: true
                      escalation_policy:
                        id: PT20YPA
                        type: escalation_policy_reference
                        summary: Another Escalation Policy
                        self: https://api.pagerduty.com/escalation_policies/PT20YPA
                        html_url: https://subdomain.pagerduty.com/escalation_policies/PT20YPA
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                      pending_actions:
                      - type: unacknowledge
                        at: '2015-11-10T01:02:52Z'
                      - type: resolve
                        at: '2015-11-10T04:31:52Z'
                      acknowledgements:
                      - at: '2015-11-10T00:32:52Z'
                        acknowledger:
                          id: PXPGF42
                          type: user_reference
                          summary: Earline Greenholt
                          self: https://api.pagerduty.com/users/PXPGF42
                          html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      alert_grouping:
                        grouping_type: advanced
                        started_at: '2015-10-06T21:30:42Z'
                        ended_at: null
                        alert_grouping_active: true
                      last_status_change_by:
                        id: PXPGF42
                        type: user_reference
                        summary: Earline Greenholt
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      priority:
                        id: P53ZZH5
                        type: priority_reference
                        summary: P2
                        self: https://api.pagerduty.com/priorities/P53ZZH5
                      resolve_reason: null
                      conference_bridge:
                        conference_number: +1-415-555-1212,,,,1234#
                        conference_url: https://example.com/acb-123
                      incidents_responders:
                      - state: pending
                        user:
                          id: PL7A2O4
                          type: user_reference
                          summary: Lee Turner
                          self: https://api.pagerduty.com/users/PL7A2O4
                          html_url: https://subdomain.pagerduty.com/users/PL7A2O4
                          avatar_url: https://secure.gravatar.com/avatar/51c673f51f6b483b24c889bbafbd2a67.png?d=mm&r=PG
                        incident:
                          id: PXP12GZ
                          type: incident_reference
                          summary: Ongoing Incident in Mailroom
                          self: https://api.pagerduty.com/incidents/PXP12GZ
                          html_url: https://subdomain.pagerduty.com/incidents/PXP12GZ
                        updated_at: '2018-08-09T14:40:48-07:00'
                        message: Please help with issue - join bridge at +1(234)-567-8910
                        requester:
                          id: P09TT3C
                          type: user_reference
                          summary: Jane Doe
                          self: https://api.pagerduty.com/users/P09TT3C
                          html_url: https://subdomain.pagerduty.com/users/P09TT3C
                          avatar_url: https://secure.gravatar.com/avatar/1c747247b75acc1f724e2784c838b3f8.png?d=mm&r=PG
                        requested_at: '2018-08-09T21:40:49Z'
                      responder_requests:
                      - incident:
                          id: PXP12GZ
                          type: incident_reference
                          summary: Ongoing Incident in Mailroom
                          self: https://api.pagerduty.com/incidents/PXP12GZ
                          html_url: https://subdomain.pagerduty.com/incidents/PXP12GZ
                        requester:
                          id: P09TT3C
                          type: user_reference
                          summary: Jane Doe
                          self: https://api.pagerduty.com/users/P09TT3C
                          html_url: https://subdomain.pagerduty.com/users/P09TT3C
                        requested_at: '2018-08-16T14:55:17-07:00'
                        message: Please help with issue - join bridge at +1(234)-567-8910
                        responder_request_targets:
                        - responder_request_target:
                            type: user
                            id: PL7A2O4
                            incidents_responders:
                            - state: pending
                              user:
                                id: PL7A2O4
                                type: user_reference
                                summary: Lee Turner
                                self: https://api.pagerduty.com/users/PL7A2O4
                                html_url: https://subdomain.pagerduty.com/users/PL7A2O4
                                avatar_url: https://secure.gravatar.com/avatar/51c673f51f6b483b24c889bbafbd2a67.png?d=mm&r=PG
                              incident:
                                id: PXP12GZ
                                type: incident_reference
                                summary: Ongoing Incident in Mailroom
                                self: https://api.pagerduty.com/incidents/PXP12GZ
                                html_url: https://subdomain.pagerduty.com/incidents/PXP12GZ
                              updated_at: '2018-08-09T14:40:48-07:00'
                              message: Please help with issue - join bridge at +1(234)-567-8910
                              requester:
                                id: P09TT3C
                                type: user_reference
                                summary: Jane Doe
                                self: https://api.pagerduty.com/users/P09TT3C
                                html_url: https://subdomain.pagerduty.com/users/P09TT3C
                                avatar_url: https://secure.gravatar.com/avatar/1c747247b75acc1f724e2784c838b3f8.png?d=mm&r=PG
                              requested_at: '2018-08-09T21:40:49Z'
                      urgency: high
                      custom_fields:
                      - id: PT4KHEE
                        type: field_value
                        name: environment
                        display_name: Runtime Environment
                        description: environment where incident occurred
                        data_type: string
                        field_type: single_value_fixed
                        value: production
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: incidents.write
      tags:
      - Incidents
      operationId: updateIncident
      description: 'Acknowledge, resolve, escalate or reassign an incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Update an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                incident:
                  type: object
                  description: The parameters of the incident to update.
                  properties:
                    type:
                      type: string
                      description: The incident type.
                      enum:
                      - incident
                      - incident_reference
                    status:
                      type: string
                      description: The new status of the incident.
                      enum:
                      - resolved
                      - acknowledged
                    priority:
                      $ref: '#/components/schemas/PriorityReference'
                    resolution:
                      type: string
                      description: The resolution for this incident if status is set to resolved.
                    title:
                      type: string
                      description: The new title of the incident.
                    escalation_level:
                      type: integer
                      description: Escalate the incident to this level in the escalation policy.
                    assignments:
                      type: array
                      description: Assign the incident to these assignees.
                      items:
                        properties:
                          assignee:
                            $ref: '#/components/schemas/UserReference'
                    escalation_policy:
                      $ref: '#/components/schemas/EscalationPolicyReference'
                    urgency:
                      type: string
                      description: The urgency of the incident.
                      enum:
                      - high
                      - low
                    conference_bridge:
                      $ref: '#/components/schemas/ConferenceBridge'
                  required:
                  - type
              required:
              - incident
            examples:
              request:
                summary: Request Example
                value:
                  incident:
                    type: incident_reference
                    status: acknowledged
      responses:
        '200':
          description: The incident was updated.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    incident:
                      $ref: '#/components/schemas/Incident'
                  required:
                  - incident
              examples:
                response:
                  summary: Response Example
                  value:
                    incident:
                      id: PT4KHLK
                      type: incident
                      summary: '[#1234] The server is on fire.'
                      self: https://api.pagerduty.com/incidents/PT4KHLK
                      html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
                      incident_number: 1234
                      created_at: '2015-10-06T21:30:42Z'
                      updated_at: '2015-10-06T21:40:23Z'
                      status: resolved
                      title: The server is on fire.
                      pending_actions:
                      - type: unacknowledge
                        at: '2015-11-10T01:02:52Z'
                      - type: resolve
                        at: '2015-11-10T04:31:52Z'
                      incident_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      priority:
                        id: P53ZZH5
                        type: priority_reference
                        summary: P2
                        self: https://api.pagerduty.com/priorities/P53ZZH5
                      assigned_via: escalation_policy
                      assignments:
                      - at: '2015-11-10T00:31:52Z'
                        assignee:
                          id: PXPGF42
                          type: user_reference
                          summary: Earline Greenholt
                          self: https://api.pagerduty.com/users/PXPGF42
                          html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      acknowledgements:
                      - at: '2015-11-10T00:32:52Z'
                        acknowledger:
                          id: PXPGF42
                          type: user_reference
                          summary: Earline Greenholt
                          self: https://api.pagerduty.com/users/PXPGF42
                          html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      resolved_at: '2015-10-06T21:38:23Z'
                      last_status_change_at: '2015-10-06T21:38:23Z'
                      last_status_change_by:
                        id: PXPGF42
                        type: user_reference
                        summary: Earline Greenholt
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      first_trigger_log_entry:
                        id: Q02JTSNZWHSEKV
                        type: trigger_log_entry_reference
                        summary: Triggered through the API
                        self: https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV
                      escalation_policy:
                        id: PT20YPA
                        type: escalation_policy_reference
                        summary: Another Escalation Policy
                        self: https://api.pagerduty.com/escalation_policies/PT20YPA
                        html_url: https://subdomain.pagerduty.com/escalation_policies/PT20YPA
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                      urgency: high
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}/alerts:
    description: List and update alerts.
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: listIncidentAlerts
      description: 'List alerts for the specified incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty List alerts for an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/offset_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/offset_total'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/alert_key'
      - $ref: '#/components/parameters/statuses_incident_alerts'
      - $ref: '#/components/parameters/sort_by_incident_alerts'
      - $ref: '#/components/parameters/include_incident_alerts'
      responses:
        '200':
          description: A paginated array of the incident's alerts.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    alerts:
                      type: array
                      items:
                        $ref: '#/components/schemas/Alert'
                  required:
                  - alerts
              examples:
                response:
                  summary: Response Example
                  value:
                    alerts:
                    - id: PT4KHLK
                      type: alert
                      summary: The server is on fire.
                      self: https://api.pagerduty.com/incidents/PT4KHLK/alerts/PXPGF42
                      html_url: https://subdomain.pagerduty.com/alerts/PXPGF42
                      created_at: '2015-10-06T21:30:42Z'
                      status: resolved
                      alert_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      body:
                        type: alert_body
                        contexts:
                        - type: link
                        details:
                          customKey: Server is on fire!
                          customKey2: Other stuff!
                      incident:
                        id: PT4KHLK
                        type: incident_reference
                      suppressed: false
                      severity: critical
                      integration:
                        id: PQ12345
                        type: generic_email_inbound_integration_reference
                        summary: Email Integration
                        self: https://api.pagerduty.com/services/PIJ90N7/integrations/PQ12345
                        html_url: https://subdomain.pagerduty.com/services/PIJ90N7/integrations/PQ12345
                    limit: 1
                    offset: 0
                    more: true
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: incidents.write
      tags:
      - Incidents
      operationId: updateIncidentAlerts
      description: 'Resolve multiple alerts or associate them with different incidents.


        An incident represents a problem or an issue that needs to be addressed and resolved. An alert represents a digital signal that was emitted to PagerDuty by the monitoring systems that detected or identified the issue.


        A maximum of 500 alerts may be updated at a time. If more than this number of alerts are given, the API will respond with status 413 (Request Entity Too Large).


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Manage alerts
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/offset_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/offset_total'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                alerts:
                  type: array
                  description: An array of alerts, including the parameters to update for each alert.
                  items:
                    $ref: '#/components/schemas/Alert'
              required:
              - alerts
            examples:
              request:
                summary: Request Example
                value:
                  alerts:
                  - id: PPVZH9X
                    type: alert
                    status: resolved
                  - id: P8JOGX7
                    type: alert
                    incident:
                      id: PPVZH9X
                      type: incident_reference
      responses:
        '200':
          description: All of the updates succeeded.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    alerts:
                      type: array
                      items:
                        $ref: '#/components/schemas/Alert'
                  required:
                  - alerts
              examples:
                response:
                  summary: Response Example
                  value:
                    alerts:
                    - id: PT4KHLK
                      type: alert
                      summary: The server is on fire.
                      self: https://api.pagerduty.com/incidents/PT4KHLK/alerts/PXPGF42
                      html_url: https://subdomain.pagerduty.com/alerts/PXPGF42
                      created_at: '2015-10-06T21:30:42Z'
                      status: resolved
                      alert_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      body:
                        type: alert_body
                        contexts:
                        - type: link
                        details:
                          customKey: Server is on fire!
                          customKey2: Other stuff!
                      incident:
                        id: PPVZH9X
                        type: incident_reference
                      suppressed: false
                      severity: critical
                    limit: 1
                    offset: 0
                    more: true
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}/alerts/{alert_id}:
    description: Get an alert.
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: getIncidentAlert
      description: 'Show detailed information about an alert. Accepts an alert id.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        When a service sends an event to PagerDuty, an alert and corresponding incident is triggered in PagerDuty.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty Get an alert
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/alert_id'
      responses:
        '200':
          description: The alert requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alert:
                    $ref: '#/components/schemas/Alert'
                required:
                - alert
              examples:
                response:
                  summary: Response Example
                  value:
                    alert:
                      id: PT4KHLK
                      type: alert
                      summary: The server is on fire.
                      self: https://api.pagerduty.com/incident/PT4KHLX/alerts/PT4KHLK
                      html_url: https://subdomain.pagerduty.com/alerts/PT4KHLK
                      created_at: '2015-10-06T21:30:42Z'
                      status: resolved
                      alert_key: baf7cf21b1da41b4b0221008339ff357
                      service:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      incident:
                        id: PT4KHLX
                        type: incident_reference
                        summary: '[#1234] The server is on fire.'
                        self: https://api.pagerduty.com/incidents/PT4KHLX
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLX
                      suppressed: false
                      severity: critical
                      integration:
                        id: PQ12345
                        type: generic_email_inbound_integration_reference
                        summary: Email Integration
                        self: https://api.pagerduty.com/services/PIJ90N7/integrations/PQ12345
                        html_url: https://subdomain.pagerduty.com/services/PIJ90N7/integrations/PQ12345
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: incidents.write
      tags:
      - Incidents
      operationId: updateIncidentAlert
      description: 'Resolve an alert or associate an alert with a new parent incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        When a service sends an event to PagerDuty, an alert and corresponding incident is triggered in PagerDuty.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Update an alert
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/alert_id'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                alert:
                  $ref: '#/components/schemas/Alert'
              required:
              - alert
            examples:
              request:
                summary: Request Example
                value:
                  alert:
                    type: alert
                    status: resolved
                    incident:
                      id: PEYSGVF
                      type: incident_reference
                    body:
                      type: alert_body
                      contexts:
                      - type: link
                      details:
                        customKey: Server is on fire!
                        customKey2: Other stuff!
        description: The parameters of the alert to update.
      responses:
        '200':
          description: The alert that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  alert:
                    $ref: '#/components/schemas/Alert'
                required:
                - alert
              examples:
                request:
                  summary: Request Example
                  value:
                    alert:
                      type: alert
                      status: resolved
                      incident:
                        id: PEYSGVF
                        type: incident_reference
                      body:
                        type: alert_body
                        contexts:
                        - type: link
                        details:
                          customKey: Server is on fire!
                          customKey2: Other stuff!
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}/business_services/{business_service_id}/impacts:
    put:
      x-pd-requires-scope: incidents.write
      summary: PagerDuty Manually change an Incident's Impact on a Business Service.
      tags:
      - Incidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  relation:
                    type: string
                    enum:
                    - impacted
                    - not_impacted
              examples:
                response:
                  summary: Response Example
                  value:
                    relation: impacted
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: putIncidentManualBusinessServiceAssociation
      description: 'Change Impact of an Incident on a Business Service.

        Scoped OAuth requires: `incidents.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/business_service_id'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                relation:
                  type: string
                  enum:
                  - impacted
                  - not_impacted
              required:
              - relation
        description: 'The `impacted` relation will cause the Business Service and any Services that it supports to become impacted by this incident.


          The `not_impacted` relation will remove the Incident''s Impact from the specified Business Service.


          The effect of adding or removing Impact to a Business Service in this way will also change the propagation of Impact to other Services supported by that Business Service.'
  /incidents/{id}/business_services/impacts:
    get:
      x-pd-requires-scope: incidents.read
      summary: PagerDuty List Business Services impacted by the given Incident
      tags:
      - Incidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPagination'
                - type: object
                  properties:
                    services:
                      type: array
                      items:
                        $ref: '#/components/schemas/Impact'
              examples:
                response:
                  summary: Response Example
                  value:
                    limit: 100
                    next_cursor: null
                    services:
                    - id: PD1234
                      name: Web API
                      type: business_service
                      status: impacted
                    - id: PF9KMXH
                      name: Analytics Backend
                      type: business_service
                      status: impacted
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      operationId: getIncidentImpactedBusinessServices
      description: 'Retrieve a list of Business Services that are being impacted by the given Incident.

        Scoped OAuth requires: `incidents.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/id'
  /incidents/{id}/custom_fields/values:
    description: Retrieve and update incident custom fields.
    get:
      tags:
      - Incidents
      x-pd-requires-scope: incidents.read
      operationId: getIncidentFieldValues
      description: 'Get custom field values for an incident.


        <!-- theme: warning -->


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty Get Custom Field Values
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The list of custom field values.
          content:
            application/json:
              schema:
                type: object
                properties:
                  custom_fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldsFieldValue'
                required:
                - custom_fields
              examples:
                response1:
                  summary: Response Example
                  value:
                    custom_fields:
                    - id: PT4KHEE
                      type: field_value
                      name: environment
                      display_name: Runtime Environment
                      description: environment where incident occurred
                      data_type: string
                      field_type: single_value_fixed
                      value: production
                response2:
                  summary: Response Example
                  value:
                    custom_fields:
                    - id: PT4KHEE
                      type: field_value
                      name: environment
                      display_name: Runtime Environment
                      description: environment where incident occurred
                      data_type: string
                      field_type: multi_value_fixed
                      value:
                      - production
                      - staging
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Incidents
      x-pd-requires-scope: incidents.write
      operationId: setIncidentFieldValues
      description: 'Set custom field values for an incident.


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Update Custom Field Values
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                custom_fields:
                  type: array
                  title: Array of Custom Field Values
                  items:
                    $ref: '#/components/schemas/CustomFieldsEditableFieldValue'
              required:
              - custom_fields
            examples:
              request1:
                summary: Request Example
                value:
                  custom_fields:
                  - name: environment
                    value: production
              request2:
                summary: Request Example
                value:
                  custom_fields:
                  - id: PT4KHEE
                    value: production
              request3:
                summary: Request Example
                value:
                  custom_fields:
                  - id: PT4KHEE
                    value:
                    - production
                    - staging
      responses:
        '201':
          description: Custom field values were updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  custom_fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldsFieldValue'
                required:
                - custom_fields
              examples:
                response1:
                  summary: Response Example
                  value:
                    custom_fields:
                    - id: PT4KHEE
                      type: field_value
                      name: environment
                      display_name: Runtime Environment
                      description: environment where incident occurred
                      data_type: string
                      field_type: single_value_fixed
                      value: production
                response2:
                  summary: Response Example
                  value:
                    custom_fields:
                    - id: PT4KHEE
                      type: field_value
                      name: environment
                      display_name: Runtime Environment
                      description: environment where incident occurred
                      data_type: string
                      field_type: single_value_fixed
                      value: production
                response3:
                  summary: Response Example
                  value:
                    custom_fields:
                    - id: PT4KHEE
                      type: field_value
                      name: environment
                      display_name: Runtime Environment
                      description: environment where incident occurred
                      data_type: string
                      field_type: multi_value_fixed
                      value:
                      - production
                      - staging
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /incidents/{id}/log_entries:
    description: List incident log entries for an incident.
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: listIncidentLogEntries
      description: 'List log entries for the specified incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        A Log Entry are a record of all events on your account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty List log entries for an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/offset_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/offset_total'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/time_zone'
      - $ref: '#/components/parameters/since'
      - $ref: '#/components/parameters/until'
      - $ref: '#/components/parameters/log_entry_is_overview'
      - $ref: '#/components/parameters/include_log_entry'
      responses:
        '200':
          description: A paginated array of the incident's log entries.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    log_entries:
                      type: array
                      items:
                        oneOf:
                        - $ref: '#/components/schemas/AcknowledgeLogEntry'
                        - $ref: '#/components/schemas/AnnotateLogEntry'
                        - $ref: '#/components/schemas/AssignLogEntry'
                        - $ref: '#/components/schemas/DelegateLogEntry'
                        - $ref: '#/components/schemas/EscalateLogEntry'
                        - $ref: '#/components/schemas/ExhaustEscalationPathLogEntry'
                        - $ref: '#/components/schemas/NotifyLogEntry'
                        - $ref: '#/components/schemas/ReachAckLimitLogEntry'
                        - $ref: '#/components/schemas/ReachTriggerLimitLogEntry'
                        - $ref: '#/components/schemas/RepeatEscalationPathLogEntry'
                        - $ref: '#/components/schemas/ResolveLogEntry'
                        - $ref: '#/components/schemas/SnoozeLogEntry'
                        - $ref: '#/components/schemas/TriggerLogEntry'
                        - $ref: '#/components/schemas/UnacknowledgeLogEntry'
                        - $ref: '#/components/schemas/UrgencyChangeLogEntry'
                  required:
                  - log_entries
              examples:
                response:
                  summary: Response Example
                  value:
                    log_entries:
                    - id: Q02JTSNZWHSEKV
                      type: trigger_log_entry
                      summary: Triggered through the API
                      self: https://api.pagerduty.com/log_entries/Q02JTSNZWHSEKV?incident_id=PT4KHLK
                      html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK/log_entries/Q02JTSNZWHSEKV
                      created_at: '2015-11-07T00:14:20Z'
                      agent:
                        id: PIJ90N7
                        type: service_reference
                        summary: My Mail Service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://subdomain.pagerduty.com/service-directory/PIJ90N7
                      channel:
                        type: api
                      incident:
                        id: PT4KHLK
                        type: incident_reference
                        summary: '[#1234] The server is on fire.'
                        self: https://api.pagerduty.com/incidents/PT4KHLK
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                      contexts: []
                      event_details:
                        description: Tasks::SFDCValidator - PD_Data__c - duplicates
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}/merge:
    description: '"Merge" an array of incidents into a target incident. After the merge is performed the target incident will contain the source incidents''s alerts, and the source incidents will be resolved.'
    put:
      tags:
      - Incidents
      x-pd-requires-scope: incidents.write
      operationId: mergeIncidents
      description: 'Merge a list of source incidents into this incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Merge incidents
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_incidents:
                  type: array
                  description: The source incidents that will be merged into the target incident and resolved.
                  items:
                    $ref: '#/components/schemas/IncidentReference'
              required:
              - source_incidents
            examples:
              request:
                summary: Request Example
                value:
                  source_incidents:
                  - id: P8JOGX7
                    type: incident_reference
                  - id: PPVZH9X
                    type: incident_reference
      responses:
        '200':
          description: The target incident, which now contains all the alerts from the source incident.
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident:
                    $ref: '#/components/schemas/IncidentReference'
                required:
                - incident
              examples:
                response:
                  summary: Response Example
                  value:
                    incident:
                      id: PT4KHLK
                      type: incident_reference
                      summary: '[#1234] The server is on fire.'
                      self: https://api.pagerduty.com/incidents/PT4KHLK
                      html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}/notes:
    description: List and create incident notes.
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: listIncidentNotes
      description: 'List existing notes for the specified incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty List notes for an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: An array of notes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/IncidentNote'
                required:
                - notes
              examples:
                response:
                  summary: Response Example
                  value:
                    notes:
                    - id: PWL7QXS
                      user:
                        id: PXPGF42
                        type: user_reference
                        summary: Earline Greenholt
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      channel:
                        summary: The PagerDuty website or APIs
                      content: Firefighters are on the scene.
                      created_at: '2013-03-06T15:28:51-05:00'
                    - id: PCQC25
                      user:
                        id: PXPGF42
                        type: bot_user_reference
                        summary: A Global Event Rule
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/event-rules/global/0e84de00-9511-4380-9f4f-a7b568bb49a0/rules/14e56445-ebab-4dd0-ba9d-fc28a41b7e7b
                      channel:
                        id: 14e56445-ebab-4dd0-ba9d-fc28a41b7e7b
                        type: event_rule_reference
                        summary: A Global Event Rule
                        self: https://api.pagerduty.com/rulesets/0e84de00-9511-4380-9f4f-a7b568bb49a0/rules/14e56445-ebab-4dd0-ba9d-fc28a41b7e7b
                        html_url: https://subdomain.pagerduty.com/event-rules/global/0e84de00-9511-4380-9f4f-a7b568bb49a0/rules/14e56445-ebab-4dd0-ba9d-fc28a41b7e7b
                      content: Initial alert information indicates a 1-alarm fire
                      created_at: '2013-03-06T15:28:42-05:00'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Incidents
      x-pd-requires-scope: incidents.write
      operationId: createIncidentNote
      description: 'Create a new note for the specified incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        A maximum of 2000 notes can be added to an incident.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Create a note on an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: object
                  properties:
                    content:
                      type: string
                      description: The note content
                  required:
                  - content
              required:
              - note
            examples:
              request:
                summary: Request Example
                value:
                  note:
                    content: Firefighters are on the scene.
      responses:
        '200':
          description: The new note.
          content:
            application/json:
              schema:
                type: object
                properties:
                  note:
                    $ref: '#/components/schemas/IncidentNote'
                required:
                - note
              examples:
                response:
                  summary: Response Example
                  value:
                    note:
                      id: PWL7QXS
                      user:
                        id: PXPGF42
                        type: user_reference
                        summary: Earline Greenholt
                        self: https://api.pagerduty.com/users/PXPGF42
                        html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      channel:
                        summary: The PagerDuty website or APIs
                      content: Firefighters are on the scene.
                      created_at: '2013-03-06T15:28:51-05:00'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}/outlier_incident:
    description: Get Outlier Incident
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: getOutlierIncident
      description: 'Gets Outlier Incident information for a given Incident on its Service.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#outlier-incident)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty Get Outlier Incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/since'
      - $ref: '#/components/parameters/additional_details'
      responses:
        '200':
          description: Outlier Incident information calculated over the same Service as the given Incident.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  outlier_incident:
                    type: object
                    description: Outlier Incident information calculated over the same Service as the given Incident.
                    properties:
                      incident:
                        $ref: '#/components/schemas/Incident'
                      incident_template:
                        type: object
                        properties:
                          id:
                            type: string
                            readOnly: true
                          cluster_id:
                            type: string
                            readOnly: true
                            description: The cluster the Incident Template pattern belongs to
                          mined_text:
                            type: string
                            readOnly: true
                            description: The Incident Template mined pattern text
              examples:
                response:
                  summary: Response Example
                  value:
                    outlier_incident:
                      incident:
                        id: PR2P3RW
                        created_at: '2020-11-18T13:08:14Z'
                        self: https://api.pagerduty.com/incidents/PR2P3RW
                        title: '[LINUX]Used disk space is more than 5 GB on volume /var/log : PROBLEM for ce51323'
                        occurrence:
                          count: 10
                          frequency: 0.04
                          category: rare
                          since: '2020-09-23T13:08:14Z'
                          until: '2021-01-18T13:08:14Z'
                      incident_template:
                        id: PX3P1PX
                        cluster_id: P2B3X5
                        mined_text: '[LINUX]Used disk space is more than <MEASUREMENT> on volume <*> : PROBLEM for <*>'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /incidents/{id}/past_incidents:
    parameters:
    - $ref: '#/components/parameters/header_Accept'
    - $ref: '#/components/parameters/header_Content-Type'
    - $ref: '#/components/parameters/id'
    get:
      x-pd-requires-scope: incidents.read
      summary: PagerDuty Get Past Incidents
      tags:
      - Incidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  past_incidents:
                    type: array
                    description: Aggregate of past incidents
                    items:
                      type: object
                      properties:
                        incident:
                          type: object
                          description: Incident model reference
                          properties:
                            id:
                              type: string
                              description: The globally unique identifier of the incident
                            created_at:
                              type: string
                              description: The date/time the incident was first triggered
                            self:
                              type: string
                              description: The URL at which the object is accessible
                            title:
                              type: string
                              description: The description of the nature, symptoms, cause, or effect of the incident
                        score:
                          type: number
                          description: 'The computed similarity score associated with the incident and parent incident '
                  total:
                    type: number
                    description: The total number of Past Incidents if the total parameter was set in the request
                  limit:
                    type: number
                    description: The maximum number of Incidents requested
              examples:
                response:
                  summary: Response Example
                  value:
                    past_incidents:
                    - incident:
                        id: PFBE9I2
                        created_at: '2020-11-04T16:08:15Z'
                        self: https://api.pagerduty.com/incidents/PFBE9I2
                        title: Things are so broken!
                      score: 46.8249
                    - incident:
                        id: P1J6V6M
                        created_at: '2020-10-22T17:18:14Z'
                        self: https://api.pagerduty.com/incidents/P1J6V6M
                        title: Things are so broken!
                      score: 46.8249
                    - incident:
                        id: P6HPX5N
                        created_at: '2020-10-06T22:01:13Z'
                        self: https://api.pagerduty.com/incidents/P6HPX5N
                        title: You forgot to feed the cat!
                      score: 0
                    total: 3
                    limit: 5
        '400':
          $ref: '#/components/responses/ArgumentError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getPastIncidents
      parameters:
      - $ref: '#/components/parameters/past_incidents_limit'
      - $ref: '#/components/parameters/past_incidents_total'
      description: 'Past Incidents returns Incidents within the past 6 months that have similar metadata and were generated on the same Service as the parent Incident. By default, 5 Past Incidents are returned. Note: This feature is currently available as part of the Event Intelligence package or Digital Operations plan only.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#past_incidents)


        Scoped OAuth requires: `incidents.read`

        '
  /incidents/{id}/related_incidents:
    description: Get Related Incidents
    get:
      x-pd-requires-scope: incidents.read
      tags:
      - Incidents
      operationId: getRelatedIncidents
      description: 'Returns the 20 most recent Related Incidents that are impacting other Responders and Services. Note: This feature is currently available as part of the Event Intelligence package or Digital Operations plan only.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#related_incidents)


        Scoped OAuth requires: `incidents.read`

        '
      summary: PagerDuty Get Related Incidents
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/additional_details'
      responses:
        '200':
          description: A list of Related Incidents and their relationships.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  related_incidents:
                    type: array
                    description: A list of Related Incidents and their relationships.
                    items:
                      properties:
                        incident:
                          $ref: '#/components/schemas/Incident'
                        relationships:
                          type: array
                          description: A list of reasons for why the Incident is considered related.
                          items:
                            properties:
                              type:
                                type: string
                                description: The type of relationship. A relationship outlines the reason why two Incidents are considered related.
                                enum:
                                - machine_learning_inferred
                                - service_dependency
                              metadata:
                                anyOf:
                                - $ref: '#/components/schemas/RelatedIncidentMachineLearningRelationship'
                                - $ref: '#/components/schemas/RelatedIncidentServiceDependencyRelationship'
              examples:
                response:
                  summary: Response Example
                  value:
                    related_incidents:
                    - incident:
                        id: PR2P3RW
                        created_at: '2020-11-18T13:08:14Z'
                        self: https://api.pagerduty.com/incidents/PR2P3RW
                        title: The server is on fire.
                      relationships:
                      - type: machine_learning_inferred
                        metadata:
                          grouping_classification: similar_contents
                          user_feedback:
                            positive_feedback_count: 12
                            negative_feedback_count: 3
                      - type: service_dependency
                        metadata:
                          dependent_services:
                            id: P1L1YEE
                            type: business_service_reference
                            self: https://api.pagerduty.com/business_services/P1L1YEE
                          supporting_services:
                            id: PNGCNV2
                            type: technical_service_reference
                            self: https://api.pagerduty.com/services/PNGCNV2
        '400':
          $ref: '#/components/responses/ArgumentError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /incidents/{id}/responder_requests:
    description: Add responders to an incident.
    post:
      x-pd-requires-scope: incidents.write
      tags:
      - Incidents
      operationId: createIncidentResponderRequest
      description: 'Send a new responder request for the specified incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Create a responder request for an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                requester_id:
                  type: string
                  description: The user id of the requester.
                message:
                  type: string
                  description: The message sent with the responder request.
                responder_request_targets:
                  description: The array of targets the responder request is sent to.
                  items:
                    $ref: '#/components/schemas/ResponderRequestTargetReference'
              required:
              - requester_id
              - message
              - responder_request_targets
            examples:
              request:
                summary: Request Example
                value:
                  requester_id: PL1JMK5
                  message: Please help with issue - join bridge at +1(234)-567-8910
                  responder_request_targets:
                  - responder_request_target:
                      id: PJ25ZYX
                      type: user_reference
      responses:
        '200':
          description: The new responder request for the given incident.
          content:
            application/json:
              schema:
                type: object
                properties:
                  responder_request:
                    $ref: '#/components/schemas/ResponderRequest'
                required:
                - responder_request
              examples:
                response:
                  summary: Response Example
                  value:
                    responder_request:
                      incident:
                        id: PXP12GZ
                        type: incident_reference
                        summary: Ongoing Incident in Mailroom
                        self: https://api.pagerduty.com/incidents/PXP12GZ
                        html_url: https://subdomain.pagerduty.com/incidents/PXP12GZ
                      requester:
                        id: P09TT3C
                        type: user_reference
                        summary: Jane Doe
                        self: https://api.pagerduty.com/users/P09TT3C
                        html_url: https://subdomain.pagerduty.com/users/P09TT3C
                      requested_at: '2018-08-16T14:55:17-07:00'
                      message: Please help with issue - join bridge at +1(234)-567-8910
                      responder_request_targets:
                      - responder_request_target:
                          type: user
                          id: PL7A2O4
                          incidents_responders:
                          - state: pending
                            user:
                              id: PL7A2O4
                              type: user_reference
                              summary: Lee Turner
                              self: https://api.pagerduty.com/users/PL7A2O4
                              html_url: https://subdomain.pagerduty.com/users/PL7A2O4
                              avatar_url: https://secure.gravatar.com/avatar/51c673f51f6b483b24c889bbafbd2a67.png?d=mm&r=PG
                            incident:
                              id: PXP12GZ
                              type: incident_reference
                              summary: Ongoing Incident in Mailroom
                              self: https://api.pagerduty.com/incidents/PXP12GZ
                              html_url: https://subdomain.pagerduty.com/incidents/PXP12GZ
                            updated_at: '2018-08-09T14:40:48-07:00'
                            message: Please help with issue - join bridge at +1(234)-567-8910
                            requester:
                              id: P09TT3C
                              type: user_reference
                              summary: Jane Doe
                              self: https://api.pagerduty.com/users/P09TT3C
                              html_url: https://subdomain.pagerduty.com/users/P09TT3C
                              avatar_url: https://secure.gravatar.com/avatar/1c747247b75acc1f724e2784c838b3f8.png?d=mm&r=PG
                            requested_at: '2018-08-09T21:40:49Z'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incidents/{id}/snooze:
    description: '"Snooze" an incident. This suspends the acknowledgement timeout and auto-resolution for a given amount of time.'
    post:
      tags:
      - Incidents
      x-pd-requires-scope: incidents.write
      operationId: createIncidentSnooze
      description: 'Snooze an incident.


        An incident represents a problem or an issue that needs to be addressed and resolved.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#incidents)


        Scoped OAuth requires: `incidents.write`

        '
      summary: PagerDuty Snooze an incident
      parameters:
      - $ref: '#/components/parameters/header_Accept'
[...]
