openapi: 3.0.2
info:
  description: 'This document describes the PagerDuty REST APIs.


    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)


    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).


    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.

    '
  contact:
    name: PagerDuty Support
    url: http://www.pagerduty.com/support
    email: support@pagerduty.com
  title: PagerDuty Abilities Automation Actions API
  version: 2.0.0
servers:
- url: https://api.pagerduty.com
  description: PagerDuty V2 API.
security:
- api_key: []
tags:
- name: Automation Actions
  description: 'Automation Actions invoke jobs that are staged in Runbook Automation or Process Automation.

    '
paths:
  /automation_actions/actions:
    description: List and create Automation Actions
    post:
      summary: PagerDuty Create an Automation Action
      tags:
      - Automation Actions
      description: 'Create a Script, Process Automation, or Runbook Automation action

        '
      operationId: createAutomationAction
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  oneOf:
                  - $ref: '#/components/schemas/AutomationActionsScriptActionPostBody'
                  - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionPostBody'
                  discriminator:
                    propertyName: action_type
                    mapping:
                      script: '#/components/schemas/AutomationActionsScriptActionPostBody'
                      process_automation: '#/components/schemas/AutomationActionsProcessAutomationJobActionPostBody'
              required:
              - action
            examples:
              request:
                value:
                  action:
                    name: Restart apache
                    description: Restarts apache on the us-west-2-shopping-cart host
                    action_type: script
                    action_data_reference:
                      script: java --version
                    teams:
                    - id: PQ9K7I8
                      type: team_reference
                    services:
                    - id: PRDRWUJ
                      type: service_reference
        required: true
      responses:
        '201':
          description: Action information
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    oneOf:
                    - $ref: '#/components/schemas/AutomationActionsScriptActionWithTeams'
                    - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionWithTeams'
                    discriminator:
                      propertyName: action_type
                      mapping:
                        script: '#/components/schemas/AutomationActionsScriptActionWithTeams'
                        process_automation: '#/components/schemas/AutomationActionsProcessAutomationJobActionWithTeams'
                required:
                - action
              examples:
                response:
                  summary: Response Example
                  value:
                    action:
                      action_data_reference:
                        script: java --version
                      action_type: script
                      type: action
                      creation_time: '2022-11-08T14:54:02.267989Z'
                      description: Restarts apache on the us-west-2-shopping-cart host
                      id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      modify_time: '2022-11-08T14:54:02.267989Z'
                      name: Restart apache
                      privileges:
                        permissions:
                        - read
                        - update
                        - delete
                        - invoke
                      services:
                      - id: PRDRWUJ
                        type: service_reference
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: PagerDuty List Automation Actions
      tags:
      - Automation Actions
      operationId: getAllAutomationActions
      description: 'Lists Automation Actions matching provided query params.


        The returned records are sorted by action name in alphabetical order.


        See [`Cursor-based pagination`](https://developer.pagerduty.com/docs/rest-api-v2/pagination/) for instructions on how to paginate through the result set.

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/cursor_limit'
      - $ref: '#/components/parameters/cursor_cursor'
      - $ref: '#/components/parameters/automation_actions_name'
      - $ref: '#/components/parameters/automation_actions_runner_id'
      - $ref: '#/components/parameters/automation_actions_classification'
      - $ref: '#/components/parameters/automation_actions_team_id'
      - $ref: '#/components/parameters/automation_actions_service_id'
      - $ref: '#/components/parameters/automation_actions_action_type'
      responses:
        '200':
          description: An array of actions
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    actions:
                      type: array
                      items:
                        oneOf:
                        - $ref: '#/components/schemas/AutomationActionsScriptAction'
                        - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobAction'
                        discriminator:
                          propertyName: action_type
                          mapping:
                            script: '#/components/schemas/AutomationActionsScriptAction'
                            process_automation: '#/components/schemas/AutomationActionsProcessAutomationJobAction'
                  required:
                  - actions
                - type: object
                  properties:
                    privileges:
                      $ref: '#/components/schemas/AutomationActionsUserPermissions'
                - $ref: '#/components/schemas/CursorPagination'
              examples:
                response:
                  summary: Response Example
                  value:
                    actions:
                    - action_data_reference:
                        script: java --version
                      action_type: script
                      type: action
                      creation_time: '2022-11-08T14:54:02.267989Z'
                      description: Restarts apache on the us-west-2-shopping-cart host
                      id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      modify_time: '2022-11-08T14:54:02.267989Z'
                      name: Restart apache
                      privileges:
                        permissions:
                        - read
                        - update
                        - delete
                        - invoke
                      services:
                      - id: PRDRWUJ
                        type: service_reference
                    - action_data_reference:
                        script: java --version
                      action_type: script
                      type: action
                      creation_time: '2022-11-08T14:54:02.267989Z'
                      description: Restarts apache on the us-west-2-shopping-cart host
                      id: 01DACKMP6Q3Y5YG51ENA26CX2I
                      modify_time: '2022-11-08T14:54:02.267989Z'
                      name: Restart apache
                      privileges:
                        permissions:
                        - read
                        - update
                    limit: 2
                    next_cursor: null
                    privileges:
                      permissions:
                      - read
                      - update
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/actions/{id}:
    description: View, Update and Delete Automation Actions
    get:
      summary: PagerDuty Get an Automation Action
      tags:
      - Automation Actions
      operationId: getAutomationAction
      description: 'Get an Automation Action

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Action information
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    oneOf:
                    - $ref: '#/components/schemas/AutomationActionsScriptActionWithTeams'
                    - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionWithTeams'
                    discriminator:
                      propertyName: action_type
                      mapping:
                        script: '#/components/schemas/AutomationActionsScriptActionWithTeams'
                        process_automation: '#/components/schemas/AutomationActionsProcessAutomationJobActionWithTeams'
                required:
                - action
              examples:
                response:
                  value:
                    action:
                      action_data_reference:
                        script: java --version
                      action_type: script
                      type: action
                      creation_time: '2022-11-08T14:54:02.267989Z'
                      description: Restarts apache on the us-west-2-shopping-cart host
                      id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      modify_time: '2022-11-08T14:54:02.267989Z'
                      name: Restart apache
                      privileges:
                        permissions:
                        - read
                        - update
                        - delete
                        - invoke
                      services:
                      - id: PRDRWUJ
                        type: service_reference
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: PagerDuty Delete an Automation Action
      tags:
      - Automation Actions
      operationId: deleteAutomationAction
      description: 'Delete an Automation Action

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Deleted successfully.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: PagerDuty Update an Automation Action
      tags:
      - Automation Actions
      operationId: updateAutomationAction
      description: 'Updates an Automation Action

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  oneOf:
                  - $ref: '#/components/schemas/AutomationActionsScriptActionPutBody'
                  - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionPutBody'
                  discriminator:
                    propertyName: action_type
                    mapping:
                      script: '#/components/schemas/AutomationActionsScriptActionPutBody'
                      process_automation: '#/components/schemas/AutomationActionsProcessAutomationJobActionPutBody'
              required:
              - action
        required: true
      responses:
        '200':
          description: Action information
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    oneOf:
                    - $ref: '#/components/schemas/AutomationActionsScriptActionWithTeams'
                    - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionWithTeams'
                    discriminator:
                      propertyName: action_type
                      mapping:
                        script: '#/components/schemas/AutomationActionsScriptActionWithTeams'
                        process_automation: '#/components/schemas/AutomationActionsProcessAutomationJobActionWithTeams'
                required:
                - action
              examples:
                response:
                  value:
                    action:
                      action_data_reference:
                        script: java --version
                      action_type: script
                      type: action
                      creation_time: '2022-11-08T14:54:02.267989Z'
                      description: Restarts apache on the us-west-2-shopping-cart host
                      id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      modify_time: '2022-11-08T14:54:02.267989Z'
                      name: Restart apache
                      privileges:
                        permissions:
                        - read
                        - update
                        - delete
                        - invoke
                      services:
                      - id: PRDRWUJ
                        type: service_reference
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/actions/{id}/invocations:
    description: Create an Invocation
    post:
      summary: PagerDuty Create an Invocation
      tags:
      - Automation Actions
      description: 'Invokes an Action

        '
      operationId: createAutomationActionInvocation
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invocation:
                  type: object
                  properties:
                    metadata:
                      type: object
                      properties:
                        incident_id:
                          type: string
                      required:
                      - incident_id
                  required:
                  - metadata
              required:
              - invocation
            examples:
              request:
                value:
                  invocation:
                    metadata:
                      incident_id: Q2LAR4ADCXC8IB
        required: true
      responses:
        '201':
          description: Created invocation
          content:
            application/json:
              schema:
                type: object
                properties:
                  invocation:
                    allOf:
                    - $ref: '#/components/schemas/AutomationActionsInvocation'
                    - type: object
                required:
                - invocation
              examples:
                response:
                  summary: Response Example
                  value:
                    invocation:
                      id: 01DBYD4A25RCXAXQDC9ZX0678V
                      type: invocation
                      action_snapshot:
                        name: Restart apache
                        action_type: script
                        action_data_reference:
                          script: print(\Hello from a Python script!\)
                          invocation_command: /usr/local/bin/python3
                      runner_id: 01COQFFNVWIONSLY8C66YTU2O5
                      timing:
                      - timestamp: '2022-11-08T22:57:14.756Z'
                        state: sent
                      duration: 23
                      state: sent
                      action_id: 01DAW70HK24JZORNE0P9C2V1L9
                      metadata:
                        agent:
                          id: PT4KHLK
                          type: user_reference
                        incident:
                          id: Q2LAR4ADCXC8IB
                          type: incident_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/actions/{id}/services:
    description: Manage Action-Service associations
    get:
      summary: PagerDuty Get all service references associated with an Automation Action
      tags:
      - Automation Actions
      operationId: getAutomationActionsActionServiceAssociations
      description: Gets all service references associated with an Automation Action
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: An array of service references
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceReference'
              examples:
                response:
                  value:
                    services:
                    - id: PQ9K7I8
                      type: service_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: PagerDuty Associate an Automation Action with a service
      tags:
      - Automation Actions
      operationId: createAutomationActionServiceAssocation
      description: 'Associate an Automation Action with a service

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service:
                  $ref: '#/components/schemas/ServiceReference'
              required:
              - service
            examples:
              request:
                value:
                  service:
                    id: PRDRWUJ
                    type: service_reference
        required: true
      responses:
        '201':
          description: The action-service association was created
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    $ref: '#/components/schemas/ServiceReference'
                required:
                - service
              examples:
                response:
                  value:
                    service:
                      id: PRDRWUJ
                      type: service_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/actions/{id}/services/{service_id}:
    description: Manage Action-Service associations
    get:
      summary: PagerDuty Get the details of an Automation Action / service relation
      tags:
      - Automation Actions
      operationId: getAutomationActionsActionServiceAssociation
      description: Gets the details of a Automation Action / service relation
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/service_id'
      responses:
        '200':
          description: Service reference
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    $ref: '#/components/schemas/ServiceReference'
              examples:
                response:
                  value:
                    service:
                      id: PQ9K7I8
                      type: service_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: PagerDuty Disassociate an Automation Action from a service
      tags:
      - Automation Actions
      operationId: deleteAutomationActionServiceAssociation
      description: 'Disassociate an Automation Action from a service

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/service_id'
      responses:
        '204':
          description: Ok.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/actions/{id}/teams:
    description: Manage Action-Team associations
    post:
      summary: PagerDuty Associate an Automation Action with a team
      tags:
      - Automation Actions
      operationId: createAutomationActionTeamAssociation
      description: 'Associate an Automation Action with a team

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                team:
                  $ref: '#/components/schemas/TeamReference'
              required:
              - team
            examples:
              request:
                value:
                  team:
                    id: PQ9K7I8
                    type: team_reference
        required: true
      responses:
        '201':
          description: The action-team association was created
          content:
            application/json:
              schema:
                type: object
                properties:
                  team:
                    $ref: '#/components/schemas/TeamReference'
                required:
                - team
              examples:
                response:
                  value:
                    team:
                      id: PQ9K7I8
                      type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: PagerDuty Get all team references associated with an Automation Action
      tags:
      - Automation Actions
      operationId: getAutomationActionsActionTeamAssociations
      description: Gets all team references associated with an Automation Action
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamReference'
              examples:
                response:
                  value:
                    teams:
                    - id: PQ9K7I8
                      type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/actions/{id}/teams/{team_id}:
    description: Manage Action-Team associations
    delete:
      summary: PagerDuty Disassociate an Automation Action from a team
      tags:
      - Automation Actions
      operationId: deleteAutomationActionTeamAssociation
      description: 'Disassociate an Automation Action from a team

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '204':
          description: Ok.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: PagerDuty Get the details of an Automation Action / team relation
      tags:
      - Automation Actions
      operationId: getAutomationActionsActionTeamAssociation
      description: Gets the details of an Automation Action / team relation
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  team:
                    $ref: '#/components/schemas/TeamReference'
              examples:
                response:
                  value:
                    team:
                      id: PQ9K7I8
                      type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/invocations:
    description: List Invocations
    get:
      summary: PagerDuty List Invocations
      tags:
      - Automation Actions
      description: 'List Invocations

        '
      operationId: listAutomationActionInvocations
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/automation_actions_invocation_state'
      - $ref: '#/components/parameters/automation_actions_not_invocation_state'
      - $ref: '#/components/parameters/automation_actions_incident_id'
      - $ref: '#/components/parameters/automation_actions_action_id'
      responses:
        '200':
          description: Invocations matching the criteria
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    invocations:
                      type: array
                      description: List of invocations sorted by creation_time in reverse chronological order (newest invocations first). At most 25 invocations are returned.
                      items:
                        $ref: '#/components/schemas/AutomationActionsInvocation'
                  required:
                  - invocations
              examples:
                response:
                  summary: Response Example
                  value:
                    invocations:
                    - id: 01DBYD4A25RCXAXQDC9ZX0678V
                      type: invocation
                      action_id: 01DAW70HK24JZORNE0P9C2V1L9
                      action_snapshot:
                        name: Restart Apache
                        action_type: process_automation
                        action_data_reference:
                          process_automation_job_arguments: prod-datapipe
                          process_automation_node_filter: 'mynode1 !nodename: mynode2'
                          process_automation_job_id: 79c199bba1aff6e519f198457f5ec0fc
                      duration: 5
                      metadata:
                        agent:
                          id: PRJ94S1
                          type: user_reference
                        incident:
                          id: Q2LAR4ADCXC8IB
                          type: incident_reference
                      runner_id: 01COQFFNVWIONSLY8C66YTU2O5
                      state: completed
                      timing:
                      - creation_timestamp: '2022-11-08T06:30:05.018949Z'
                        state: created
                      - creation_timestamp: '2022-11-08T06:30:10.069000Z'
                        state: running
                      - creation_timestamp: '2022-11-08T06:30:10.083000Z'
                        state: completed
                      - creation_timestamp: '2022-11-08T06:30:10.066000Z'
                        state: queued
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/invocations/{id}:
    description: View an Automation Actions Invocation
    get:
      summary: PagerDuty Get an Invocation
      tags:
      - Automation Actions
      operationId: getAutomationActionsInvocation
      description: 'Get an Automation Action Invocation

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Invocation information
          content:
            application/json:
              schema:
                type: object
                properties:
                  invocation:
                    $ref: '#/components/schemas/AutomationActionsInvocation'
                required:
                - invocation
              examples:
                response:
                  summary: Response Example
                  value:
                    invocation:
                      id: 01DBYD4A25RCXAXQDC9ZX0678V
                      type: invocation
                      action_id: 01DAW70HK24JZORNE0P9C2V1L9
                      action_snapshot:
                        name: Restart Apache
                        action_type: process_automation
                        action_data_reference:
                          process_automation_job_arguments: prod-datapipe
                          process_automation_node_filter: 'mynode1 !nodename: mynode2'
                          process_automation_job_id: 79c199bba1aff6e519f198457f5ec0fc
                      duration: 5
                      metadata:
                        agent:
                          id: PRJ94S1
                          type: user_reference
                        incident:
                          id: Q2LAR4ADCXC8IB
                          type: incident_reference
                      runner_id: 01COQFFNVWIONSLY8C66YTU2O5
                      state: completed
                      timing:
                      - creation_timestamp: '2022-11-08T06:30:05.018949Z'
                        state: created
                      - creation_timestamp: '2022-11-08T06:30:10.069000Z'
                        state: running
                      - creation_timestamp: '2022-11-08T06:30:10.083000Z'
                        state: completed
                      - creation_timestamp: '2022-11-08T06:30:10.066000Z'
                        state: queued
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/runners:
    description: List and create Automation Action runners.
    post:
      summary: PagerDuty Create an Automation Action runner.
      tags:
      - Automation Actions
      description: 'Create a Process Automation or a Runbook Automation runner.

        '
      operationId: createAutomationActionsRunner
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                runner:
                  oneOf:
                  - $ref: '#/components/schemas/AutomationActionsRunnerSidecarPostBody'
                  - $ref: '#/components/schemas/AutomationActionsRunnerRunbookPostBody'
                  discriminator:
                    propertyName: runner_type
              required:
              - runner
            examples:
              request:
                value:
                  runner:
                    name: us-west-2 prod sidecar runner
                    description: us-west-2 prod sidecar runner provisioned by SRE
                    runner_type: sidecar
                    teams:
                    - id: PQ9K7I8
                      type: team_reference
        required: true
      responses:
        '201':
          description: Runner information
          content:
            application/json:
              schema:
                type: object
                properties:
                  runner:
                    allOf:
                    - $ref: '#/components/schemas/AutomationActionsRunner'
                    - type: object
                      properties:
                        secret:
                          description: Secret used for authentication of sidecar runner_types
                          type: string
                required:
                - runner
              examples:
                response:
                  summary: Response Example
                  value:
                    runner:
                      id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      name: us-west-2 prod sidecar runner
                      summary: us-west-2 prod sidecar runner
                      type: runner
                      description: us-west-2 prod sidecar runner provisioned by SRE
                      creation_time: '2022-10-21T19:42:52.127369Z'
                      runner_type: sidecar
                      status: Configured
                      secret: 01DAZ9ZJ97OE23JUI6WH9XN7BK
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                      privileges:
                        permissions:
                        - read
                        - update
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: PagerDuty List Automation Action runners
      tags:
      - Automation Actions
      operationId: getAutomationActionsRunners
      description: 'Lists Automation Action runners matching provided query params.

        The returned records are sorted by runner name in alphabetical order.


        See [`Cursor-based pagination`](https://developer.pagerduty.com/docs/rest-api-v2/pagination/) for instructions on how to paginate through the result set.

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/cursor_limit'
      - $ref: '#/components/parameters/cursor_cursor'
      - $ref: '#/components/parameters/automation_actions_name'
      - $ref: '#/components/parameters/automation_actions_runners_include'
      responses:
        '200':
          description: Runners matching the criteria.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    runners:
                      type: array
                      items:
                        $ref: '#/components/schemas/AutomationActionsRunner'
                - type: object
                  properties:
                    privileges:
                      $ref: '#/components/schemas/AutomationActionsUserPermissions'
                - $ref: '#/components/schemas/CursorPagination'
              examples:
                response:
                  summary: Response Example
                  value:
                    runners:
                    - id: 01DACKMP6Q3Y5YG51ENA26CX2I
                      name: us-west-2 prod runbook runner
                      description: us-west-2 prod runbook runner provisioned by SRE
                      creation_time: '2022-10-21T19:42:52.127369Z'
                      type: runner
                      runner_type: runbook
                      runbook_base_uri: acme.prod
                      status: Configured
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                      privileges:
                        permissions:
                        - read
                        - update
                        - delete
                    - id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      name: us-west-2 prod sidecar runner
                      description: us-west-2 prod sidecar runner provisioned by SRE
                      creation_time: '2022-10-21T19:42:52.127369Z'
                      type: runner
                      runner_type: sidecar
                      status: Configured
                      privileges:
                        permissions:
                        - read
                        - update
                    privileges:
                      permissions:
                      - create
                    limit: 2
                    next_cursor: eyJjMiI6IjAxREEyTUxZTjBKNUVGQzFMS1dYVUtEREtUIiwiYzEiOiJSQkEgU2hhcmVkIFN0YWdpbmcgSW5zdGFuY2UifQ==
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/runners/{id}:
    description: View, Update and Delete Automation Action runners
    get:
      summary: PagerDuty Get an Automation Action runner
      tags:
      - Automation Actions
      operationId: getAutomationActionsRunner
      description: 'Get an Automation Action runner

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Runner information
          content:
            application/json:
              schema:
                type: object
                properties:
                  runner:
                    $ref: '#/components/schemas/AutomationActionsRunner'
                required:
                - runner
              examples:
                response:
                  summary: Response Example
                  value:
                    runner:
                      id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      name: us-west-2 prod sidecar runner
                      summary: us-west-2 prod sidecar runner
                      type: runner
                      description: us-west-2 prod sidecar runner provisioned by SRE
                      creation_time: '2022-10-21T19:42:52.127369Z'
                      runner_type: sidecar
                      status: Configured
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                      privileges:
                        permissions:
                        - read
                        - update
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: PagerDuty Update an Automation Action runner
      tags:
      - Automation Actions
      operationId: updateAutomationActionsRunner
      description: 'Update an Automation Action runner

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                runner:
                  oneOf:
                  - $ref: '#/components/schemas/AutomationActionsRunnerSidecarBody'
                  - $ref: '#/components/schemas/AutomationActionsRunnerRunbookBody'
                  discriminator:
                    propertyName: runner_type
              required:
              - runner
            examples:
              request:
                value:
                  runner:
                    name: us-west-2 prod sidecar runner
                    description: us-west-2 prod sidecar runner provisioned by SRE
        required: true
      responses:
        '200':
          description: Runner information
          content:
            application/json:
              schema:
                type: object
                properties:
                  runner:
                    $ref: '#/components/schemas/AutomationActionsRunner'
                required:
                - runner
              examples:
                response:
                  summary: Response Example
                  value:
                    runner:
                      id: 01DA2MLYN0J5EFC1LKWXUKDDKT
                      name: us-west-2 prod sidecar runner
                      summary: us-west-2 prod sidecar runner
                      type: runner
                      description: us-west-2 prod sidecar runner provisioned by SRE
                      creation_time: '2022-10-21T19:42:52.127369Z'
                      runner_type: sidecar
                      status: Configured
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                      privileges:
                        permissions:
                        - read
                        - update
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: PagerDuty Delete an Automation Action runner
      tags:
      - Automation Actions
      operationId: deleteAutomationActionsRunner
      description: 'Delete an Automation Action runner

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: Deleted successfully.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/runners/{id}/teams:
    description: Manage Runner-Team associations
    post:
      summary: PagerDuty Associate a runner with a team
      tags:
      - Automation Actions
      operationId: createAutomationActionsRunnerTeamAssociation
      description: 'Associate a runner with a team

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                team:
                  $ref: '#/components/schemas/TeamReference'
              required:
              - team
            examples:
              request:
                value:
                  team:
                    id: PQ9K7I8
                    type: team_reference
        required: true
      responses:
        '201':
          description: The runner-team association that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  team:
                    $ref: '#/components/schemas/TeamReference'
                required:
                - team
              examples:
                response:
                  summary: Response Example
                  value:
                    team:
                      id: PQ9K7I8
                      type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: PagerDuty Get all team references associated with a runner
      tags:
      - Automation Actions
      operationId: getAutomationActionsRunnerTeamAssociations
      description: Gets all team references associated with a runner
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamReference'
              examples:
                response:
                  value:
                    teams:
                    - id: PQ9K7I8
                      type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /automation_actions/runners/{id}/teams/{team_id}:
    description: Manage Runner-Team associations
    delete:
      summary: PagerDuty Disassociate a runner from a team
      tags:
      - Automation Actions
      operationId: deleteAutomationActionsRunnerTeamAssociation
      description: 'Disassociates a runner from a team

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '204':
          description: Ok.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: PagerDuty Get the details of a runner / team relation
      tags:
      - Automation Actions
      operationId: getAutomationActionsRunnerTeamAssociation
      description: Gets the details of a runner / team relation
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/team_id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  team:
                    $ref: '#/components/schemas/TeamReference'
              examples:
                response:
                  value:
                    team:
                      id: PQ9K7I8
                      type: team_reference
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    automation_actions_service_id:
      name: service_id
      description: Filters results to include the ones associated with the specified service
      in: query
      required: false
      schema:
        type: string
        nullable: false
    service_id:
      name: service_id
      in: path
      description: The service ID
      required: true
      schema:
        type: string
    automation_actions_invocation_state:
      name: invocation_state
      description: Invocation state
      in: query
      schema:
        type: string
        description: prepared -- the invocation exists and can be referenced, but is NOT available to a Runner <br> created -- the invocation exists and is waiting for a Runner <br> sent -- invocation sent to a Runner <br> queued -- invocation queued by a Runner <br> running -- invocation is being ran by a Runner <br> aborted -- invocation was aborted on a Runner <br> completed -- invocation completed on a Runner <br> error -- invocation encountered an error on a Runner unknown -- transient error encountered when fetching invocation state
        enum:
        - prepared
        - created
        - sent
        - queued
        - running
        - aborted
        - completed
        - error
        - unknown
        example: sent
    automation_actions_team_id:
      name: team_id
      description: Filters results to include the ones associated with the specified team.
      in: query
      required: false
      schema:
        type: string
        nullable: false
    automation_actions_action_type:
      name: action_type
      description: Filters results to include the ones matching the specified action type
      in: query
      required: false
      schema:
        type: string
        enum:
        - script
        - process_automation
        example: process_automation
    header_Accept:
      name: Accept
      description: The `Accept` header is used as a versioning header.
      in: header
      required: true
      schema:
        type: string
        default: application/vnd.pagerduty+json;version=2
    automation_actions_incident_id:
      name: incident_id
      description: Incident ID
      in: query
      required: false
      schema:
        type: string
        example: Q2LAR4ADCXC8IB
    header_Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
        enum:
        - application/json
    automation_actions_not_invocation_state:
      name: not_invocation_state
      description: Invocation state inverse filter (matches invocations NOT in the specified state)
      in: query
      schema:
        $ref: '#/components/parameters/automation_actions_invocation_state/schema'
    automation_actions_runners_include:
      name: include[]
      in: query
      required: false
      description: Includes additional data elements into the response
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
          - associated_actions
          example: associated_actions
        uniqueItems: true
    team_id:
      name: team_id
      in: path
      description: The team ID
      required: true
      schema:
        type: string
    automation_actions_name:
      name: name
      description: Filters results to include the ones matching the name (case insensitive substring matching)
      in: query
      required: false
      schema:
        type: string
        nullable: false
    automation_actions_runner_id:
      name: runner_id
      description: 'Filters results to include the ones linked to the specified runner.

        Specifying the value `any` filters results to include the ones linked to runners only,

        thus omitting the results not linked to runners.

        '
      in: query
      required: false
      schema:
        type: string
        nullable: false
    automation_actions_action_id:
      name: action_id
      description: Action ID
      in: query
      required: false
      schema:
        type: string
        example: 01DAW70HK24JZORNE0P9C2V1L9
    id:
      name: id
      description: The ID of the resource.
      in: path
      required: true
      schema:
        type: string
    automation_actions_classification:
      name: classification
      description: Filters results to include the ones matching the specified classification (aka category)
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/AutomationActionsActionClassificationEnum'
    cursor_cursor:
      name: cursor
      in: query
      required: false
      description: 'Optional parameter used to request the "next" set of results from an API.  The value provided here is most commonly obtained from the `next_cursor` field of the previous request.  When no value is provided, the request starts at the beginning of the result set.

        '
      schema:
        type: string
    cursor_limit:
      name: limit
      in: query
      required: false
      description: The minimum of the `limit` parameter used in the request or the maximum request size of the API.
      schema:
        type: integer
  schemas:
    AutomationActionsActionClassificationEnum:
      type: string
      enum:
      - diagnostic
      - remediation
      nullable: true
    AutomationActionsUserPermissions:
      type: object
      properties:
        permissions:
          nullable: false
          type: array
          items:
            type: string
            enum:
            - create
            - update
            - delete
            - invoke
          example:
          - update
          - delete
      required:
      - permissions
    AutomationActionsRunnerSidecarPostBody:
      type: object
      title: RunnerSidecarPostBody
      properties:
        runner_type:
          $ref: '#/components/schemas/AutomationActionsRunnerTypeEnum'
        name:
          type: string
          maxLength: 255
          example: us-west-2 prod runner
        description:
          type: string
          maxLength: 1024
          example: us-west-2 runner provisioned in the production environment by the SRE team
        teams:
          type: array
          description: The list of teams associated with the Runner
          items:
            $ref: '#/components/schemas/TeamReference'
      required:
      - runner_type
      - name
      - description
    AutomationActionsScriptActionPostBody:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsAbstractActionPostBody'
      - type: object
        properties:
          action_data_reference:
            $ref: '#/components/schemas/AutomationActionsScriptActionDataReference'
        required:
        - action_data_reference
    Template:
      allOf:
      - $ref: '#/components/schemas/EditableTemplate'
      - type: object
        properties:
          id:
            type: string
            readOnly: true
          summary:
            type: string
            nullable: true
            readOnly: true
            description: A short-form, server-generated string that provides succinct, important information about an object suitable for primary labeling of an entity in a client. In many cases, this will be identical to `name`, though it is not intended to be an identifier.
          self:
            type: string
            nullable: true
            readOnly: true
            format: url
            description: the API show URL at which the object is accessible
          html_url:
            type: string
            nullable: true
            readOnly: true
            format: url
            description: a URL at which the entity is uniquely displayed in the Web app
          type:
            type: string
            enum:
            - template
          created_by:
            description: User/Account object reference of the creator
            oneOf:
            - $ref: '#/components/schemas/UserReference'
            - allOf:
              - $ref: '#/components/schemas/Reference'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - account_reference
          updated_by:
            description: User/Account object reference of the updator
            oneOf:
            - $ref: '#/components/schemas/UserReference'
            - $ref: '#/components/schemas/Template/allOf/1/properties/created_by/oneOf/1'
    AutomationActionsRunnerSidecarBody:
      type: object
      title: RunnerSidecarBody
      properties:
        name:
          type: string
          maxLength: 255
          example: us-west-2 prod runner
        description:
          type: string
          maxLength: 1024
          example: us-west-2 runner provisioned in the production environment by the SRE team
    AutomationActionsScriptAction:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsAbstractAction'
      - type: object
        properties:
          action_data_reference:
            $ref: '#/components/schemas/AutomationActionsScriptActionDataReference'
        required:
        - action_data_reference
    TeamReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        properties:
          type:
            type: string
            enum:
            - team_reference
    AutomationActionsAbstractAction:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        description: A unit of work to be executed on runner. At most, an account can have 10,000 actions. If action maximum is exceeded, a 400 reponse is returned with error message.
        properties:
          name:
            type: string
            example: Restart apache
          description:
            type: string
            example: Restarts apache on the us-west-2-shopping-cart host
          action_type:
            $ref: '#/components/parameters/automation_actions_action_type/schema'
          action_classification:
            $ref: '#/components/schemas/AutomationActionsActionClassificationEnum'
          runner:
            type: string
            maxLength: 36
          runner_type:
            $ref: '#/components/schemas/AutomationActionsRunnerTypeEnum'
          services:
            type: array
            items:
              $ref: '#/components/schemas/ServiceReference'
          privileges:
            $ref: '#/components/schemas/AutomationActionsUserPermissions'
          metadata:
            type: object
          creation_time:
            type: string
            format: date-time
            description: The date/time
          modify_time:
            type: string
            format: date-time
            description: The date/time
          last_run:
            type: string
            format: date-time
            description: The date/time
          last_run_by:
            oneOf:
            - $ref: '#/components/schemas/UserReference'
            - type: object
              properties:
                id:
                  type: string
                  example: /5471da24-eecd-42e2-ac38-a32b2d907406/service/P000000
                type:
                  type: string
                  example: event_orchestration_reference
              required:
              - type
              - id
            - $ref: '#/components/schemas/Template/allOf/1/properties/created_by/oneOf/1'
        required:
        - id
        - type
        - action_type
        - name
        - creation_time
        - modify_time
    AutomationActionsProcessAutomationJobActionWithTeams:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobAction'
      - type: object
        properties:
          teams:
            type: array
            items:
              $ref: '#/components/schemas/TeamReference'
    IncidentReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        properties:
          type:
            type: string
            enum:
            - incident_reference
    AutomationActionsRunbookBaseURI:
      type: string
      description: The base URI of the Runbook server to connect to. May only contain alphanumeric characters, periods, underscores and dashes. Specified as the subdomain portion of an RBA host, as in <runbook_base_uri>.runbook.pagerduty.cloud
      maxLength: 255
      example: subdomain
    AutomationActionsScriptActionWithTeams:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsScriptAction'
      - type: object
        properties:
          teams:
            type: array
            items:
              $ref: '#/components/schemas/TeamReference'
    UserReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        properties:
          type:
            type: string
            enum:
            - user_reference
    AutomationActionsProcessAutomationJobActionPostBody:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsAbstractActionPostBody'
      - type: object
        properties:
          action_data_reference:
            $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionDataReference'
        required:
        - action_data_reference
    AutomationActionsProcessAutomationJobAction:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsAbstractAction'
      - type: object
        properties:
          action_data_reference:
            $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionDataReference'
        required:
        - action_data_reference
    AutomationActionsRunner:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        description: A remote entity capable of executing work specified by an action. At maximum, an account can have 1000 runners. If runner maximum is exceeded, a 400 response is returned with error message.
        properties:
          runner_type:
            $ref: '#/components/schemas/AutomationActionsRunnerTypeEnum'
          name:
            type: string
            example: us-west-2 prod runner
          description:
            type: string
            example: us-west-2 runner provisioned in the production environment by the SRE team
          last_seen:
            type: string
            format: date-time
          status:
            $ref: '#/components/schemas/AutomationActionsRunnerStatusEnum'
          creation_time:
            type: string
            format: date-time
          runbook_base_uri:
            $ref: '#/components/schemas/AutomationActionsRunbookBaseURI'
          teams:
            type: array
            readOnly: true
            description: The list of teams associated with the Runner
            items:
              $ref: '#/components/schemas/TeamReference'
          privileges:
            $ref: '#/components/schemas/AutomationActionsUserPermissions'
          associated_actions:
            description: References to at most 3 actions associated with the Runner. Use appropriate endpoints to retrieve the full list of associated actions.
            allOf:
            - type: object
              properties:
                actions:
                  nullable: false
                  type: array
                  items:
                    allOf:
                    - $ref: '#/components/schemas/Reference'
                    - type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - action_reference
              required:
              - actions
            - type: object
              required:
              - more
              properties:
                more:
                  type: boolean
                  description: Indicates whether more actions exist for the Runner.
          metadata:
            type: object
            description: Additional metadata
        required:
        - id
        - type
        - name
        - runner_type
        - status
        - creation_time
    AutomationActionsRunnerRunbookBody:
      type: object
      title: RunnerRunbookBody
      properties:
        name:
          type: string
          maxLength: 255
          example: us-west-2 prod runner
        description:
          type: string
          maxLength: 1024
          example: us-west-2 runner provisioned in the production environment by the SRE team
        runbook_base_uri:
          $ref: '#/components/schemas/AutomationActionsRunbookBaseURI'
        runbook_api_key:
          type: string
          maxLength: 64
          description: The API key to connect to the Runbook server with. If omitted, the previously stored value will remain unchanged
    CursorPagination:
      type: object
      properties:
        limit:
          type: integer
          description: The minimum of the `limit` parameter used in the request or the maximum request size of the API.
          readOnly: true
        next_cursor:
          type: string
          description: 'An opaque string than will deliver the next set of results when provided as the `cursor` parameter in a subsequent request.  A `null` value for this field indicates that there are no additional results.

            '
          example: dXNlcjaVMzc5V0ZYTlo=
          nullable: true
          readOnly: true
      required:
      - limit
      - next_cursor
    AutomationActionsRunnerStatusEnum:
      description: "Configured -- Runner has connected to the backend at least once \nNotConfigured -- Runner has never connected to backend\n"
      type: string
      enum:
      - Configured
      - NotConfigured
      example: Configured
    AutomationActionsScriptActionDataReference:
      type: object
      properties:
        script:
          type: string
          description: Body of the script to be executed on the Runner. To execute it, the Runner will write the content of the property into a temp file, make the file executable and execute it. It is assumed that the Runner has a properly configured environment to run the script as an executable file. This behaviour can be altered by providing the `invocation_command` property. The maxLength value is specified in bytes.
          example: print("Hello from a Python script!")
          maxLength: 16777215
        invocation_command:
          type: string
          description: The command to executed a script with. With the body of the script written into a temp file, the Runner will execute the `<invocation_command> <temp_file>` command. The maxLength value is specified in bytes.
          example: /usr/local/bin/python3
          maxLength: 65535
      required:
      - script
    AutomationActionsRunnerTypeEnum:
      description: 'sidecar -- The runner is backed by an external sidecar that polls for invocations.

        runbook -- The runner communicates directly with a runbook instance.

        '
      type: string
      enum:
      - sidecar
      - runbook
      example: runbook
    AutomationActionsInvocation:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        properties:
          action_snapshot:
            allOf:
            - type: object
              properties:
                name:
                  type: string
                  example: Restart apache
                action_type:
                  $ref: '#/components/parameters/automation_actions_action_type/schema'
              required:
              - action_type
              - name
            - type: object
              properties:
                action_data_reference:
                  oneOf:
                  - $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionDataReference'
                  - $ref: '#/components/schemas/AutomationActionsScriptActionDataReference'
          runner_id:
            type: string
          timing:
            description: A list of state transitions with timestamps, sorted in ascending order by timestamp. Only the 'created' transition is guaranteed to exist at any time.
            type: array
            items:
              type: object
              properties:
                timestamp:
                  type: string
                  format: date-time
                  description: The date/time
                state:
                  $ref: '#/components/parameters/automation_actions_invocation_state/schema'
              required:
              - timestamp
              - state
          duration:
            description: The duration of the invocation's execution time.
            example: 23
            type: integer
          state:
            $ref: '#/components/parameters/automation_actions_invocation_state/schema'
          action_id:
            type: string
          metadata:
            type: object
            properties:
              agent:
                oneOf:
                - $ref: '#/components/schemas/UserReference'
                - $ref: '#/components/schemas/AutomationActionsAbstractAction/allOf/1/properties/last_run_by/oneOf/1'
                - $ref: '#/components/schemas/Template/allOf/1/properties/created_by/oneOf/1'
                - type: object
                  properties:
                    id:
                      type: string
                      example: PT4KHRS
                    type:
                      type: string
                      example: incident_workflow_reference
                  required:
                  - type
                  - id
              incident:
                $ref: '#/components/schemas/IncidentReference'
            required:
            - agent
        required:
        - id
        - type
        - action_snapshot
        - runner_id
        - timing
        - state
        - action_id
        - metadata
    AutomationActionsProcessAutomationJobActionPutBody:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsAbstractActionPutBody'
      - type: object
        properties:
          action_data_reference:
            $ref: '#/components/schemas/AutomationActionsProcessAutomationJobActionDataReference'
    Reference:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        required:
        - type
        - id
    AutomationActionsProcessAutomationJobActionDataReference:
      type: object
      properties:
        process_automation_job_id:
          type: string
          example: 79c199bba1aff6e519f198457f5ec0fc
          maxLength: 36
        process_automation_job_arguments:
          type: string
          description: Arguments to pass to the Process Automation job. The maxLength value is specified in bytes.
          example: -env production
          maxLength: 1024
        process_automation_node_filter:
          type: string
          description: 'Node filter for the Process Automation job. The maxLength value is specified in bytes. Filter syntax: https://docs.rundeck.com/docs/manual/11-node-filters.html#node-filter-syntax'
          example: 'mynode1 !nodename: mynode2'
          maxLength: 1024
      required:
      - process_automation_job_id
    ServiceReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        properties:
          type:
            type: string
            enum:
            - service_reference
    AutomationActionsRunnerRunbookPostBody:
      type: object
      title: RunnerRunbookPostBody
      properties:
        runner_type:
          $ref: '#/components/schemas/AutomationActionsRunnerTypeEnum'
        name:
          type: string
          maxLength: 255
          example: us-west-2 prod runner
        description:
          type: string
          maxLength: 1024
          example: us-west-2 runner provisioned in the production environment by the SRE team
        runbook_base_uri:
          $ref: '#/components/schemas/AutomationActionsRunbookBaseURI'
        runbook_api_key:
          type: string
          maxLength: 64
          description: The API key to connect to the Runbook server with. If omitted, the previously stored value will remain unchanged
        teams:
          type: array
          description: The list of teams associated with the Runner
          items:
            $ref: '#/components/schemas/TeamReference'
      required:
      - runner_type
      - name
      - description
      - runbook_base_uri
      - runbook_api_key
    AutomationActionsAbstractActionPostBody:
      type: object
      properties:
        name:
          type: string
          example: Restart apache
          maxLength: 255
        description:
          type: string
          example: Restarts apache on the us-west-2-shopping-cart host
          maxLength: 1024
        action_classification:
          $ref: '#/components/schemas/AutomationActionsActionClassificationEnum'
        action_type:
          $ref: '#/components/parameters/automation_actions_action_type/schema'
        runner:
          type: string
          example: 1a6763bd-b1ad-458f-a347-6c8a9bea2d70
          maxLength: 36
        services:
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/ServiceReference'
        teams:
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/TeamReference'
      required:
      - name
      - description
      - action_type
    AutomationActionsAbstractActionPutBody:
      type: object
      properties:
        name:
          type: string
          example: Restart apache
          maxLength: 255
        description:
          type: string
          example: Restarts apache on the us-west-2-shopping-cart host
          maxLength: 1024
        action_classification:
          $ref: '#/components/schemas/AutomationActionsActionClassificationEnum'
        action_type:
          $ref: '#/components/parameters/automation_actions_action_type/schema'
        runner:
          type: string
          maxLength: 36
    AutomationActionsScriptActionPutBody:
      allOf:
      - $ref: '#/components/schemas/AutomationActionsAbstractActionPutBody'
      - type: object
        properties:
          action_data_reference:
            $ref: '#/components/schemas/AutomationActionsScriptActionDataReference'
    Tag:
      allOf:
      - type: object
        properties:
          id:
            type: string
            readOnly: true
          summary:
            type: string
            nullable: true
            readOnly: true
            description: A short-form, server-generated string that provides succinct, important information about an object suitable for primary labeling of an entity in a client. In many cases, this will be identical to `name`, though it is not intended to be an identifier.
          type:
            type: string
            readOnly: true
            description: A string that determines the schema of the object. This must be the standard name for the entity, suffixed by `_reference` if the object is a reference.
          self:
            type: string
            nullable: true
            readOnly: true
            format: url
            description: the API show URL at which the object is accessible
          html_url:
            type: string
            nullable: true
            readOnly: true
            format: url
            description: a URL at which the entity is uniquely displayed in the Web app
      - type: object
        properties:
          type:
            type: string
            description: The type of object being created.
            default: tag
            enum:
            - tag
          label:
            type: string
            description: The label of the tag.
            maxLength: 191
        required:
        - label
        - type
        example:
          type: tag
          label: Batman
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    PaymentRequired:
      description: 'Account does not have the abilities to perform the action. Please review the response for the required abilities.

        You can also use the [Abilities API](#resource_Abilities) to determine what features are available to your account.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Unauthorized:
      description: 'Caller did not supply credentials or did not provide the correct credentials.

        If you are using an API key, it may be invalid or your Authorization header may be malformed.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    ArgumentError:
      description: Caller provided invalid arguments. Please review the response for error details. Retrying with the same arguments will *not* work.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Conflict:
      description: The request conflicts with the current state of the server.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: integer
                    readOnly: true
                  message:
                    type: string
                    readOnly: true
                    description: Error message string
                  errors:
                    type: array
                    readOnly: true
                    items:
                      type: string
                      readOnly: true
                      description: Human-readable error details
                example:
                  message: Not Found
                  code: 2100
    TooManyRequests:
      description: Too many requests have been made, the rate limit has been reached.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Forbidden:
      description: 'Caller is not authorized to view the requested resource.

        While your authentication is valid, the authenticated user or token does not have permission to perform this action.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    InternalServerError:
      description: Internal Server Error the PagerDuty server experienced an error.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: The API Key with format `Token token=<API_KEY>`
