openapi: 3.0.2
info:
  description: 'This document describes the PagerDuty REST APIs.


    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)


    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).


    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.

    '
  contact:
    name: PagerDuty Support
    url: http://www.pagerduty.com/support
    email: support@pagerduty.com
  title: PagerDuty Abilities Incident Workflows API
  version: 2.0.0
servers:
- url: https://api.pagerduty.com
  description: PagerDuty V2 API.
security:
- api_key: []
tags:
- name: Incident Workflows
  description: 'An Incident Workflow is a sequence of configurable Steps and associated Triggers that can execute automated Actions for a given Incident.

    '
paths:
  /incident_workflows:
    description: Create, retrieve, or modify Incident Workflows
    get:
      x-pd-requires-scope: incident_workflows.read
      tags:
      - Incident Workflows
      operationId: listIncidentWorkflows
      description: 'List existing Incident Workflows.


        This is the best method to use to list all Incident Workflows in your account. If your use case requires listing Incident Workflows associated with a particular Service, you can use the "List Triggers" method to find Incident Workflows configured to start for Incidents in a given Service.


        An Incident Workflow is a sequence of configurable Steps and associated Triggers that can execute automated Actions for a given Incident.


        Scoped OAuth requires: `incident_workflows.read`

        '
      summary: PagerDuty List Incident Workflows
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/offset_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/offset_total'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/include_incident_workflow_children'
      responses:
        '200':
          description: A paginated array of Incident Workflows.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    incident_workflows:
                      type: array
                      items:
                        $ref: '#/components/schemas/IncidentWorkflow'
                  required:
                  - incident_workflows
              examples:
                response:
                  summary: Response Example
                  value:
                    incident_workflows:
                    - id: PSFEVL7
                      name: Example Incident Workflow
                      description: This Incident Workflow is an example
                      type: incident_workflow
                      created_at: '2022-12-13T19:55:01.171Z'
                      self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                      html_url: https://pdt-flex-actions.pagerduty.com/flex-workflows/workflows/PSFEVL7
                    limit: 1
                    offset: 0
                    more: true
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: postIncidentWorkflow
      description: 'Create a new Incident Workflow


        An Incident Workflow is a sequence of configurable Steps and associated Triggers that can execute automated Actions for a given Incident.


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Create an Incident Workflow
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                incident_workflow:
                  $ref: '#/components/schemas/IncidentWorkflow'
              required:
              - incident_workflow
            examples:
              request:
                summary: Request Example
                value:
                  incident_workflow:
                    name: Example Incident Workflow
                    description: This Incident Workflow is an example
                    steps:
                    - name: Send Status Update
                      action_configuration:
                        action_id: pagerduty.com:incident-workflows:send-status-update:1
                        inputs:
                        - name: Message
                          value: Example status message sent on {{current_date}}
      responses:
        '201':
          description: The new Incident Workflow
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_workflow:
                    $ref: '#/components/schemas/IncidentWorkflow'
                required:
                - incident_workflow
              examples:
                response:
                  summary: Response Example
                  value:
                    incident_workflow:
                      id: PSFEVL7
                      name: Example Incident Workflow
                      description: This Incident Workflow is an example
                      type: incident_workflow
                      created_at: '2022-12-13T19:55:01.171Z'
                      self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                      html_url: https://pdt-flex-actions.pagerduty.com/flex-workflows/workflows/PSFEVL7
                      steps:
                      - id: P4RG7YW
                        type: step
                        name: Send Status Update
                        description: Posts a status update to a given incident
                        action_configuration:
                          action_id: pagerduty.com:incident-workflows:send-status-update:1
                          description: Posts a status update to a given incident
                          inputs:
                          - name: Message
                            parameter_type: text
                            value: Example status message sent on {{current_date}}
                          outputs:
                          - name: Result
                            reference_name: result
                            parameter_type: text
                          - name: Result Summary
                            reference_name: result-summary
                            parameter_type: text
                          - name: Error
                            reference_name: error
                            parameter_type: text
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/{id}:
    description: Create, retrieve, modify, or delete Incident Workflows
    get:
      x-pd-requires-scope: incident_workflows.read
      tags:
      - Incident Workflows
      operationId: getIncidentWorkflow
      description: 'Get an existing Incident Workflow

        An Incident Workflow is a sequence of configurable Steps and associated Triggers that can execute automated Actions for a given Incident.


        Scoped OAuth requires: `incident_workflows.read`

        '
      summary: PagerDuty Get an Incident Workflow
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '201':
          description: The Incident Workflow
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_workflow:
                    $ref: '#/components/schemas/IncidentWorkflow'
                required:
                - incident_workflow
              examples:
                response:
                  summary: Response Example
                  value:
                    incident_workflow:
                      id: PSFEVL7
                      name: Example Incident Workflow
                      description: This Incident Workflow is an example
                      type: incident_workflow
                      created_at: '2022-12-13T19:55:01.171Z'
                      self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                      html_url: https://pdt-flex-actions.pagerduty.com/flex-workflows/workflows/PSFEVL7
                      steps:
                      - id: P4RG7YW
                        type: step
                        name: Send Status Update
                        description: Posts a status update to a given incident
                        action_configuration:
                          action_id: pagerduty.com:incident-workflows:send-status-update:1
                          description: Posts a status update to a given incident
                          inputs:
                          - name: Message
                            parameter_type: text
                            value: Example status message sent on {{current_date}}
                          outputs:
                          - name: Result
                            reference_name: result
                            parameter_type: text
                          - name: Result Summary
                            reference_name: result-summary
                            parameter_type: text
                          - name: Error
                            reference_name: error
                            parameter_type: text
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: deleteIncidentWorkflow
      description: 'Delete an existing Incident Workflow


        An Incident Workflow is a sequence of configurable Steps and associated Triggers that can execute automated Actions for a given Incident.


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Delete an Incident Workflow
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Incident Workflow was deleted successfully
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: putIncidentWorkflow
      description: 'Update an Incident Workflow


        An Incident Workflow is a sequence of configurable Steps and associated Triggers that can execute automated Actions for a given Incident.


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Update an Incident Workflow
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                incident_workflow:
                  $ref: '#/components/schemas/IncidentWorkflow'
              required:
              - incident_workflow
            examples:
              request:
                summary: Request Example
                value:
                  incident_workflow:
                    name: Example Incident Workflow
                    description: This Incident Workflow is an example
                    steps:
                    - name: Send Status Update
                      action_configuration:
                        action_id: pagerduty.com:incident-workflows:send-status-update:1
                        inputs:
                        - name: Message
                          value: Example status message sent on {{current_date}}
      responses:
        '201':
          description: The new Incident Workflow
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_workflow:
                    $ref: '#/components/schemas/IncidentWorkflow'
                required:
                - incident_workflow
              examples:
                response:
                  summary: Response Example
                  value:
                    incident_workflow:
                      id: PSFEVL7
                      name: Example Incident Workflow
                      description: This Incident Workflow is an example
                      type: incident_workflow
                      created_at: '2022-12-13T19:55:01.171Z'
                      self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                      html_url: https://pdt-flex-actions.pagerduty.com/flex-workflows/workflows/PSFEVL7
                      steps:
                      - id: P4RG7YW
                        type: step
                        name: Send Status Update
                        description: Posts a status update to a given incident
                        action_configuration:
                          action_id: pagerduty.com:incident-workflows:send-status-update:1
                          description: Posts a status update to a given incident
                          inputs:
                          - name: Message
                            parameter_type: text
                            value: Example status message sent on {{current_date}}
                          outputs:
                          - name: Result
                            reference_name: result
                            parameter_type: text
                          - name: Result Summary
                            reference_name: result-summary
                            parameter_type: text
                          - name: Error
                            reference_name: error
                            parameter_type: text
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/{id}/instances:
    description: Start an Instance of an Incident Workflows
    post:
      x-pd-requires-scope: incident_workflows:instances.write
      tags:
      - Incident Workflows
      operationId: createIncidentWorkflowInstance
      description: 'Start an Instance of an Incident Workflow. Sometimes referred to as "triggering a workflow on an incident."


        An Incident Workflow is a sequence of configurable Steps and associated Triggers that can execute automated Actions for a given Incident.


        Scoped OAuth requires: `incident_workflows:instances.write`

        '
      summary: PagerDuty Start an Incident Workflow Instance
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                incident_workflow_instance:
                  type: object
                  properties:
                    incident:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - incident_reference
                      required:
                      - id
              required:
              - incident_workflow_instance
            examples:
              request:
                summary: Request Example
                value:
                  incident_workflow_instance:
                    id: P3SNKQS
                    type: incident_workflow_instance
                    incident:
                      id: Q1R2DLCB21K7NP
                      type: incident_reference
      responses:
        '201':
          description: The Incident Workflow Instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_workflow_instance:
                    $ref: '#/components/schemas/IncidentWorkflowInstance'
                required:
                - incident_workflow_instance
              examples:
                response:
                  summary: Response Example
                  value:
                    incident_workflow_instance:
                      id: P3SNKQS
                      type: incident_workflow_instance
                      incident:
                        id: Q1R2DLCB21K7NP
                        type: incident_reference
                        summary: '[#1234] The server is on fire.'
                        self: https://api.pagerduty.com/incidents/PT4KHLK
                        html_url: https://subdomain.pagerduty.com/incidents/PT4KHLK
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/actions:
    description: Retrieve Incident Workflow Actions
    get:
      x-pd-requires-scope: incident_workflows.read
      tags:
      - Incident Workflows
      operationId: listIncidentWorkflowActions
      description: 'List Incident Workflow Actions


        Scoped OAuth requires: `incident_workflows.read`

        '
      summary: PagerDuty List Actions
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/cursor_limit'
      - $ref: '#/components/parameters/cursor_cursor'
      - $ref: '#/components/parameters/actions_filter_keyword'
      responses:
        '200':
          description: A paginated array of Incident Workflow Actions
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPagination'
                - type: object
                  properties:
                    more:
                      type: boolean
                      description: Indicates if there are additional records to return
                      readOnly: true
                    actions:
                      type: array
                      items:
                        $ref: '#/components/schemas/IncidentWorkflowAction'
              examples:
                response:
                  summary: Response Example
                  value:
                    actions:
                    - type: action
                      id: pagerduty.com:test:sample-action:1
                      domain_name: pagerduty.com
                      package_name: test
                      function_name: sample-action
                      version: 1
                      name: 'Test: Sample Action'
                      description: A fake Action for documentation purposes
                      action_type: integration
                      tags: []
                      metadata: '{}'
                      search_keywords: []
                      inputs:
                      - name: Text Input
                        description: A text input
                        type: text
                        default_value: some text
                        is_required: true
                        is_hidden: false
                        advanced: false
                        metadata: '{}'
                        connection_type_id: ''
                      - name: Int Input
                        description: An integer input
                        type: integer
                        default_value: '1234'
                        is_required: false
                        is_hidden: false
                        advanced: false
                        metadata: '{}'
                        connection_type_id: ''
                      outputs:
                      - name: Text Output
                        description: A text output
                        type: text
                      created_at: '2022-12-08T22:14:16.965Z'
                      created_by_user_id: PNBURS9
                    limit: 1
                    next_cursor: N2E3YzkzNjMtYzBkMC00NjFmLTg1OTEtMGZjMjcwODUzODNl
                    more: true
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/actions/{id}:
    description: Retrieve Incident Workflow Actions
    get:
      x-pd-requires-scope: incident_workflows.read
      tags:
      - Incident Workflows
      operationId: getIncidentWorkflowAction
      description: 'Get an Incident Workflow Action


        Scoped OAuth requires: `incident_workflows.read`

        '
      summary: PagerDuty Get an Action
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: An Incident Workflow Action
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    $ref: '#/components/schemas/IncidentWorkflowAction'
              examples:
                response:
                  summary: Response Example
                  value:
                    action:
                      type: action
                      id: pagerduty.com:test:sample-action:1
                      domain_name: pagerduty.com
                      package_name: test
                      function_name: sample-action
                      version: 1
                      name: 'Test: Sample Action'
                      description: A fake Action for documentation purposes
                      action_type: integration
                      tags: []
                      metadata: '{}'
                      search_keywords: []
                      inputs:
                      - name: Text Input
                        description: A text input
                        type: text
                        default_value: some text
                        is_required: true
                        is_hidden: false
                        advanced: false
                        metadata: '{}'
                        connection_type_id: ''
                      - name: Int Input
                        description: An integer input
                        type: integer
                        default_value: '1234'
                        is_required: false
                        is_hidden: false
                        advanced: false
                        metadata: '{}'
                        connection_type_id: ''
                      outputs:
                      - name: Text Output
                        description: A text output
                        type: text
                      created_at: '2022-12-08T22:14:16.965Z'
                      created_by_user_id: PNBURS9
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/triggers:
    description: Create, retrieve, or modify Incident Workflow Triggers
    get:
      x-pd-requires-scope: incident_workflows.read
      tags:
      - Incident Workflows
      operationId: listIncidentWorkflowTriggers
      description: 'List existing Incident Workflow Triggers


        Scoped OAuth requires: `incident_workflows.read`

        '
      summary: PagerDuty List Triggers
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/triggers_filter_workflow_id'
      - $ref: '#/components/parameters/triggers_filter_incident_id'
      - $ref: '#/components/parameters/triggers_filter_service_id'
      - $ref: '#/components/parameters/triggers_filter_trigger_type'
      - $ref: '#/components/parameters/triggers_filter_workflow_name_contains'
      - $ref: '#/components/parameters/triggers_sort_by'
      - $ref: '#/components/parameters/cursor_limit'
      - $ref: '#/components/parameters/cursor_cursor'
      responses:
        '200':
          description: A paginated array of Incident Workflow Triggers
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPagination'
                - type: object
                  properties:
                    more:
                      type: boolean
                      description: Indicates if there are additional records to return
                      readOnly: true
                    triggers:
                      type: array
                      items:
                        $ref: '#/components/schemas/IncidentWorkflowTrigger'
              examples:
                response:
                  summary: Response Example
                  value:
                    triggers:
                    - id: 4ad696eb-bb48-422a-8bd0-6efad6befa29
                      type: workflow_trigger
                      trigger_type_name: Conditional Trigger
                      trigger_type: conditional
                      condition: incident.priority matches 'P1'
                      trigger_url: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29/start
                      self: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29
                      workflow_id: PSFEVL7
                      workflow_name: Example Incident Workflow
                      is_subscribed_to_all_services: true
                      services: []
                      workflow:
                        id: PSFEVL7
                        name: Example Incident Workflow
                        description: This Incident Workflow is an example
                        type: incident_workflow
                        created_at: '2022-12-13T19:55:01.171Z'
                        self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                        html_url: https://pdt-flex-actions.pagerduty.com/flex-workflows/workflows/PSFEVL7
                      permissions:
                        restricted: false
                    limit: 1
                    next_cursor: N2E3YzkzNjMtYzBkMC00NjFmLTg1OTEtMGZjMjcwODUzODNl
                    more: true
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: createIncidentWorkflowTrigger
      description: 'Create new Incident Workflow Trigger


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Create a Trigger
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trigger:
                  $ref: '#/components/schemas/IncidentWorkflowTrigger'
              required:
              - trigger
            examples:
              request:
                summary: Request Example
                value:
                  trigger:
                    trigger_type: conditional
                    workflow:
                      id: PSFEVL7
                    services:
                    - id: PIJ90N7
                    is_subscribed_to_all_services: false
                    condition: incident.priority matches 'P1'
      responses:
        '201':
          description: The newly created Incident Workflow Trigger
          content:
            application/json:
              schema:
                type: object
                properties:
                  trigger:
                    $ref: '#/components/schemas/IncidentWorkflowTrigger'
                required:
                - trigger
              examples:
                response:
                  summary: Response Example
                  value:
                    trigger:
                      id: 4ad696eb-bb48-422a-8bd0-6efad6befa29
                      type: workflow_trigger
                      trigger_type_name: Conditional Trigger
                      trigger_type: conditional
                      condition: incident.priority matches 'P1'
                      trigger_url: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29/start
                      self: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29
                      workflow_id: PSFEVL7
                      workflow_name: Example Incident Workflow
                      is_subscribed_to_all_services: false
                      services:
                      - id: PIJ90N7
                        summary: My Application Service
                        type: service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://pdt-circular.pagerduty.com/service-directory/P0544JX
                      workflow:
                        id: PSFEVL7
                        name: Example Incident Workflow
                        description: This Incident Workflow is an example
                        type: incident_workflow
                        created_at: '2022-12-13T19:55:01.171Z'
                        self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                        html_url: https://mydomain.pagerduty.com/flex-workflows/workflows/PSFEVL7
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/triggers/{id}:
    description: Create, retrieve, or modify Incident Workflow Triggers
    get:
      x-pd-requires-scope: incident_workflows.read
      tags:
      - Incident Workflows
      operationId: getIncidentWorkflowTrigger
      description: 'Retrieve an existing Incident Workflows Trigger


        Scoped OAuth requires: `incident_workflows.read`

        '
      summary: PagerDuty Get a Trigger
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The Incident Workflows Trigger
          content:
            application/json:
              schema:
                type: object
                properties:
                  trigger:
                    $ref: '#/components/schemas/IncidentWorkflowTrigger'
              examples:
                response:
                  summary: Response Example
                  value:
                    trigger:
                      id: 4ad696eb-bb48-422a-8bd0-6efad6befa29
                      type: workflow_trigger
                      trigger_type_name: Manual Trigger
                      trigger_type: manual
                      trigger_url: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29/start
                      self: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29
                      workflow_id: PSFEVL7
                      workflow_name: Example Incident Workflow
                      is_subscribed_to_all_services: true
                      services: []
                      workflow:
                        id: PSFEVL7
                        name: Example Incident Workflow
                        description: This Incident Workflow is an example
                        type: incident_workflow
                        created_at: '2022-12-13T19:55:01.171Z'
                        self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                        html_url: https://pdt-flex-actions.pagerduty.com/flex-workflows/workflows/PSFEVL7
                      permissions:
                        restricted: true
                        team_id: PUOEV7R
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: updateIncidentWorkflowTrigger
      description: 'Update an existing Incident Workflow Trigger


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Update a Trigger
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trigger:
                  $ref: '#/components/schemas/IncidentWorkflowTrigger'
              required:
              - trigger
            examples:
              request:
                summary: Request Example
                value:
                  trigger:
                    services:
                    - id: PIJ90N7
                    is_subscribed_to_all_services: false
                    condition: incident.priority matches 'P1'
      responses:
        '200':
          description: The updated Incident Workflow Trigger
          content:
            application/json:
              schema:
                type: object
                properties:
                  trigger:
                    $ref: '#/components/schemas/IncidentWorkflowTrigger'
                required:
                - trigger
              examples:
                response:
                  summary: Response Example
                  value:
                    trigger:
                      id: 4ad696eb-bb48-422a-8bd0-6efad6befa29
                      type: workflow_trigger
                      trigger_type_name: Conditional Trigger
                      trigger_type: conditional
                      condition: incident.priority matches 'P1'
                      trigger_url: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29/start
                      self: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29
                      workflow_id: PSFEVL7
                      workflow_name: Example Incident Workflow
                      is_subscribed_to_all_services: false
                      services:
                      - id: PIJ90N7
                        summary: My Application Service
                        type: service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://pdt-circular.pagerduty.com/service-directory/P0544JX
                      workflow:
                        id: PSFEVL7
                        name: Example Incident Workflow
                        description: This Incident Workflow is an example
                        type: incident_workflow
                        created_at: '2022-12-13T19:55:01.171Z'
                        self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                        html_url: https://mydomain.pagerduty.com/flex-workflows/workflows/PSFEVL7
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: deleteIncidentWorkflowTrigger
      description: 'Delete an existing Incident Workflow Trigger


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Delete a Trigger
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: The Incident Workflow Trigger was deleted successfully.
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/triggers/{id}/services:
    description: Manipulate Services attached to an Incident Workflow Trigger
    post:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: associateServiceToIncidentWorkflowTrigger
      description: 'Associate a Service with an existing Incident Workflow Trigger


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Associate a Trigger and Service
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service:
                  type: object
                  properties:
                    id:
                      type: string
              required:
              - service
            examples:
              request:
                summary: Request Example
                value:
                  service:
                    id: PIJ90N7
      responses:
        '201':
          description: The updated Incident Workflow Trigger
          content:
            application/json:
              schema:
                type: object
                properties:
                  trigger:
                    $ref: '#/components/schemas/IncidentWorkflowTrigger'
                required:
                - trigger
              examples:
                response:
                  summary: Response Example
                  value:
                    trigger:
                      id: 4ad696eb-bb48-422a-8bd0-6efad6befa29
                      type: workflow_trigger
                      trigger_type_name: Conditional Trigger
                      trigger_type: conditional
                      condition: incident.priority matches 'P1'
                      trigger_url: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29/start
                      self: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29
                      workflow_id: PSFEVL7
                      workflow_name: Example Incident Workflow
                      is_subscribed_to_all_services: false
                      services:
                      - id: PIJ90N7
                        summary: My Application Service
                        type: service
                        self: https://api.pagerduty.com/services/PIJ90N7
                        html_url: https://pdt-circular.pagerduty.com/service-directory/P0544JX
                      workflow:
                        id: PSFEVL7
                        name: Example Incident Workflow
                        description: This Incident Workflow is an example
                        type: incident_workflow
                        created_at: '2022-12-13T19:55:01.171Z'
                        self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                        html_url: https://mydomain.pagerduty.com/flex-workflows/workflows/PSFEVL7
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /incident_workflows/triggers/{trigger_id}/services/{service_id}:
    description: Manipulate Services attached to an Incident Workflow Trigger
    delete:
      x-pd-requires-scope: incident_workflows.write
      tags:
      - Incident Workflows
      operationId: deleteServiceFromIncidentWorkflowTrigger
      description: 'Remove a an existing Service from an Incident Workflow Trigger


        Scoped OAuth requires: `incident_workflows.write`

        '
      summary: PagerDuty Dissociate a Trigger and Service
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/triggers_path_trigger_id'
      - $ref: '#/components/parameters/triggers_path_service_id'
      responses:
        '201':
          description: The updated Incident Workflow Trigger
          content:
            application/json:
              schema:
                type: object
                properties:
                  trigger:
                    $ref: '#/components/schemas/IncidentWorkflowTrigger'
                required:
                - trigger
              examples:
                response:
                  summary: Response Example
                  value:
                    trigger:
                      id: 4ad696eb-bb48-422a-8bd0-6efad6befa29
                      type: workflow_trigger
                      trigger_type_name: Conditional Trigger
                      trigger_type: conditional
                      condition: incident.priority matches 'P1'
                      trigger_url: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29/start
                      self: https://api.pagerduty.com/incident_workflows/triggers/4ad696eb-bb48-422a-8bd0-6efad6befa29
                      workflow_id: PSFEVL7
                      workflow_name: Example Incident Workflow
                      is_subscribed_to_all_services: false
                      services: []
                      workflow:
                        id: PSFEVL7
                        name: Example Incident Workflow
                        description: This Incident Workflow is an example
                        type: incident_workflow
                        created_at: '2022-12-13T19:55:01.171Z'
                        self: https://api.pagerduty.com/incident_workflows/PSFEVL7
                        html_url: https://mydomain.pagerduty.com/flex-workflows/workflows/PSFEVL7
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  parameters:
    triggers_sort_by:
      name: sort_by
      description: If provided, returns triggers sorted by the specified property.
      in: query
      schema:
        type: string
        enum:
        - workflow_id
        - workflow_id asc
        - workflow_id desc
        - workflow_name
        - workflow_name asc
        - workflow_name desc
    include_incident_workflow_children:
      name: include[]
      in: query
      description: Array of additional details to include.
      explode: true
      schema:
        type: string
        enum:
        - steps
        - team
        uniqueItems: true
    query:
      name: query
      in: query
      description: Filters the result, showing only the records whose name matches the query.
      required: false
      schema:
        type: string
    offset_offset:
      name: offset
      in: query
      required: false
      description: Offset to start pagination search results.
      schema:
        type: integer
    triggers_filter_service_id:
      name: service_id
      description: If provided, only show triggers configured for incidents in the given service. Useful for listing all workflows associated with the given service. Cannot be specified if `incident_id` is provided.
      in: query
      schema:
        type: string
        example: P4RG7YW
    triggers_filter_incident_id:
      name: incident_id
      description: If provided, only show triggers configured on the service of the given incident. Useful for finding manual triggers that are configured on the service for a specific incident. Cannot be specified if `service_id` is provided.
      in: query
      schema:
        type: string
        example: Q2LAR4ADCXC8IB
    triggers_filter_workflow_name_contains:
      name: workflow_name_contains
      description: If provided, only show triggers configured to start workflows whose name contain the provided value.
      in: query
      schema:
        type: string
        example: High Priority
    header_Accept:
      name: Accept
      description: The `Accept` header is used as a versioning header.
      in: header
      required: true
      schema:
        type: string
        default: application/vnd.pagerduty+json;version=2
    header_Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
        enum:
        - application/json
    triggers_path_trigger_id:
      name: trigger_id
      description: Identifier for the Trigger
      required: true
      in: path
      schema:
        type: string
    triggers_path_service_id:
      name: service_id
      description: Identifier for the Service
      required: true
      in: path
      schema:
        type: string
    id:
      name: id
      description: The ID of the resource.
      in: path
      required: true
      schema:
        type: string
    offset_total:
      name: total
      in: query
      required: false
      description: 'By default the `total` field in pagination responses is set to `null` to provide the fastest possible response times. Set `total` to `true` for this field to be populated.


        See our [Pagination Docs](https://developer.pagerduty.com/docs/rest-api-v2/pagination/) for more information.

        '
      schema:
        default: false
        type: boolean
    cursor_cursor:
      name: cursor
      in: query
      required: false
      description: 'Optional parameter used to request the "next" set of results from an API.  The value provided here is most commonly obtained from the `next_cursor` field of the previous request.  When no value is provided, the request starts at the beginning of the result set.

        '
      schema:
        type: string
    triggers_filter_trigger_type:
      name: trigger_type
      description: If provided, only show triggers of the given type. For example “manual” to search for manual triggers
      in: query
      schema:
        type: string
        enum:
        - manual
        - conditional
    actions_filter_keyword:
      name: keyword
      description: If provided, only show actions tagged with the specified keyword
      in: query
      schema:
        type: string
        example: slack
    triggers_filter_workflow_id:
      name: workflow_id
      description: If provided, only show triggers configured to start the given workflow. Useful for listing all services associated with the given workflow
      in: query
      schema:
        type: string
        example: P4RG7YW
    offset_limit:
      name: limit
      in: query
      required: false
      description: The number of results per page.
      schema:
        type: integer
    cursor_limit:
      name: limit
      in: query
      required: false
      description: The minimum of the `limit` parameter used in the request or the maximum request size of the API.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    PaymentRequired:
      description: 'Account does not have the abilities to perform the action. Please review the response for the required abilities.

        You can also use the [Abilities API](#resource_Abilities) to determine what features are available to your account.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Unauthorized:
      description: 'Caller did not supply credentials or did not provide the correct credentials.

        If you are using an API key, it may be invalid or your Authorization header may be malformed.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    ArgumentError:
      description: Caller provided invalid arguments. Please review the response for error details. Retrying with the same arguments will *not* work.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Conflict:
      description: The request conflicts with the current state of the server.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: integer
                    readOnly: true
                  message:
                    type: string
                    readOnly: true
                    description: Error message string
                  errors:
                    type: array
                    readOnly: true
                    items:
                      type: string
                      readOnly: true
                      description: Human-readable error details
                example:
                  message: Not Found
                  code: 2100
    TooManyRequests:
      description: Too many requests have been made, the rate limit has been reached.
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
    Forbidden:
      description: 'Caller is not authorized to view the requested resource.

        While your authentication is valid, the authenticated user or token does not have permission to perform this action.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/responses/Conflict/content/application~1json/schema'
  schemas:
    IncidentWorkflowInstance:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
          description: A string that determines the schema of the object. This must be the standard name for the entity, suffixed by `_reference` if the object is a reference.
          enum:
          - incident_workflow_instance
        incident:
          $ref: '#/components/schemas/Reference'
    IncidentWorkflowTrigger:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        properties:
          type:
            type: string
            enum:
            - workflow_trigger
          trigger_type_name:
            type: string
            readOnly: true
            description: Human readable name for the trigger type
          trigger_type:
            type: string
            enum:
            - conditional
            - manual
          condition:
            type: string
            description: 'A PCL condition string.


              If specified, the trigger will execute when the condition is met on an incident.


              If unspecified, the trigger will execute on incident creation.


              Required if trigger_type is “conditional”, not allowed if trigger_type is “manual”.

              '
          trigger_url:
            type: string
            format: url
            readOnly: true
          workflow:
            type: object
            description: Workflow to start when this trigger is invoked
            properties:
              id:
                type: string
              type:
                type: string
                readOnly: true
                description: A string that determines the schema of the object. This must be the standard name for the entity, suffixed by `_reference` if the object is a reference.
                enum:
                - workflow_reference
              name:
                type: string
                readOnly: true
                description: A descriptive name for the Incident Workflow
              self:
                type: string
                nullable: true
                readOnly: true
                format: url
                description: the API show URL at which the object is accessible
              html_url:
                type: string
                nullable: true
                readOnly: true
                format: url
                description: a URL at which the entity is uniquely displayed in the Web app
          services:
            type: array
            description: An optional array of Services associated with this workflow. Incidents in any of the listed Services are eligible to fire this Trigger
            items:
              type: object
              properties:
                id:
                  type: string
                summary:
                  type: string
                  nullable: true
                  readOnly: true
                  description: A short-form, server-generated string that provides succinct, important information about an object suitable for primary labeling of an entity in a client. In many cases, this will be identical to `name`, though it is not intended to be an identifier.
                type:
                  type: string
                  readOnly: true
                  description: A string that determines the schema of the object. This must be the standard name for the entity, suffixed by `_reference` if the object is a reference.
                  enum:
                  - service
                self:
                  type: string
                  nullable: true
                  readOnly: true
                  format: url
                  description: the API show URL at which the object is accessible
                html_url:
                  type: string
                  nullable: true
                  readOnly: true
                  format: url
                  description: a URL at which the entity is uniquely displayed in the Web app
          is_subscribed_to_all_services:
            type: boolean
            description: Indicates that the Trigger should be associated with All Services
          permissions:
            description: An object detailing who can start this Trigger. Applicable only to manual Triggers.
            type: object
            properties:
              restricted:
                type: boolean
                description: If true, indicates that the Trigger can only be started by authorized Users. If false, any user can start this Trigger. Applicable only to manual Triggers.
              team_id:
                type: string
                description: The ID of the team whose members can manually start this Trigger. Required and allowed if and only if permissions.restricted is true.
    IncidentWorkflowAction:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        properties:
          type:
            type: string
            enum:
            - action
          domain_name:
            type: string
            description: The Verified Domain of the account that created the action
          package_name:
            type: string
            description: The Package Name corresponding to the broad category of the Action
          function_name:
            type: string
            description: The Function Name describing the specific functionality of the Action
          version:
            type: number
            description: The version of the Action
          name:
            type: string
            description: The descriptive name of the Action
          description:
            type: string
            description: A description of the Action
          action_type:
            type: string
            description: The type of Action
            enum:
            - action
            - trigger
          trigger_type:
            type: string
            description: The type of Trigger this Action is, if action_type is trigger
            enum:
            - polling
            - subscription
            - web
          tags:
            type: array
            description: A set of tags to apply to this action.
            items:
              type: string
          search_keywords:
            type: array
            description: A set of search keywords to apply to this action.
            items:
              type: string
          metadata:
            type: string
            description: JSON-formatted string of metadata pertaining to the Action
          created_at:
            type: string
            format: date-time
            description: The date-time at which this Action was created
          created_by_user_id:
            type: string
            description: The obfuscated Id of the User who created this Action
          inputs:
            type: array
            description: Inputs whose values used during Action execution
            items:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Input
                description:
                  type: string
                  description: Describes what the purpose of the Input
                type:
                  type: string
                  description: The data type of this Input
                  enum:
                  - text
                  - password
                  - integer
                  - decimal
                  - date
                  - dateTime
                  - boolean
                  - singleChoice
                  - multipleChoice
                  - json
                  - connection
                  - trigger
                default_value:
                  type: string
                  description: Serialized form of the default value that the input will take
                is_required:
                  type: boolean
                  description: Whether a value must be provided for this input
                is_hidden:
                  type: boolean
                  description: If true then this input will not be shown to users when configuring this action
                advanced:
                  type: boolean
                metadata:
                  type: string
                connection_type_id:
                  type: string
                  description: The configured value of the Input
          outputs:
            type: array
            description: Outputs whose values set during Action execution
            readOnly: true
            items:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Output
                description:
                  type: string
                type:
                  type: string
                  description: The data type produced by this Output
                  enum:
                  - text
                  - password
                  - integer
                  - decimal
                  - date
                  - dateTime
                  - boolean
                  - singleChoice
                  - multipleChoice
                  - json
    IncidentWorkflow:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        properties:
          type:
            type: string
            enum:
            - incident_workflow
          name:
            type: string
            description: A descriptive name for the Incident Workflow
          description:
            type: string
            description: A description of what the Incident Workflow does
          created_at:
            type: string
            format: date-time
            description: The timestamp this Incident Workflow was created
            readOnly: true
          team:
            type: object
            readOnly: false
            description: If specified then workflow edit permissions will be scoped to members of this team
            properties:
              type:
                type: string
                description: Type of the referenced object
                readOnly: true
                enum:
                - team_reference
              id:
                type: string
                description: Unique identifier for the resource
                readOnly: true
          steps:
            type: array
            description: The ordered list of steps that execute sequentially as part of the workflow
            items:
              allOf:
              - $ref: '#/components/schemas/Tag/allOf/0'
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - step
                  name:
                    type: string
                    description: A descriptive name for the Step
                  description:
                    type: string
                    readOnly: true
                    description: A description of the action performed by the Step
                  action_configuration:
                    description: Configuration of automated action executed by this Step
                    type: object
                    properties:
                      action_id:
                        type: string
                        description: The identifier of the Action to execute
                      description:
                        type: string
                        description: Description of the Action
                        readOnly: true
                      inputs:
                        type: array
                        description: An unordered list of standard inputs used to configure the Action to execute
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name for this Input. Input names are unique per action and should be used to find a specific Input.
                            parameter_type:
                              type: string
                              description: The data type of this Input
                              readOnly: true
                            value:
                              type: string
                              description: The configured value of the Input
                          required:
                          - name
                          - value
                      inline_steps_inputs:
                        type: array
                        description: An unordered list of specialized inputs used to configure a workflow-within-a-workflow
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name for this Input. Input names are unique per action and should be used to find a specific Input.
                            value:
                              type: object
                              description: The configured value of the Inline Steps Input
                              properties:
                                steps:
                                  type: array
                                  items:
                                    allOf:
                                    - $ref: '#/components/schemas/Tag/allOf/0'
                                    - type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - step
                                        name:
                                          type: string
                                          description: A descriptive name for the Step
                                        action_configuration:
                                          description: Configuration of automated action executed by this Step
                                          type: object
                                          properties:
                                            action_id:
                                              type: string
                                              description: The identifier of the Action to execute
                                            description:
                                              type: string
                                              description: Description of the Action
                                              readOnly: true
                                            inputs:
                                              type: array
                                              description: An unordered list of standard inputs used to configure the Action to execute
                                              items:
                                                type: object
                                                properties:
                                                  name:
                                                    type: string
                                                    description: The name for this Input. Input names are unique per action and should be used to find a specific Input.
                                                  parameter_type:
                                                    type: string
                                                    description: The data type of this Input
                                                    readOnly: true
                                                  value:
                                                    type: string
                                                    description: The configured value of the Input
                                                required:
                                                - name
                                                - value
                                            outputs:
                                              type: array
                                              description: An unordered list of outputs this action produces
                                              readOnly: true
                                              items:
                                                type: object
                                                properties:
                                                  name:
                                                    type: string
                                                    description: The name for this Output. Output names are unique per action and should be used to find a specific Output.
                                                    readOnly: true
                                                  reference_name:
                                                    type: string
                                                    description: The reference name of the Output
                                                    readOnly: true
                                                  parameter_type:
                                                    type: string
                                                    description: The data type produced by this Output
                                                    readOnly: true
                                                required:
                                                - name
                                                - value
                                          required:
                                          - action_id
                                          - inputs
                                      required:
                                      - name
                                      - action_configuration
                          required:
                          - name
                          - value
                      outputs:
                        type: array
                        description: An unordered list of outputs this action produces
                        readOnly: true
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name for this Output. Output names are unique per action and should be used to find a specific Output.
                              readOnly: true
                            reference_name:
                              type: string
                              description: The reference name of the Output
                              readOnly: true
                            parameter_type:
                              type: string
                              description: The data type produced by this Output
                              readOnly: true
                          required:
                          - name
                          - value
                    required:
                    - action_id
                    - inputs
                required:
                - name
                - action_configuration
    CursorPagination:
      type: object
      properties:
        limit:
          type: integer
          description: The minimum of the `limit` parameter used in the request or the maximum request size of the API.
          readOnly: true
        next_cursor:
          type: string
          description: 'An opaque string than will deliver the next set of results when provided as the `cursor` parameter in a subsequent request.  A `null` value for this field indicates that there are no additional results.

            '
          example: dXNlcjaVMzc5V0ZYTlo=
          nullable: true
          readOnly: true
      required:
      - limit
      - next_cursor
    Reference:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        required:
        - type
        - id
    Pagination:
      type: object
      properties:
        offset:
          type: integer
          description: Echoes offset pagination property.
          readOnly: true
        limit:
          type: integer
          description: Echoes limit pagination property.
          readOnly: true
        more:
          type: boolean
          description: Indicates if there are additional records to return
          readOnly: true
        total:
          type: integer
          description: The total number of records matching the given query.
          nullable: true
          readOnly: true
    Tag:
      allOf:
      - type: object
        properties:
          id:
            type: string
            readOnly: true
          summary:
            type: string
            nullable: true
            readOnly: true
            description: A short-form, server-generated string that provides succinct, important information about an object suitable for primary labeling of an entity in a client. In many cases, this will be identical to `name`, though it is not intended to be an identifier.
          type:
            type: string
            readOnly: true
            description: A string that determines the schema of the object. This must be the standard name for the entity, suffixed by `_reference` if the object is a reference.
          self:
            type: string
            nullable: true
            readOnly: true
            format: url
            description: the API show URL at which the object is accessible
          html_url:
            type: string
            nullable: true
            readOnly: true
            format: url
            description: a URL at which the entity is uniquely displayed in the Web app
      - type: object
        properties:
          type:
            type: string
            description: The type of object being created.
            default: tag
            enum:
            - tag
          label:
            type: string
            description: The label of the tag.
            maxLength: 191
        required:
        - label
        - type
        example:
          type: tag
          label: Batman
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
      description: The API Key with format `Token token=<API_KEY>`
