openapi: 3.0.2
info:
  description: 'This document describes the PagerDuty REST APIs.


    For guides and examples please visit our [Documentation.](https://developer.pagerduty.com/docs/get-started/getting-started/)


    Our REST APIs are defined in OpenAPI v3.x. You can view the schema at [github.com/PagerDuty/api-schema](https://github.com/PagerDuty/api-schema).


    Note that properties in some schemas have fields not shown by default such as `readOnly`, `format`, and `default`. Hover your cursor over the right column that looks like `optional+1` to see the full list of fields.

    '
  contact:
    name: PagerDuty Support
    url: http://www.pagerduty.com/support
    email: support@pagerduty.com
  title: PagerDuty Abilities Users API
  version: 2.0.0
servers:
- url: https://api.pagerduty.com
  description: PagerDuty V2 API.
security:
- api_key: []
tags:
- name: Users
  description: 'Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.

    '
paths:
  /users:
    description: List and create users.
    get:
      x-pd-requires-scope: users.read
      tags:
      - Users
      operationId: listUsers
      description: 'List users of your PagerDuty account, optionally filtered by a search query.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.read`

        '
      summary: PagerDuty List users
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/team_ids'
      - $ref: '#/components/parameters/offset_limit'
      - $ref: '#/components/parameters/offset_offset'
      - $ref: '#/components/parameters/offset_total'
      - $ref: '#/components/parameters/include_user'
      responses:
        '200':
          description: A paginated array of users.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    users:
                      type: array
                      items:
                        $ref: '#/components/schemas/User'
                  required:
                  - users
              examples:
                response:
                  summary: Response Example
                  value:
                    users:
                    - id: PXPGF42
                      type: user
                      summary: Earline Greenholt
                      self: https://api.pagerduty.com/users/PXPGF42
                      html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      name: Earline Greenholt
                      email: 125.greenholt.earline@graham.name
                      time_zone: America/Lima
                      color: green
                      role: admin
                      avatar_url: https://secure.gravatar.com/avatar/a8b714a39626f2444ee05990b078995f.png?d=mm&r=PG
                      description: I'm the boss
                      invitation_sent: false
                      contact_methods:
                      - id: PTDVERC
                        type: email_contact_method_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PTDVERC
                      notification_rules:
                      - id: P8GRWKK
                        type: assignment_notification_rule_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/notification_rules/P8GRWKK
                        html_url: null
                      job_title: Director of Engineering
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                    - id: PAM4FGS
                      type: user
                      summary: Kyler Kuhn
                      self: https://api.pagerduty.com/users/PAM4FGS
                      html_url: https://subdomain.pagerduty.com/users/PAM4FGS
                      name: Kyler Kuhn
                      email: 126_dvm_kyler_kuhn@beahan.name
                      time_zone: Asia/Hong_Kong
                      color: red
                      role: admin
                      avatar_url: https://secure.gravatar.com/avatar/47857d059adacf9a41dc4030c2e14b0a.png?d=mm&r=PG
                      description: Actually, I am the boss
                      invitation_sent: false
                      contact_methods:
                      - id: PVMGSML
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PAM4FGS/contact_methods/PVMGSMLL
                      notification_rules:
                      - id: P8GRWKK
                        type: assignment_notification_rule_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/notification_rules/P8GRWKK
                        html_url: null
                      job_title: Senior Engineer
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
                    limit: 25
                    offset: 0
                    more: false
                    total: null
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: users.write
      tags:
      - Users
      operationId: createUser
      description: 'Create a new user.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Create a user
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/from_header'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  allOf:
                  - $ref: '#/components/schemas/User'
                  - properties:
                      license:
                        allOf:
                        - description: The License assigned to the User
                        - $ref: '#/components/schemas/LicenseReference'
              required:
              - user
            examples:
              request:
                summary: Request Example
                value:
                  user:
                    type: user
                    name: Earline Greenholt
                    email: 125.greenholt.earline@graham.name
                    time_zone: America/Lima
                    color: green
                    role: admin
                    job_title: Director of Engineering
                    avatar_url: https://secure.gravatar.com/avatar/1d1a39d4635208d5664082a6c654a73f.png?d=mm&r=PG
                    description: I'm the boss
                    license:
                      id: PTDVERC
                      type: license_reference
        description: The user to be created.
      responses:
        '201':
          description: The user that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                required:
                - user
              examples:
                response:
                  summary: Response Example
                  value:
                    user:
                      id: PXPGF42
                      type: user
                      summary: Earline Greenholt
                      self: https://api.pagerduty.com/users/PXPGF42
                      html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      name: Earline Greenholt
                      email: 125.greenholt.earline@graham.name
                      time_zone: America/Lima
                      color: green
                      role: admin
                      avatar_url: https://secure.gravatar.com/avatar/a8b714a39626f2444ee05990b078995f.png?d=mm&r=PG
                      description: I'm the boss
                      invitation_sent: false
                      contact_methods:
                      - id: PTDVERC
                        type: email_contact_method_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PTDVERC
                      notification_rules:
                      - id: P8GRWKK
                        type: assignment_notification_rule_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/notification_rules/P8GRWKK
                        html_url: null
                      job_title: Director of Engineering
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}:
    description: Manage a user.
    get:
      x-pd-requires-scope: users.read
      tags:
      - Users
      operationId: getUser
      description: 'Get details about an existing user.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.read`

        '
      summary: PagerDuty Get a user
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/include_user'
      responses:
        '200':
          description: The user requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                required:
                - user
              examples:
                response:
                  summary: Response Example
                  value:
                    user:
                      id: PXPGF42
                      type: user
                      summary: Earline Greenholt
                      self: https://api.pagerduty.com/users/PXPGF42
                      html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      name: Earline Greenholt
                      email: 125.greenholt.earline@graham.name
                      time_zone: America/Lima
                      color: green
                      role: admin
                      avatar_url: https://secure.gravatar.com/avatar/a8b714a39626f2444ee05990b078995f.png?d=mm&r=PG
                      description: I'm the boss
                      invitation_sent: false
                      contact_methods:
                      - id: PTDVERC
                        type: email_contact_method_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PTDVERC
                      notification_rules:
                      - id: P8GRWKK
                        type: assignment_notification_rule_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/notification_rules/P8GRWKK
                        html_url: null
                      job_title: Director of Engineering
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: users.write
      tags:
      - Users
      operationId: deleteUser
      description: 'Remove an existing user.


        Returns 400 if the user has assigned incidents unless your [pricing plan](https://www.pagerduty.com/pricing) has the `offboarding` feature and the account is [configured](https://support.pagerduty.com/docs/offboarding#section-additional-configurations) appropriately.


        Note that the incidents reassignment process is asynchronous and has no guarantee to complete before the api call return.


        [*Learn more about `offboarding` feature*](https://support.pagerduty.com/docs/offboarding).


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Delete a user
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: The user was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: users.write
      tags:
      - Users
      operationId: updateUser
      description: 'Update an existing user.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Update a user
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  allOf:
                  - $ref: '#/components/schemas/User'
                  - properties:
                      license:
                        allOf:
                        - description: The License assigned to the User
                        - $ref: '#/components/schemas/LicenseReference'
              required:
              - user
            examples:
              request:
                summary: Request Example
                value:
                  user:
                    type: user
                    name: Earline Greenholt
                    email: 125.greenholt.earline@graham.name
                    time_zone: America/Lima
                    color: green
                    role: admin
                    job_title: Director of Engineering
                    avatar_url: https://secure.gravatar.com/avatar/1d1a39d4635208d5664082a6c654a73f.png?d=mm&r=PG
                    description: I'm the boss
                    license:
                      id: PTDVERC
                      type: license_reference
        description: The user to be updated.
      responses:
        '200':
          description: The user that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                required:
                - user
              examples:
                response:
                  summary: Response Example
                  value:
                    user:
                      id: PXPGF42
                      type: user
                      summary: Earline Greenholt
                      self: https://api.pagerduty.com/users/PXPGF42
                      html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      name: Earline Greenholt
                      email: 125.greenholt.earline@graham.name
                      time_zone: America/Lima
                      color: green
                      role: admin
                      avatar_url: https://secure.gravatar.com/avatar/a8b714a39626f2444ee05990b078995f.png?d=mm&r=PG
                      description: I'm the boss
                      invitation_sent: false
                      contact_methods:
                      - id: PTDVERC
                        type: email_contact_method_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PTDVERC
                      notification_rules:
                      - id: P8GRWKK
                        type: assignment_notification_rule_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/notification_rules/P8GRWKK
                        html_url: null
                      job_title: Director of Engineering
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/audit/records:
    description: List audit records of changes made to the user.
    get:
      x-pd-requires-scope: audit_records.read
      tags:
      - Users
      operationId: listUsersAuditRecords
      summary: PagerDuty List audit records for a user
      description: 'The response will include audit records with changes that are made to the identified user not changes made by the identified user.



        The returned records are sorted by the `execution_time` from newest to oldest.


        See [`Cursor-based pagination`](https://developer.pagerduty.com/docs/rest-api-v2/pagination/) for instructions on how to paginate through the result set.


        For more information see the [Audit API Document](https://developer.pagerduty.com/docs/rest-api-v2/audit-records-api/).


        Scoped OAuth requires: `audit_records.read`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/cursor_limit'
      - $ref: '#/components/parameters/cursor_cursor'
      - $ref: '#/components/parameters/audit_since'
      - $ref: '#/components/parameters/audit_until'
      responses:
        '200':
          description: Records matching the query criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRecordResponseSchema'
              examples:
                response:
                  $ref: '#/components/examples/AuditRecordUserResponse'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/{id}/contact_methods:
    description: List a user's contact methods.
    get:
      x-pd-requires-scope: users:contact_methods.read
      tags:
      - Users
      operationId: getUserContactMethods
      description: 'List contact methods of your PagerDuty user.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.read`

        '
      summary: PagerDuty List a user's contact methods
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: A list of contact methods.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact_methods:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/PhoneContactMethod'
                      - $ref: '#/components/schemas/PushContactMethod'
                      - $ref: '#/components/schemas/EmailContactMethod'
              examples:
                response:
                  summary: Response Example
                  value:
                    contact_methods:
                    - id: PXPGF42
                      type: email_contact_method
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/contact_method/PXPGF42
                      label: Work
                      address: grady.haylie.126@hickle.net
                      send_short_email: false
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: users:contact_methods.write
      tags:
      - Users
      operationId: createUserContactMethod
      description: 'Create a new contact method for the User.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.write`

        '
      summary: PagerDuty Create a user contact method
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_method:
                  oneOf:
                  - $ref: '#/components/schemas/PhoneContactMethod'
                  - $ref: '#/components/schemas/PushContactMethod'
                  - $ref: '#/components/schemas/EmailContactMethod'
              required:
              - contact_method
            examples:
              request:
                summary: Request Example
                value:
                  contact_method:
                    id: PXPGF42
                    type: email_contact_method
                    summary: Work
                    self: https://api.pagerduty.com/users/PXPGF42/contact_method/PXPGF42
                    label: Work
                    address: grady.haylie.126@hickle.net
                    send_short_email: false
        description: The contact method to be created.
      responses:
        '201':
          description: The contact method that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact_method:
                    oneOf:
                    - $ref: '#/components/schemas/PhoneContactMethod'
                    - $ref: '#/components/schemas/PushContactMethod'
                    - $ref: '#/components/schemas/EmailContactMethod'
              examples:
                response:
                  summary: Response Example
                  value:
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/contact_method/PXPGF42
                      label: Work
                      address: grady.haylie.126@hickle.net
                      send_short_email: false
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/contact_methods/{contact_method_id}:
    description: Manage a user's contact method.
    get:
      x-pd-requires-scope: users:contact_methods.read
      tags:
      - Users
      operationId: getUserContactMethod
      description: 'Get details about a User''s contact method.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.read`

        '
      summary: PagerDuty Get a user's contact method
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_contact_method_id'
      responses:
        '200':
          description: The user's contact method requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact_method:
                    oneOf:
                    - $ref: '#/components/schemas/PhoneContactMethod'
                    - $ref: '#/components/schemas/PushContactMethod'
                    - $ref: '#/components/schemas/EmailContactMethod'
              examples:
                response:
                  summary: Response Example
                  value:
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/contact_method/PXPGF42
                      label: Work
                      address: grady.haylie.126@hickle.net
                      send_short_email: false
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: users:contact_methods.write
      tags:
      - Users
      operationId: deleteUserContactMethod
      description: 'Remove a user''s contact method.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.write`

        '
      summary: PagerDuty Delete a user's contact method
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_contact_method_id'
      responses:
        '204':
          description: The contact method was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: users:contact_methods.write
      tags:
      - Users
      operationId: updateUserContactMethod
      description: 'Update a User''s contact method.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.write`

        '
      summary: PagerDuty Update a user's contact method
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_contact_method_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_method:
                  oneOf:
                  - $ref: '#/components/schemas/PhoneContactMethod'
                  - $ref: '#/components/schemas/PushContactMethod'
                  - $ref: '#/components/schemas/EmailContactMethod'
              required:
              - contact_method
            examples:
              request:
                summary: Request Example
                value:
                  contact_method:
                    id: PXPGF42
                    type: email_contact_method
                    summary: Work
                    self: https://api.pagerduty.com/users/PXPGF42/contact_method/PXPGF42
                    label: Work
                    address: grady.haylie.126@hickle.net
                    send_short_email: false
        description: The user's contact method to be updated.
      responses:
        '200':
          description: The user's contact method that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact_method:
                    oneOf:
                    - $ref: '#/components/schemas/PhoneContactMethod'
                    - $ref: '#/components/schemas/PushContactMethod'
                    - $ref: '#/components/schemas/EmailContactMethod'
              examples:
                response:
                  summary: Response Example
                  value:
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/contact_method/PXPGF42
                      label: Work
                      address: grady.haylie.126@hickle.net
                      send_short_email: false
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/license:
    description: The License allocated to a User
    get:
      x-pd-requires-scope: licenses.read
      tags:
      - Users
      operationId: getUserLicense
      description: 'Get the License allocated to a User


        Scoped OAuth requires: `licenses.read`

        '
      summary: PagerDuty Get the License allocated to a User
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: The License allocated to the User
          content:
            application/json:
              schema:
                type: object
                properties:
                  license:
                    $ref: '#/components/schemas/LicenseWithCounts/allOf/0'
                required:
                - license
              examples:
                response:
                  summary: Response Example
                  value:
                    license:
                      id: PIP248G
                      name: Business (Full User)
                      description: Event Intelligence
                      valid_roles:
                      - owner
                      - admin
                      - user
                      - limited_user
                      - observer
                      - restricted_access
                      role_group: FullUser
                      summary: Business (Full User)
                      type: license
                      self: null
                      html_url: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{id}/notification_rules:
    description: List a user's notification rules.
    get:
      x-pd-requires-scope: users:contact_methods.read
      tags:
      - Users
      operationId: getUserNotificationRules
      description: 'List notification rules of your PagerDuty user.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.read`

        '
      summary: PagerDuty List a user's notification rules
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/include_notification_rules'
      - $ref: '#/components/parameters/urgency'
      responses:
        '200':
          description: A list of notification rules.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/NotificationRule'
                required:
                - notification_rules
              examples:
                response:
                  summary: Response Example
                  value:
                    notification_rules:
                    - id: PXPGF42
                      type: assignment_notification_rule
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/notification_rules/PPSCXAN
                      start_delay_in_minutes: 0
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
                        html_url: null
                      created_at: '2016-02-01T16:06:27-05:00'
                      urgency: high
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: users:contact_methods.write
      tags:
      - Users
      operationId: createUserNotificationRule
      description: 'Create a new notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.write`

        '
      summary: PagerDuty Create a user notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_rule:
                  $ref: '#/components/schemas/NotificationRule'
              required:
              - notification_rule
            examples:
              request:
                summary: Request Example
                value:
                  notification_rule:
                    type: assignment_notification_rule
                    start_delay_in_minutes: 0
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method_reference
                    urgency: high
        description: The notification rule to be created.
      responses:
        '201':
          description: The notification rule that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_rule:
                    $ref: '#/components/schemas/NotificationRule'
                required:
                - notification_rule
              examples:
                response:
                  summary: Response Example
                  value:
                    notification_rule:
                      id: PXPGF42
                      type: assignment_notification_rule
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/notification_rules/PPSCXAN
                      start_delay_in_minutes: 0
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
                        html_url: null
                      created_at: '2016-02-01T16:06:27-05:00'
                      urgency: high
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/notification_rules/{notification_rule_id}:
    description: Manage a user's notification rule.
    get:
      x-pd-requires-scope: users:contact_methods.read
      tags:
      - Users
      operationId: getUserNotificationRule
      description: 'Get details about a user''s notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.read`

        '
      summary: PagerDuty Get a user's notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_notification_rule_id'
      - $ref: '#/components/parameters/include_notification_rules'
      responses:
        '200':
          description: The user's notification rule requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_rule:
                    $ref: '#/components/schemas/NotificationRule'
                required:
                - notification_rule
              examples:
                response:
                  summary: Response Example
                  value:
                    notification_rule:
                      id: PXPGF42
                      type: assignment_notification_rule
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/notification_rules/PPSCXAN
                      start_delay_in_minutes: 0
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
                      created_at: '2016-02-01T16:06:27-05:00'
                      urgency: high
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: users:contact_methods.write
      tags:
      - Users
      operationId: deleteUserNotificationRule
      description: 'Remove a user''s notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.write`

        '
      summary: PagerDuty Delete a user's notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_notification_rule_id'
      responses:
        '204':
          description: The notification rule was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: users:contact_methods.write
      tags:
      - Users
      operationId: updateUserNotificationRule
      description: 'Update a user''s notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:contact_methods.write`

        '
      summary: PagerDuty Update a user's notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_notification_rule_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_rule:
                  $ref: '#/components/schemas/NotificationRule'
              required:
              - notification_rule
            examples:
              request:
                summary: Request Example
                value:
                  notification_rule:
                    type: assignment_notification_rule
                    start_delay_in_minutes: 0
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method_reference
                    urgency: high
        description: The user's notification rule to be updated.
      responses:
        '200':
          description: The user's notification rule that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_rule:
                    $ref: '#/components/schemas/NotificationRule'
              examples:
                response:
                  summary: Response Example
                  value:
                    notification_rule:
                      id: PXPGF42
                      type: assignment_notification_rule
                      summary: Work
                      self: https://api.pagerduty.com/users/PXPGF42/notification_rules/PPSCXAN
                      start_delay_in_minutes: 0
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
                      created_at: '2016-02-01T16:06:27-05:00'
                      urgency: high
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/notification_subscriptions:
    get:
      x-pd-requires-scope: subscribers.read
      tags:
      - Users
      operationId: getUserNotificationSubscriptions
      description: 'Retrieve a list of Notification Subscriptions the given User has.


        <!-- theme: warning -->

        > Users must be added through `POST /users/{id}/notification_subscriptions` to be returned from this endpoint.


        Scoped OAuth requires: `subscribers.read`

        '
      summary: PagerDuty List Notification Subscriptions
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Pagination'
                - type: object
                  properties:
                    subscriptions:
                      type: array
                      items:
                        type: object
                        properties:
                          subscription:
                            $ref: '#/components/schemas/NotificationSubscription'
                          subscribable_name:
                            type: string
                            nullable: true
                            description: The name of the subscribable
                  required:
                  - subscriptions
              examples:
                response:
                  summary: Response Example
                  value:
                    subscriptions:
                    - subscription:
                        subscriber_id: PD1234
                        subscriber_type: user
                        subscribable_id: PD1234
                        subscribable_type: incident
                        subscribable_name: null
                        account_id: PD1234
                    - subscription:
                        subscriber_id: PD1234
                        subscriber_type: user
                        subscribable_id: PD1234
                        subscribable_type: business_service
                        subscribable_name: business service name
                        account_id: PD1234
                    limit: 2
                    offset: 0
                    total: 1000
                    more: true
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: subscribers.write
      summary: PagerDuty Create Notification Subcriptions
      operationId: createUserNotificationSubscriptions
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/NotificationSubscriptionWithContext'
              examples:
                response:
                  summary: Response Example
                  value:
                    subscriptions:
                    - account_id: PD1234
                      subscribable_id: PD1234
                      subscribable_type: incident
                      subscriber_id: PD1234
                      subscriber_type: user
                      result: success
                    - account_id: PD1234
                      subscribable_id: PD1234
                      subscribable_type: business_service
                      subscriber_id: PD1234
                      subscriber_type: user
                      result: duplicate
                    - account_id: PD1234
                      subscribable_id: PD1235
                      subscribable_type: business_service
                      subscriber_id: PD1234
                      subscriber_type: user
                      result: unauthorized
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      description: 'Create new Notification Subscriptions for the given User.


        Scoped OAuth requires: `subscribers.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribables:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/NotificationSubscribable'
              required:
              - subscribables
            examples:
              request:
                summary: Request Example
                value:
                  subscribables:
                  - subscribable_type: incident
                    subscribable_id: PD1234
                  - subscribable_type: business_service
                    subscribable_id: PD1234
                  - subscribable_type: business_service
                    subscribable_id: PD1235
        description: The entities to subscribe to.
  /users/{id}/notification_subscriptions/unsubscribe:
    post:
      x-pd-requires-scope: subscribers.write
      summary: PagerDuty Remove Notification Subscriptions
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted_count:
                    type: number
                  unauthorized_count:
                    type: number
                  non_existent_count:
                    type: number
                required:
                - deleted_count
                - unauthorized_count
                - non_existent_count
              examples:
                response:
                  summary: Response Example
                  value:
                    deleted_count: 1
                    unauthorized_count: 1
                    non_existent_count: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      operationId: unsubscribeUserNotificationSubscriptions
      description: 'Unsubscribe the given User from Notifications on the matching Subscribable entities.


        Scoped OAuth requires: `subscribers.write`

        '
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subscribables:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/NotificationSubscribable'
              required:
              - subscribables
            examples:
              request:
                summary: Response Example
                value:
                  subscribables:
                  - subscribable_type: incident
                    subscribable_id: PD1234
                  - subscribable_type: business_service
                    subscribable_id: PD1234
        description: The entities to unsubscribe from.
  /users/{id}/oncall_handoff_notification_rules:
    description: List a User's Oncall Handoff Notification Rules.
    get:
      tags:
      - Users
      x-pd-requires-scope: users.read
      operationId: getUserHandoffNotificationRules
      description: 'List Handoff Notification Rules of your PagerDuty User.

        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.read`

        '
      summary: PagerDuty List a User's Handoff Notification Rules
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: A list of Handoff Notification Rules.
          content:
            application/json:
              schema:
                type: object
                properties:
                  oncall_handoff_notification_rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/HandoffNotificationRule'
                required:
                - oncall_handoff_notification_rules
              examples:
                response:
                  summary: Response Example
                  value:
                    oncall_handoff_notification_rules:
                    - id: PXPGF42
                      handoff_type: both
                      notify_advance_in_minutes: 0
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
      - Users
      x-pd-requires-scope: users.write
      operationId: createUserHandoffNotificationRule
      description: 'Create a new Handoff Notification Rule.

        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Create a User Handoff Notification Rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                oncall_handoff_notification_rule:
                  $ref: '#/components/schemas/HandoffNotificationRule'
              required:
              - oncall_handoff_notification_rule
            examples:
              request:
                summary: Request Example
                value:
                  oncall_handoff_notification_rule:
                    id: PXPGF43
                    handoff_type: both
                    notify_advance_in_minutes: 180
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method_reference
        description: The Handoff Notification Rule to be created.
      responses:
        '201':
          description: The Handoff Notification Rule that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  oncall_handoff_notification_rule:
                    $ref: '#/components/schemas/HandoffNotificationRule'
                required:
                - oncall_handoff_notification_rule
              examples:
                response:
                  summary: Response Example
                  value:
                    oncall_handoff_notification_rule:
                      id: PXPGF42
                      handoff_type: both
                      notify_advance_in_minutes: 180
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/oncall_handoff_notification_rules/{oncall_handoff_notification_rule_id}:
    description: Manage a User's Handoff Notification Rule.
    get:
      tags:
      - Users
      x-pd-requires-scope: users.read
      operationId: getUserHandoffNotifiactionRule
      description: 'Get details about a User''s Handoff Notification Rule.

        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.read`

        '
      summary: PagerDuty Get a user's handoff notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/oncall_handoff_notification_rule_id'
      responses:
        '200':
          description: The user's handoff notification rule requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  oncall_handoff_notification_rule:
                    $ref: '#/components/schemas/HandoffNotificationRule'
                required:
                - oncall_handoff_notification_rule
              examples:
                response:
                  summary: Response Example
                  value:
                    oncall_handoff_notification_rule:
                      id: PXPGF42
                      handoff_type: both
                      notify_advance_in_minutes: 60
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
      - Users
      x-pd-requires-scope: users.write
      operationId: deleteUserHandoffNotificationRule
      description: 'Remove a User''s Handoff Notification Rule.

        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Delete a User's Handoff Notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/oncall_handoff_notification_rule_id'
      responses:
        '204':
          description: The handoff notification rule was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
      - Users
      x-pd-requires-scope: users.write
      operationId: updateUserHandoffNotification
      description: 'Update a User''s Handoff Notification Rule.

        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.

        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Update a User's Handoff Notification Rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/oncall_handoff_notification_rule_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                oncall_handoff_notification_rule:
                  $ref: '#/components/schemas/HandoffNotificationRule'
              required:
              - oncall_handoff_notification_rule
            examples:
              request:
                summary: Request Example
                value:
                  oncall_handoff_notification_rule:
                    id: PXPGF42
                    handoff_type: both
                    notify_advance_in_minutes: 60
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method_reference
        description: The User's Handoff Notification Rule to be updated.
      responses:
        '200':
          description: The User's Handoff Notification Rule that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  oncall_handoff_notification_rule:
                    $ref: '#/components/schemas/HandoffNotificationRule'
              examples:
                response:
                  summary: Response Example
                  value:
                    oncall_handoff_notification_rule:
                      id: PXPGF42
                      handoff_type: oncall
                      notify_advance_in_minutes: 30
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/sessions:
    description: List a user's active sessions.
    get:
      x-pd-requires-scope: users:sessions.read
      tags:
      - Users
      operationId: getUserSessions
      description: 'List active sessions of a PagerDuty user.


        Beginning November 2021, active sessions no longer includes newly issued OAuth tokens.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:sessions.read`

        '
      summary: PagerDuty List a user's active sessions
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: A list of the user's active sessions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSession'
                required:
                - user_sessions
              examples:
                response:
                  summary: Response Example
                  value:
                    user_sessions:
                    - id: PXPGF42
                      user_id: PXPGF42
                      created_at: '2018-10-06T21:30:42Z'
                      summary: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36
                      type: browser
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: users:sessions.write
      tags:
      - Users
      operationId: deleteUserSessions
      description: 'Delete all user sessions.


        Beginning November 2021, user sessions no longer includes newly issued OAuth tokens.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:sessions.write`

        '
      summary: PagerDuty Delete all user sessions
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      responses:
        '204':
          description: The user sessions were all deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/sessions/{type}/{session_id}:
    description: Manage a user's active session.
    get:
      x-pd-requires-scope: users:sessions.read
      tags:
      - Users
      operationId: getUserSession
      description: 'Get details about a user''s session.


        Beginning November 2021, user sessions no longer includes newly issued OAuth tokens.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:sessions.read`

        '
      summary: PagerDuty Get a user's session
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/type'
      - $ref: '#/components/parameters/session_id'
      responses:
        '200':
          description: The user's session requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_session:
                    $ref: '#/components/schemas/UserSession'
                required:
                - user_session
              examples:
                response:
                  summary: Response Example
                  value:
                    user_session:
                      id: PXPGF42
                      user_id: PXPGF42
                      created_at: '2018-10-06T21:30:42Z'
                      summary: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36
                      type: browser
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: users:sessions.write
      tags:
      - Users
      operationId: deleteUserSession
      description: 'Delete a user''s session.


        Beginning November 2021, user sessions no longer includes newly issued OAuth tokens.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users:sessions.write`

        '
      summary: PagerDuty Delete a user's session
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/type'
      - $ref: '#/components/parameters/session_id'
      responses:
        '204':
          description: The user session was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/status_update_notification_rules:
    description: List a user's status update notification rules.
    get:
      x-pd-requires-scope: users.read
      tags:
      - Users
      operationId: getUserStatusUpdateNotificationRules
      description: 'List status update notification rules of your PagerDuty user.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        <!-- theme: warning -->

        > ### Early Access

        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.read`

        '
      summary: PagerDuty List a user's status update notification rules
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/early_access_status-update-notification-rules'
      - $ref: '#/components/parameters/include_notification_rules'
      responses:
        '200':
          description: A list of status update notification rules.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_update_notification_rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatusUpdateNotificationRule'
                required:
                - status_update_notification_rules
              examples:
                response:
                  summary: Response Example
                  value:
                    status_update_notification_rules:
                    - id: PXPGF42
                      type: status_update_notification_rule
                      summary: contact method PXPGF42 used as status_update_notification_rule
                      self: https://api.pagerduty.com/users/PXPGF42/status_update_notification_rules/PPSCXAN
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
                        html_url: null
                      created_at: '2016-02-01T16:06:27-05:00'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      x-pd-requires-scope: users.write
      tags:
      - Users
      operationId: createUserStatusUpdateNotificationRule
      description: 'Create a new status update notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        <!-- theme: warning -->

        > ### Early Access

        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Create a user status update notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/early_access_status-update-notification-rules'
      - $ref: '#/components/parameters/id'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                status_update_notification_rule:
                  $ref: '#/components/schemas/StatusUpdateNotificationRule'
              required:
              - status_update_notification_rule
            examples:
              request:
                summary: Request Example
                value:
                  status_update_notification_rule:
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method_reference
        description: The status update notification rule to be created.
      responses:
        '201':
          description: The status update notification rule that was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_update_notification_rule:
                    $ref: '#/components/schemas/StatusUpdateNotificationRule'
                required:
                - status_update_notification_rule
              examples:
                response:
                  summary: Response Example
                  value:
                    status_update_notification_rule:
                      id: PXPGF42
                      type: status_update_notification_rule
                      summary: contact method PXPGF42 used as status_update_notification_rule
                      self: https://api.pagerduty.com/users/PXPGF42/status_update_notification_rules/PPSCXAN
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
                        html_url: null
                      created_at: '2016-02-01T16:06:27-05:00'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{id}/status_update_notification_rules/{status_update_notification_rule_id}:
    description: Manage a user's status update notification rule.
    get:
      x-pd-requires-scope: users.read
      tags:
      - Users
      operationId: getUserStatusUpdateNotificationRule
      description: 'Get details about a user''s status update notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        <!-- theme: warning -->

        > ### Early Access

        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.read`

        '
      summary: PagerDuty Get a user's status update notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/early_access_status-update-notification-rules'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_status_update_notification_rule_id'
      - $ref: '#/components/parameters/include_notification_rules'
      responses:
        '200':
          description: The user's status update notification rule requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_rule:
                    $ref: '#/components/schemas/StatusUpdateNotificationRule'
                required:
                - notification_rule
              examples:
                response:
                  summary: Response Example
                  value:
                    notification_rule:
                      id: PXPGF42
                      type: status_update_notification_rule
                      summary: contact method PXPGF42 used as status_update_notification_rule
                      self: https://api.pagerduty.com/users/PXPGF42/status_update_notification_rules/PPSCXAN
                      contact_method:
                        id: PTDVERC
                        type: email_contact_method_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PTDVERC
                        html_url: null
                      created_at: '2016-02-01T16:06:27-05:00'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      x-pd-requires-scope: users.write
      tags:
      - Users
      operationId: deleteUserStatusUpdateNotificationRule
      description: 'Remove a user''s status update notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        <!-- theme: warning -->

        > ### Early Access

        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Delete a user's status update notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/early_access_status-update-notification-rules'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_status_update_notification_rule_id'
      responses:
        '204':
          description: The status update notification rule was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      x-pd-requires-scope: users.write
      tags:
      - Users
      operationId: updateUserStatusUpdateNotificationRule
      description: 'Update a user''s status update notification rule.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        <!-- theme: warning -->

        > ### Early Access

        > This endpoint is in Early Access and may change at any time. You must pass in the X-EARLY-ACCESS header to access it.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)


        Scoped OAuth requires: `users.write`

        '
      summary: PagerDuty Update a user's status update notification rule
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/early_access_status-update-notification-rules'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_status_update_notification_rule_id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status_update_notification_rule:
                  $ref: '#/components/schemas/StatusUpdateNotificationRule'
              required:
              - status_update_notification_rule
            examples:
              request:
                summary: Request Example
                value:
                  status_update_notification_rule:
                    contact_method:
                      id: PXPGF42
                      type: email_contact_method_reference
        description: The user's status update notification rule to be updated.
      responses:
        '200':
          description: The user's status update notification rule that was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_rule:
                    $ref: '#/components/schemas/StatusUpdateNotificationRule'
              examples:
                response:
                  summary: Response Example
                  value:
                    status_update_notification_rule:
                      id: PXPGF42
                      type: status_update_notification_rule
                      summary: contact method PXPGF42 used as status_update_notification_rule
                      self: https://api.pagerduty.com/users/PXPGF42/status_update_notification_rules/PPSCXAN
                      contact_method:
                        id: PXPGF42
                        type: email_contact_method_reference
                        summary: Work
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PXPGF42
                        html_url: null
                      created_at: '2016-02-01T16:06:27-05:00'
        '400':
          $ref: '#/components/responses/ArgumentError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/me:
    description: Get the current user.
    get:
      tags:
      - Users
      operationId: getCurrentUser
      description: 'Get details about the current user.


        This endpoint can only be used with a [user-level API key](https://support.pagerduty.com/docs/using-the-api#section-generating-a-personal-rest-api-key) or a key generated through an OAuth flow. This will not work if the request is made with an account-level access token.


        Users are members of a PagerDuty account that have the ability to interact with Incidents and other data on the account.


        For more information see the [API Concepts Document](../../api-reference/ZG9jOjI3NDc5Nzc-api-concepts#users)

        '
      summary: PagerDuty Get the current user
      parameters:
      - $ref: '#/components/parameters/header_Accept'
      - $ref: '#/components/parameters/header_Content-Type'
      - $ref: '#/components/parameters/include_user'
      responses:
        '200':
          description: The requesting user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                required:
                - user
              examples:
                response:
                  summary: Response Example
                  value:
                    user:
                      id: PXPGF42
                      type: user
                      summary: Earline Greenholt
                      self: https://api.pagerduty.com/users/PXPGF42
                      html_url: https://subdomain.pagerduty.com/users/PXPGF42
                      name: Earline Greenholt
                      email: 125.greenholt.earline@graham.name
                      time_zone: America/Lima
                      color: green
                      role: admin
                      avatar_url: https://secure.gravatar.com/avatar/a8b714a39626f2444ee05990b078995f.png?d=mm&r=PG
                      description: null
                      invitation_sent: false
                      job_title: Director of Engineering
                      contact_methods:
                      - id: PTDVERC
                        type: email_contact_method_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/contact_methods/PTDVERC
                        html_url: null
                      notification_rules:
                      - id: P8GRWKK
                        type: assignment_notification_rule_reference
                        summary: Default
                        self: https://api.pagerduty.com/users/PXPGF42/notification_rules/PTDVERC
                        html_url: null
                      teams:
                      - id: PQ9K7I8
                        type: team_reference
                        summary: Engineering
                        self: https://api.pagerduty.com/teams/PQ9K7I8
                        html_url: https://subdomain.pagerduty.com/teams/PQ9K7I8
        '400':
          $ref: '#/components/responses/ArgumentError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    UserSession:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        user_id:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: The date/time the user session was first created.
        type:
          type: string
          readOnly: true
          description: The type of the session
          enum:
          - browser
          - oauth
        summary:
          type: string
          readOnly: true
          description: The summary of the session
      required:
      - id
      - user_id
      - created_at
      - type
      - summary
      example:
        id: PXPGF42
        user_id: PXPGF42
        created_at: '2018-10-06T21:30:42Z'
        summary: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36
        type: browser
    NotificationRule:
      allOf:
      - $ref: '#/components/schemas/Tag/allOf/0'
      - type: object
        description: A rule for contacting the user.
        properties:
          type:
            type: string
            description: The type of object being created.
            default: assignment_notification_rule
            enum:
            - assignment_notification_rule
          start_delay_in_minutes:
            type: integer
            description: The delay before firing the rule, in minutes.
            minimum: 0
          contact_method:
            $ref: '#/components/schemas/ContactMethodReference'
          urgency:
            type: string
            enum:
            - high
            - low
            description: Which incident urgency this rule is used for. Account must have the `urgencies` ability to have a low urgency notification rule.
        required:
        - start_delay_in_minutes
        - urgency
        - contact_method
        - type
        example:
          type: assignment_notification_rule
          start_delay_in_minutes: 0
          contact_method:
            id: PXPGF42
            type: email_contact_method_reference
          urgency: high
    LicenseWithCounts:
      allOf:
      - type: object
        required:
        - id
        - description
        - name
        - valid_roles
        properties:
          id:
            type: string
            description: Uniquely identifies the resource
          description:
            type: string
            description: 'Description of the License. May include the names of add-ons associated with

              the License, if there are any.

              '
          name:
            type: string
            description: 'Name of the License.

              '
          valid_roles:
            type: array
            description: The roles a User with this License can have
            items:
              type: string
          role_group:
            type: string
            enum:
            - FullUser
            - Stakeholder
            description: Indicates whether this License is assignable to full or stakeholder Users
            example: FullUser
          type:
            type: string
            description: Type of object
          self:
            type: string
            description: API URL to access the License
          html_url:
            type: string
            description: HTML URL to access the License
          summary:
            type: string
            description: Summary of the License
      - type: object
        properties:
          current_value:
            type: integer
            description: How many of these Licenses are currently allocated to Users
          allocations_available:
            type: integer
            nullable: true
            description: 'How many of these licenses are available to be allocated to a user. If this

              value is "null" then there is no limit on the number of allocations allowed.

              '
    NotificationSubscription:
      title: NotificationSubscription
      description: An object describing the relationship of a NotificationSubscriber and a NotificationSubscribable.
      type: object
      properties:
        subscriber_id:
          type: string
          description: The ID of the entity being subscribed
        subscriber_type:
          type: string
          description: The type of the entity being subscribed
          enum:
          - user
          - team
        subscribable_id:
          type: string
          description: The ID of the entity being subscribed to
        subscribable_type:
          type: string
          description: The type of the entity being subscribed to
          enum:
          - incident
          - business_service
        account_id:
          type: string
          description: The ID of the account belonging to the subscriber entity
      x-examples:
        example-1:
          subscriber_id: string
          subscriber_type: user
          subscribable_id: string
          subscribable_type: incident
          account_id: string
    PhoneContactMethod:
      description: The Phone Contact Method of the User, used for Voice or SMS.
      allOf:
      - $ref: '#/components/schemas/ContactMethod'
      - type: object
        properties:
          type:
            type: string
            enum:
            - phone_contact_method
            - sms_contact_method
          country_code:
            type: integer
            description: The 1-to-3 digit country calling code.
            minimum: 1
            maximum: 1999
          enabled:
            type: boolean
            description: If true, this phone is capable of receiving SMS messages.
            readOnly: true
          blacklisted:
            type: boolean
            description: If true, this phone has been blacklisted by PagerDuty and no messages will be sent to it.
            readOnly: true
        required:
        - country_code
        example:
          type: phone_contact_method
          label: work
          country_code: 123
          address: '1234567'
    AuditMetadata:
      type: object
      properties:
        messages:
          type: array
          nullable: true
          items:
            type: string
            example: Message about the result
    TeamReference:
      allOf:
      - $ref: '#/components/schemas/Reference'
      - type: object
        properties:
          type:
            type: string
            enum:
            - team_reference
    StatusUpdateNotificationRule:
      type: object
      description: A rule for contacting the user for Incident Status Updates.
      properties:
        contact_method:
          $ref: '#/components/schemas/ContactMethodReference'
      required:
      - contact_method
      example:
        contact_method:
          id: PXPGF42
          type: email_contact_method_reference
    PushContactMethod:
      description: The Push Contact Method of the User.
      allOf:
      - $ref: '#/components/schemas/ContactMethod'
      - type: object
        properties:
          type:
            type: string
            enum:
            - push_notification_contact_method
          device_type:
            type: string
            description: The type of device.
            enum:
            - android
            - ios
            readOnly: true
          sounds:
            type: array
            items:
              $ref: '#/components/schemas/PushContactMethodSound'
          created_at:
            type: string
            format: date-time
            description: Time at which the contact method was created.
          blacklisted:
            type: boolean
            description: If true, this phone has been blacklisted by PagerDuty and no messages will be sent to it.
            readOnly: true
        required:
        - device_type
        example:
          type: push_notification_contact_method
          label: work
          device_type: android
          address: '12341234'
[...]
